@media screen and (width: 1024px) and (orientation:landscape) {
    body {
        font-family: 'Open Sans', sans-serif;
        color: #263c5d;
    }

    .nav,
    .nav a,
    .nav ul,
    .nav li,
    .nav div,
    .nav form,
    .nav input {
        outline: none;
    }

    .nav a {
        text-decoration: none;
    }

    .nav li {
        list-style: none;
    }

    .nav {
        display: inline-block;
        position: relative;
        cursor: default;
        z-index: 199;
        width: 100%;
        background: #fff;
    }

    .nav>li {
        display: block;
        float: left;
    }

    .nav>li {
        position: static;
        display: block;
        min-width: 95px;
        text-align: center;
    }

    .nav>li>a {
        position: relative;
        display: block;
        z-index: 198;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
    }

    .submenu-area {
        height: 219px;
    }

    .nav>li:first-child>a {
        border-radius: 3px 0 0 3px;
        border-left: none;
    }

    .nav>li>div {
        position: absolute;
        display: block;
        width: 99%;
        top: 38px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        background: #fff;
        border: 1px solid #e77817;
        -webkit-transition: all .3s ease .15s;
        -moz-transition: all .3s ease .15s;
        -o-transition: all .3s ease .15s;
        -ms-transition: all .3s ease .15s;
        transition: all .3s ease .15s;
    }

    .nav .nav-column {
        float: left;
        padding: 5px;
    }

    .nav .nav-column li a {
        display: block;
        line-height: 26px;
        color: #888888;
    }

    .nav .nav-column li a:hover {
        color: #444;
    }

    header .menu ul li {
        font-weight: 700;
        font-size: 59%;
        border-right: #e77817 solid 1px;
        padding: 0px 5px;
        min-width: 95px;
    }

    header .menu .sub-m {
        background-color: #cccccc4d;
    }

    header .menu ul li a {
        padding: 0.9rem;
        text-transform: uppercase;
    }

    header .menu .submenu-child {
        padding: 6px;
        height: 30px;
        margin: 0px 0px;
        text-align: left;
    }

    header .menu .submenu-child ul {
        padding: 0px;
        margin-top: 10px;
        text-align: left;
    }

    header .menu .submenu-child a {
        font-weight: 700;
        font-size: 1.1rem;
    }

    header .menu .submenu-child ul li a {
        text-transform: capitalize;
    }

    header .menu ul li.submenu-child-2 {
        font-weight: 700;
        font-size: 1.1rem;
        border: none;
        padding: 0px 5px;
        margin-bottom: 3px;
    }

    .menu ul li ul.sub-menu {
        margin-left: -6px;
    }

    header .menu ul li.submenu-child-2 a {
        font-size: 1.15rem;
        padding: 0.3rem;
    }

    header .menu ul li:last-child {
        border-right: none;
    }

    #mainslider .item {
        min-height: 219px;
    }

    .sec_slider .imagem {
        width: 100%;
        height: 219px;
        position: absolute;
    }

    .sec_slider .imagem img {
        height: 219px;
    }

    .product-item .btncarrinho {
        float: right;
        padding: 0px;
        text-align: right;
        margin-top: 8px;
    }

    .product-item .btncarrinho a {
        font-size: 12px;
    }

    .product-item .info {
        float: left;
        margin-top: 10px;
        cursor: pointer;
    }

    .sec_ofertas_especiais .sub_item {
        min-height: 343px;
        /* 323px;*/
    }

    .sec_ofertas_especiais .info {
        float: left;
        margin-top: 10px;
        cursor: pointer;
        padding: 0px;
    }

    .product-item .pagar {
        height: 45px;
        margin-top: 2px;
        border: #c0d5e8 solid 1px;
        border-radius: 0px;
        cursor: pointer;
    }

    .product-item .info-qtde,
    .destaque .info-qtde {
        line-height: 10px;
        font-size: 9px;
    }

    .product-item p {
        font-size: 1.1rem;
    }

    .sec_ofertas_especiais .pagar {
        width: 100%;
        height: 45px;
        margin-top: 2px;
    }

    .sec_ofertas_especiais .destaque .btncarrinho {
        padding: 10px 0px 0px 0px;
        text-align: right;
    }

    .destaque .quantidade .inc.qtybutton,
    .destaque .quantidade .dec.qtybutton {
        left: 54px;
    }

    .sec_ofertas_especiais .destaque {
        height: 653px;
    }

    .product-list .product-item .btncarrinho {
        float: right;
        padding: 0px 0px;
        text-align: right;
    }
}
