@media screen and (min-width: 1280px) and (min-width: 800px) and (orientation:landscape){
    #mainslider .item{
        min-height: 271px;
    }

    .sec_slider .imagem {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

@media screen and (min-width: 1440px) and (min-width: 900px) and (orientation:landscape){
    #mainslider .item{
        min-height: 310px;
    }

    .sec_slider .imagem {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

@media screen and (min-width: 1600px) and (min-width: 900px) and (orientation:landscape){
    #mainslider .item{
        min-height: 344px;
    }

    .sec_slider .imagem {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

@media screen and (min-width: 1680px) and (min-width: 1050px) and (orientation:landscape){
    #mainslider .item{
        min-height: 360px;
    }

    .sec_slider .imagem {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

@media screen and (min-width: 1920px) and (min-width: 1080px) and (orientation:landscape){
    #mainslider .item{
        min-height: 411px;
    }

    .sec_slider .imagem {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

@media screen and (min-width: 1920px) and (min-width: 1200px) and (orientation:landscape){
    #mainslider .item{
        min-height: 411px;
    }

    .sec_slider .imagem {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}