.nav, .nav a, .nav ul, .nav li, .nav div, .nav form, .nav input {
    outline: none;
}

.nav a {
    text-decoration: none;
}

.nav li {
    list-style: none;
}

.menu ul li{
    text-align: center;
    line-height: 35px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 65%;
    border-right: #e77817 solid 1px;
    padding: 0px 8px;
    min-width: 108px;
}

.menu ul li:last-child {
    border-right: none;
}

.menu ul li a{
    padding: 10px;
    text-transform: uppercase;
}

.menu ul li:hover{
    background: transparent;
}

.menu ul li ul.sub-menu{
    position: absolute;
    background-color: #fff;
    border: #df710c solid 1px;
    margin-left: -1px;
}

.menu ul li ul.sub-menu li{
    border-right: none;
    border-bottom: #e77817 solid 1px;
    padding: 0px 0px;
    min-width: 180px;
}

.menu ul li ul.sub-menu li ul{
    border-top: #e77817 solid 1px;
    top: -1px;
}

.menu ul li ul.sub-menu li ul li{
    height: 37px;
}

.menu ul li ul.sub-sub-menu{
    background-color: #fff;
}

.menu ul li ul.sub-menu li > a, .menu ul li ul.sub-sub-menu li > a{
    font-size: 0.9rem;
}

.menu ul{
    padding: 0px;
}

.menu ul ul{
    display: none;
}

.menu ul li:hover > ul{
    display:block;
}

.menu ul li:hover:before > ul{
    display:block;
}

.menu ul ul ul{
    margin-left: 180px;
    top: 0px;
    position: absolute;
    background-color: #d7d7d7;
    border-top: #e77817 solid 0px;
    border-left: #e77817 solid 1px;
}

.menu ul ul li:hover{
    background-color: #d7d7d7;
}

.menu ul ul ul li:hover{
    background-color: #062a66;
}

.menu ul ul ul li:hover{
    /*background-color: #062a66;*/
}

.menu a{
    color: white;
    text-decoration: none;
}

.nav {
    display: inline-block;
    position: relative;
    cursor: default;
    z-index: 199;
    width: 100%;
}

.nav > li {
    display: block;
    float: left;
}

.nav > li {
    position: static;
    display: block;
    min-width: 100px;
    text-align: center;
}

.nav > li > a {
    position: relative;
    display: block;
    z-index: 198;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.menu ul li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 65%;
    border-right: #e77817 solid 1px;
    padding: 0px 0px;
}

ul li a{
    text-transform: uppercase;
}

.aberto{
    opacity: 1;
    visibility: visible;
}

.fechado{
    opacity: 0;
    visibility: hidden;
}