#checkout-page .form-wizard {
    margin-top: 45px;
}

#checkout-page .form-wizard .tab-pane{
    min-height: 530px;
}

#rootwizard form .steps-progress,
#rootwizard .steps-progress {
    display: block;
    background: #ebebeb;
    width: auto;
    height: 10px;
    margin: 0 70px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

#rootwizard form .steps-progress .progress-indicator,
#rootwizard .steps-progress .progress-indicator {
    background: #00a651;
    width: 0%;
    height: 10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#rootwizard form .no-margin .tab-content,
#rootwizard .no-margin .tab-content  {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#rootwizard form .no-margin .tab-content,
#rootwizard .no-margin .tab-content {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#rootwizard form > ul,
#rootwizard > ul {
    display: table;
    margin: 0;
    padding: 0;
    list-style: none;
}

#rootwizard form > ul > li,
#rootwizard > ul > li  {
    display: table-cell;
    width: 1%;
    text-align: center;
    position: relative;
}

#rootwizard form > ul > li a,
#rootwizard > ul > li a {
    position: relative;
    display: block;
    padding-top: 35px;
    font-weight: bold;
    color: #ababab;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#rootwizard form > ul > li a span,
#rootwizard > ul > li a span {
    position: absolute;
    display: block;
    background: #ebebeb;
    color: #8e9094;
    line-height: 35px;
    text-align: center;
    margin-top: -57.5px;
    left: 50%;
    margin-left: -17.5px;
    width: 35px;
    height: 35px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#rootwizard form > ul > li.completed a,
#rootwizard > ul > li.completed a {
    color: #00a651;
}

#rootwizard form > ul > li.completed a span, 
#rootwizard > ul > li.completed a span  {
    background: #00a651;
    color: #fff;
    -moz-box-shadow: 0px 0px 0px 5px #00a651;
    -webkit-box-shadow: 0px 0px 0px 5px #00a651;
    box-shadow: 0px 0px 0px 5px #00a651;
}

#rootwizard form > ul > li.disabled a,
#rootwizard > ul > li.disabled a {
    color: rgba(142, 144, 148, 0.5);
}

#rootwizard form > ul > li.disabled a span,
#rootwizard > ul > li.disabled a span  {
    background: #f5f5f6;
    color: rgba(142, 144, 148, 0.5);
    -moz-box-shadow: 0px 0px 0px 5px #f5f5f6;
    -webkit-box-shadow: 0px 0px 0px 5px #f5f5f6;
    box-shadow: 0px 0px 0px 5px #f5f5f6;
}

#rootwizard form > ul > li.active a,
#rootwizard form > ul > li.current a,
#rootwizard > ul > li.active a,
#rootwizard > ul > li.current a  {
    color: #c5c5c5;
    font-weight: bold;
    color: #303641;
}

#rootwizard form > ul > li.active a span,
#rootwizard form > ul > li.current a span,
#rootwizard > ul > li.active a span,
#rootwizard > ul > li.current a span {
    background: #c5c5c5;
    background: #fff;
    color: #525252;
    -moz-box-shadow: 0px 0px 0px 5px #ebebeb;
    -webkit-box-shadow: 0px 0px 0px 5px #ebebeb;
    box-shadow: 0px 0px 0px 5px #ebebeb;
}

.checkout-page .form-wizard .tab-content {
    margin: 0 0px;
    margin-top: 45px;
    border-top: #e7e7e7 solid 1px;
    padding: 10px;
}

.checkout-page .form-wizard .tab-content .pager {
    margin-top: 35px;
}

.checkout-page .form-wizard .tab-content .pager .first a {
    margin-right: 10px;
}

.checkout-page .form-wizard .tab-content .pager .last a {
    margin-left: 10px;
}

.list-none{
    list-style: none;
    padding: 0;
}

ul.list-pag li h6{
    line-height: 12px;
    margin-top: 4px;
    margin-bottom: 0px;
}

ul.list-pag li{
    padding-left: 0;
}

.checkout-page .form-wizard .form-group label{
    font-size: 12px;
    color: #263c5d;
}

.checkout-page .form-wizard .form-group select{
    font-size: 11px;
    color: #263c5d;
}

.checkout-page .form-wizard .titulo{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.pager li > a, .pager li > span {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #eceef1;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #449d44;
    border: 1px solid #398439;
    border-radius: 10px;
}

.pager li>a:focus, .pager li>a:hover {
    text-decoration: none;
    background-color: #398439;
}