<?php
$imagem = \santosdummontsite\Common::imagem_existe(FOTOPARCEIROS_URL, $parceiro['IMAGEM'], 1);

?>
<div class="product-page product-pop-up">
    <div class="row">
        <div class="col-sm-12 mod-parceiro">
            <div class="col-xs-5 col-sm-3">
                <img src="<?= $imagem; ?>" class="img-responsive" alt="<?= $parceiro['PAR_NOME'] ?>">
            </div>
            <div class="col-xs-7 col-sm-9">
                <h2><?= $parceiro['PAR_NOME'] ?></h2>
                <h4><?= $parceiro['PAR_DESCRICAO'] ?></h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 info margin-top-15">
            <div class="col-xs-12 col-sm-12 parce infoprod">
                <?= $parceiro['PAR_INFO'] ?>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 margin-top-15 text-uppercase">
            <a href="<?= SITE_URL . '/Produtos/Fabricante/' . $parceiro['PAR_URL'] ?>" class="btn btn-success prod-fabricante">
                Ver produtos deste fabricante
            </a>
        </div>
    </div>
</div>