<div class="product-page product-pop-up popup-carrinho">
    <div class="row">
        <?php
        if (count($listacarrinho) > 0) {

            ?>
            <div class="col-sm-12 mod-parceiro">
                <div class="scroller">
                    <ul>
                        <?php
                        foreach ($listacarrinho as $car) {
                            $preco = number_format($car['PRD_PRECO'], 2, ', ', ' . ');

                            $principal = \santosdummontsite\Common::imagem_existe($car['PASTA_IMAGENS'], $car['PRD_IMAGEM_PRINCIPAL'], 2);

                            ?>
                            <li>
                                <div class="div-image">
                                    <img src="<?= $principal ?>" class="img-responsive">
                                </div>
                                <div class="div-info">
                                    <div class="nome"><?= $car['PRD_NOME'] ?></div>
                                    <?php if(false){?><div class="preco"><?= $car['QTDE'] . ' x R$' . $preco ?></div><?php }?>
                                </div>
                                <div class="div-info-rem">
                                    <a class="del-goods btn btn-xs btn-danger btn_item_carrinho" href="#" data-action="<?= SITE_URL . '/Usuarios/RemoverItemCarrinho'; ?>" data-refresh="<?= SITE_URL . '/Usuarios/AtualizarCarrinho'; ?>" data-id="<?= $car['CAR_ID'] ?>" title="Remover do Pedido">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </li>
                        <?php } ?>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 info margin-top-15">
                    <div class="text-center botoes">
                        <?php if(false){?>
                        <a href="<?= SITE_URL . '/Usuarios/Carrinho/' . $token ?>" class="btn btn-info btn-vercar finalizar_compra">Ver Carrinho</a>
                        <a href="<?= SITE_URL . '/Usuarios/Checkout/' . $token ?>" class="btn btn-success finalizar_compra">Finalizar compra</a>
                        <?php }?>
                    </div>

                    enviar por e-mail ou enviar por wzp
                    <div class="text-center botoes" style="margin-top: 15px;">
                        <?php if(false){?>
                        <a href="#modal" data-action="<?= SITE_URL . '/Usuarios/EnviarLoja' ?>" class="btn btn-warning btn-vercar enviar_para_loja">Enviar para Loja Fisica</a>
                        <?php }?>
                    </div>
                </div>
            </div>
        <?php } else { ?>
            <div class="col-xs-12 col-sm-12 info margin-top-15">
                <div><h4>Carrinho Vazio</h4></div>
            </div>
        <?php } ?>
    </div>
</div>
