<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="<?= SITE_URL . '/Home' ?>">Home</a></li>
            <li class="active"><?=$titulo?></li>
        </ul>

        <div class="row margin-bottom-40">
            <div class="col-md-12 col-sm-12">
                <?php if(intval($config['TIPO_VIDEO_BV']) == 1){?>
                    <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                        <video width="100%" height="500" controls>
                            <source src="<?= SITE_URL . "/public_html/static/videos/" . $config['VIDEO_BOASVINDAS'] ?>" type="video/mp4">
                            <source src="<?= SITE_URL . "/public_html/static/videos/" . $config['VIDEO_BOASVINDAS'] ?>" type="video/ogg">
                            Seu navegador não tem suporte para visualizar o vídeo.
                        </video>
                    </div>
                <?php }else{ ?>
                    <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                        <object width="100%" height="500">
                            <param name="movie" value="<?=$config['VIDEO_BOASVINDAS']?>" />
                            <embed src="<?=$config['VIDEO_BOASVINDAS']?>" type="application/x-shockwave-flash" width="100%" height="500" />
                        </object>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>