<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="<?= SITE_URL . '/Home' ?>">Home</a></li>
            <li><a href="<?= SITE_URL . '/Usuarios/MinhaConta/' . $cliente['dados']['CLI_ID'] ?>">Minha Conta</a></li>
            <li class="active">Meus Favoritos</li>
        </ul>
        <div class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid margin-bottom-40">
            <div class="page-container">
                <div class="page-content-wrapper">
                    <h1 class="page-title"> Meus Favoritos</h1>
                    <hr>
                    <div class="content">
                        <?php if ($resultados > 0) { ?>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 tbl-favoritos">
                                    <div class="portlet-body">
                                        <div class="table-scrollable">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="goods-page-image">Imagem</th>
                                                        <th class="goods-page-description">Descrição</th>
                                                        <th class="goods-page-stock text-center">Estoque</th>
                                                        <th class="goods-page-price text-center">Preço Unitário</th>
                                                        <th class="goods-page-price"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php foreach ($listafavoritos as $produto) { ?>
                                                        <?php
                                                        $pasta = FOTOPRODUTO_URL . '/' . $produto['PASTA_IMAGENS'] . '/large/';
                                                        $principal = \santosdummontsite\Common::imagem_existe($pasta, $produto['PRD_IMAGEM_PRINCIPAL'], 2);

                                                        ?>
                                                        <tr>
                                                            <td class="goods-page-image">
                                                                <a href="<?= SITE_URL . '/Produtos/Item/' . $produto['PRD_PATH'] ?>">
                                                                    <img src="<?= $principal ?>" class="img-responsive" alt="<?= $produto['PRD_NOME'] ?>">
                                                                </a>
                                                            </td>
                                                            <td class="goods-page-description" style="vertical-align: middle">
                                                                <h4><a href="<?= SITE_URL . '/Produtos/Item/' . $produto['PRD_PATH'] ?>"><?= $produto['PRD_NOME'] ?></a></h4>
                                                            </td>
                                                            <td class="goods-page-stock td-center" style="vertical-align: middle">
                                                                <?php if (intval($produto['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                                                    <a href="#" class="btn btn-success btn-xs">Em Estoque</a>
                                                                <?php } else { ?>
                                                                    <a href="#" class="btn btn-danger btn-xs">Indisponível</a>
                                                                <?php } ?>
                                                            </td>
                                                            <td class="goods-page-price td-center" style="vertical-align: middle">
                                                                <h4><strong><?= 'R$' . number_format($produto['PRD_PRECO'], 2, ',', '.') ?></strong></h4>
                                                            </td>
                                                            <td class="del-goods-col td-center" style="vertical-align: middle">
                                                                <a class="add-goods btn btn-xs btn-success btn_adicionar" href="#" data-action="<?= SITE_URL . '/Home/Adicionar'; ?>" data-id="<?= $produto['PRD_ID'] ?>" title="Adicionar no Carrinho">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </a>
                                                                <a class="del-goods btn btn-xs btn-danger btn_remover" href="#"data-action="<?= SITE_URL . '/Usuarios/RemoverFavorito'; ?>" data-id="<?= $produto['ID'] ?>" title="Remover dos Favoritos">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    <?php } ?>
                                                </tbody>
                                            </table>
                                        </div>
                                        <?php if ($resultados > 0 && $totalpaginas > 1) { ?>
                                            <div class="row">
                                                <?php
                                                $range = 3;

                                                ?>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <ul class="pagination">
                                                        <?php if ($paginaatual > 1) { ?>
                                                            <li><a href="<?= $urlaction . '/' . ($paginaatual - 1) ?>">Anterior</a></li>
                                                        <?php } ?>
                                                        <?php
                                                        for ($x = ($paginaatual - $range); $x < (($paginaatual + $range) + 1); $x++) {
                                                            if (($x > 0) && ($x <= $totalpaginas)) {
                                                                if ($x == $paginaatual) {

                                                                    ?>
                                                                    <li><span class="pag-atual"><strong><?= $paginaatual ?></strong></span></li>
                                                                    <?php
                                                                } else {

                                                                    ?>
                                                                    <li><a href="<?= $urlaction . '/' . $x ?>"><?= $x ?></a></li>
                                                                    <?php
                                                                }
                                                            }
                                                        }

                                                        ?>
                                                        <?php if ($paginaatual != $totalpaginas) { ?>
                                                            <?php $nextpage = $paginaatual + 1; ?>
                                                            <li><a href="<?= $urlaction . '/' . $nextpage ?>">Próxima</a></li>
                                                            <li><a href="<?= $urlaction . '/' . $totalpaginas ?>">Última</a></li>
                                                        <?php } ?>
                                                    </ul>
                                                </div>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                        <?php } else { ?>
                            <ul class="lista-pedidos">
                                <h2>Nenhum resultado encontrado.</h2>
                            </ul>
                        <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
