<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="<?= SITE_URL . '/Home' ?>">Home</a></li>
            <li class="active">Finalizar Compra</li>
        </ul>

        <div class="row margin-bottom-40">
            <div class="col-md-12 col-sm-12">
                <h1>Finalizar Compra</h1>
                <div class="checkout-page" id="checkout-page">
                    <?php if ($resultados > 0) { ?>
                        <div id="rootwizard" class="margin-bottom-10">
                            <form method="POST" action="<?= $urlgerarpedido ?>" name="form_checkout" id="form_checkout" role="form" class="form-wizard validate">
                                <div class="steps-progress" style="margin-left: 10%; margin-right: 10%;">
                                    <div class="progress-indicator" style="width: 33.3333%;"></div>
                                </div>
                                <ul class="itens">
                                    <li class="disabled completed">
                                        <a href="#tab-1" data-toggle="tab"><span>1</span>Identificação</a>
                                    </li>
                                    <li class="disabled completed">
                                        <a href="#tab-2" data-toggle="tab"><span>2</span>Localização</a>
                                    </li>
                                    <li class="active">
                                        <a href="#tab-3" data-toggle="tab"><span>3</span>Carrinho</a>
                                    </li>
                                    <li>
                                        <a href="#tab-4" data-toggle="tab"><span>4</span>Pagamento</a>
                                    </li>
                                    <li>
                                        <a href="#tab-5" data-toggle="tab"><span>5</span>Confirmação</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="itens-carrinho-content">

                                    <div class="tab-pane active" id="tab-3">
                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 titulo">
                                            <h3><strong>Verifique o Itens do carrinho</strong></h3>
                                        </div>
                                        <div class="carr_prods">
                                            <div class="table-wrapper-responsive">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th class="checkout-image hidden-xs">Imagem</th>
                                                            <th class="checkout-description">Descrição</th>
                                                            <th class="checkout-model hidden-xs">Modelo</th>
                                                            <th class="checkout-quantity">QTDE</th>
                                                            <th class="checkout-price">Preço</th>
                                                            <th class="checkout-total">Total</th>
                                                            <th class="checkout-actions"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <?php
                                                        foreach ($listacheckout as $produto) {

                                                            $principal = \santosdummontsite\Common::imagem_existe($produto['PASTA_IMAGENS'], $produto['PRD_IMAGEM_PRINCIPAL'], 2);

                                                        ?>
                                                            <tr>
                                                                <td class="checkout-image hidden-xs">
                                                                    <a href="<?= SITE_URL . '/Produtos/Item/' . $produto['PRD_PATH'] ?>" target="_blank">
                                                                        <img src="<?= $principal ?>" class="img-responsive">
                                                                    </a>
                                                                </td>
                                                                <td class="checkout-description">
                                                                    <h5><a href="<?= SITE_URL . '/Produtos/Item/' . $produto['PRD_PATH'] ?>" target="_blank"><?= $produto['PRD_NOME'] ?></a></h5>
                                                                </td>
                                                                <td class="checkout-model hidden-xs"><?= $produto['PRD_MODELO'] ?></td>
                                                                <td class="checkout-quantity"><?= $produto['QTDE'] ?></td>
                                                                <td class="checkout-price"><strong><span>R$</span><?= number_format($produto['PRD_PRECO'], 2, ',', '.') ?></strong></td>
                                                                <td class="checkout-total"><strong><span>R$</span><?= number_format($produto['PRECO_TOTAL'], 2, ',', '.') ?></strong></td>
                                                                <td class="checkout-actions">
                                                                    <a class="del-goods btn btn-xs btn-danger btn_item_carrinho" href="#" data-action="<?= SITE_URL . '/Usuarios/RemoverItemCarrinho'; ?>" data-refresh="<?= SITE_URL . '/Usuarios/AtualizarCarrinho'; ?>" data-id="<?= $produto['CAR_ID'] ?>" title="Remover do Pedido">
                                                                        <i class="fa fa-trash"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        <?php } ?>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <?php if ($resultados > 0 && $totalpaginas > 1) { ?>
                                                <div class="row">
                                                    <?php
                                                    $range = 3;

                                                    ?>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                        <ul class="pagination">
                                                            <?php if ($paginaatual > 1) { ?>
                                                                <li><a href="<?= $urlaction . '/' . ($paginaatual - 1) ?>">Anterior</a></li>
                                                            <?php } ?>
                                                            <?php
                                                            for ($x = ($paginaatual - $range); $x < (($paginaatual + $range) + 1); $x++) {
                                                                if (($x > 0) && ($x <= $totalpaginas)) {
                                                                    if ($x == $paginaatual) {

                                                            ?>
                                                                        <li><span class="pag-atual"><strong><?= $paginaatual ?></strong></span></li>
                                                                    <?php
                                                                    } else {

                                                                    ?>
                                                                        <li><a href="<?= $urlaction . '/' . $x ?>"><?= $x ?></a></li>
                                                            <?php
                                                                    }
                                                                }
                                                            }

                                                            ?>
                                                            <?php if ($paginaatual != $totalpaginas) { ?>
                                                                <?php $nextpage = $paginaatual + 1; ?>
                                                                <li><a href="<?= $urlaction . '/' . $nextpage ?>">Próxima</a></li>
                                                                <li><a href="<?= $urlaction . '/' . $totalpaginas ?>">Última</a></li>
                                                            <?php } ?>
                                                        </ul>
                                                    </div>
                                                </div>
                                            <?php } ?>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 info_ped_carrinho">
                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                        <h4><span><strong>Total dos Produtos: </strong></span><strong><span id="total_produtos"><?= 'R$ ' . number_format($totaischeckout[0]['PRECO_TOTAL'], 2, ',', '.') ?></span></strong></h4>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                        <h2><span><strong>Total do Pedido: </strong></span><strong><span id="total_pedido"><?= 'R$ ' . number_format($sessTotal, 2, ',', '.') ?></span></strong></h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div id="form_calc_frete">
                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                                                                    <label class="control-label">Endereço para Entrega</label>
                                                                    <select name="cep_frete" id="cep_frete" class="form-control" required>
                                                                        <?php
                                                                        foreach ($cliente['enderecos'] as $endereco) {
                                                                            $end = $endereco['END_ENDERECO'] . ', ' . $endereco['END_NUM'] . ' - ' . $endereco['END_CIDADE'] . '-' . $endereco['END_UF'];
                                                                        ?>
                                                                            <option data-id="<?= $endereco['END_ID'] ?>" value="<?= $endereco['END_CEP'] ?>" <?= $endereco['IS_ENVIO'] == 1 ? 'select="selected"' : '' ?>><?= $end ?></option>
                                                                        <?php
                                                                        }
                                                                        ?>
                                                                    </select>
                                                                </div>
                                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                                                                    <a href="<?= SITE_URL . '/Usuarios/EditarInformacoes/' . $cliente['dados']['CLI_ID'] . '#tab_1_4' ?>" class="btn btn-success btn-xs mt-23">Cadastrar Outro</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                                    <label class="control-label">Opção de Envio</label>
                                                                    <div class="hidden">
                                                                        <input type="hidden" name="tipo_entrega" id="tipo_entrega_hide" value="<?= $sesTipoEntr ?>" required />
                                                                    </div>
                                                                </div>
                                                                <ul class="list-none col-sm-7 list-pag">
                                                                    <?php $ct = 0; ?>
                                                                    <?php foreach ($listameiosentrega as $row) { ?>
                                                                        <li class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                                            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                                                <label for="tipo_entrega_<?= $ct; ?>" class="calcula_frete frm_entrega <?= $sesTipoEntr == $row['CODIGO_MEIO'] ? 'frm_selecionado_ent' : ''; ?>" data-codigo="<?= $row['CODIGO_MEIO']; ?>" data-calcfrete="<?= $row['CALC_FRETE'] ?>" data-action="<?= $calcularfrete ?>" data-refresh="<?= SITE_URL . '/Usuarios/AtualizarCarrinho'; ?>">
                                                                                    <img class="img-pag" alt="<?= $row['DESCRICAO_MEIO'] ?>" src="<?= IMGS_URL . '/' . $row['IMAGEM'] ?>" title="<?= $row['NOME_MEIO'] ?>" />
                                                                                </label>
                                                                                <div class="hidden">
                                                                                    <input type="radio" name="tipo_entrega" class="tipo_entrega_op" id="tipo_entrega_<?= $ct; ?>" value="<?= $row['CODIGO_MEIO']; ?>" <?= $sesTipoEntr == $row['CODIGO_MEIO'] ? 'checked="checked"' : '' ?> data-frete="<?= $row['CALC_FRETE'] ?>" data-refresh="<?= SITE_URL . '/Usuarios/AtualizarCarrinho'; ?>" required />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                                                                                <?php if ($sesTipoEntr == $row['CODIGO_MEIO']) { ?>
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                                                        <h6><strong><span class="frete_total"><?= 'R$ ' . number_format($sessFrete, 2, ',', '.') ?></span></strong></h6>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                                                        <h6><strong><span class="przo_pedido"><?= $sessPrazo ?></span></strong></h6>
                                                                                    </div>
                                                                                <?php } else { ?>
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                                                        <h6><strong><span class="frete_total"></span></strong></h6>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                                                        <h6><strong><span class="przo_pedido"></span></strong></h6>
                                                                                    </div>
                                                                                <?php } ?>
                                                                            </div>
                                                                        </li>
                                                                        <?php $ct++; ?>
                                                                    <?php } ?>
                                                                </ul>
                                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                                    <h5><span id="msg_retorno"></span></h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="tab-4">
                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 titulo">
                                            <h3><strong>escolha a opção de pagamento</strong></h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-7 col-sm-7 col-xs-12 margin-top-20">
                                                <?php
                                                $contrl = 0;

                                                ?>
                                                <?php foreach ($meiospagamentos as $row) { ?>
                                                    <div class="col-xs-6 col-sm-2 radio-list text-center">
                                                        <label for="meio_<?= $row['MEIO_ID'] ?>" class="frm_pagamento frm_selecionado" data-opcao="<?= strtolower($row['NOME_MEIO']) ?>">
                                                            <img class="img-pag" alt="<?= $row['MEIO_ID'] ?>" src="<?= FOTOPAGAMENTO_URL . '/' . $row['IMAGEM'] ?>" title="<?= $row['NOME_MEIO'] ?>" />
                                                        </label>
                                                        <div class="hidden">
                                                            <input type="radio" name="meio" data-name="Meio Pagamento" id="meio_<?= $row['MEIO_ID']; ?>" value="<?= $row['MEIO_ID']; ?>" <?= $contrl == 0 ? 'checked="checked"' : '' ?> required />
                                                        </div>
                                                    </div>
                                                <?php
                                                    $contrl++;
                                                }

                                                ?>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="col-md-9 col-sm-9 col-xs-12 form-group margin-top-20">
                                                    <label for="formaspagamento" class="control-label">Selecione a forma de pagamento</label>
                                                    <select class="form-control selectpicker" id="formaspagamento" name="formaspagamento" <?= !empty($sessPreco) ? '' : 'disabled="disabled"' ?> required></select>
                                                </div>
                                                <div class="col-md-9 col-sm-9 col-xs-12 form-group margin-top-20" id="slct-bancos">
                                                    <label for="banco" class="control-label">Bancos Disponíveis</label>
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <input type="hidden" name="banco" id="banco" value="BRADESCO" required />
                                                        <label for="banco_1" class="">
                                                            <img class="img-banco-selected img_banco" data-value="BRADESCO" alt="Bradesco" src="<?= GERAL_IMG . '/bradesco.png' ?>" title="Bradesco" />
                                                        </label>
                                                        <label for="banco_2" class="">
                                                            <img class="img-banco img_banco" data-value="ITAU" alt="Itaú" src="<?= GERAL_IMG . '/itau.png' ?>" title="Itaú" />
                                                        </label>
                                                        <label for="banco_3" class="">
                                                            <img class="img-banco img_banco" data-value="BANCODOBRASIL" alt="Banco do Brasil" src="<?= GERAL_IMG . '/bancodobrasil.png' ?>" title="Banco do Brasil" />
                                                        </label>
                                                        <label for="banco_4" class="">
                                                            <img class="img-banco img_banco" data-value="BANRISUL" alt="Banrisul" src="<?= GERAL_IMG . '/banrisul.png' ?>" title="Banrisul" />
                                                        </label>
                                                        <label for="banco_5" class="">
                                                            <img class="img-banco img_banco" data-value="HSBC" alt="HSBC" src="<?= GERAL_IMG . '/hsbc.jpg' ?>" title="HSBC" />
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-sm-8 col-xs-8 margin-top-20 op_slct_outro_cartao hidden">
                                                    <div class="form-group">
                                                        <label for="opcart" class="control-label">Deseja selecionar um cartão ou cadastrar outro?</label>
                                                        <select name="opcart" id="opcart" class="form-control op_cartao">
                                                            <option value="">Selecione</option>
                                                            <?php if (!empty($cartoescliente) && intval($cartoescliente[0]['CART_ID']) > 0) { ?>
                                                                <option value="1">Usar um cartão cadastrado</option>
                                                            <?php } ?>
                                                            <option value="2">Informar dados do cartão</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <?php if (!empty($cartoescliente) && intval($cartoescliente[0]['CART_ID']) > 0) { ?>
                                                    <div class="col-md-12 col-sm-12 col-xs-12 op_cartoes_usuarios hidden">
                                                        <div class="form-group">
                                                            <select name="opcartaoslct" id="opcartaoslct" class="form-control op_cartaosclt">
                                                                <?php foreach ($cartoescliente as $row) { ?>
                                                                    <option value="<?= $row['CART_ID'] ?>"><?= \santosdummontsite\Common::cartaoCredMasking(\santosdummontsite\Common::encrypt_decrypt('decrypt', $row['CART_NUMERO'])) ?></option>
                                                                <?php } ?>
                                                            </select>
                                                        </div>
                                                    </div>
                                                <?php } ?>
                                                <div class="op_outro_cartao hidden">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 op_info_cartao" id="op_info_cartao">
                                                        <div class="form-group">
                                                            <div class="col-sm-8 nopadd-l form-group">
                                                                <label for="titular" class="control-label">Nome do Titular</label>
                                                                <input type="text" name="titular" id="titular" placeholder="Nome do Titular" class="form-control" maxlength="150" autocomplete="off">
                                                            </div>
                                                            <div class="col-sm-4 nopadd-l form-group">
                                                                <label for="titular" class="control-label">CPF/CNPJ do Titular</label>
                                                                <input type="text" name="cpftitular" id="cpftitular" placeholder="CPF do Titular" class="form-control cpfcnpj" maxlength="150" autocomplete="off">
                                                            </div>
                                                            <div class="col-sm-10 nopadd-l form-group">
                                                                <label for="numerocartao" class="control-label">Número do Cartão</label>
                                                                <input type="text" name="numerocartao" id="numerocartao" placeholder="Número do Cartão" class="form-control cartcred" maxlength="200" autocomplete="off">
                                                            </div>
                                                            <div class="col-sm-2 nopadd-l form-group">
                                                                <div class="bandeira-cartao"></div>
                                                            </div>
                                                            <div class="col-sm-3 nopadd-l form-group">
                                                                <label for="ccv" class="control-label">CVV</label>
                                                                <input type="password" name="cvv" id="cvv" class="form-control nccv" placeholder="CVV" maxlength="200" autocomplete="off">
                                                            </div>
                                                            <div class="col-sm-4 nopadd-l form-group">
                                                                <label for="validadecartao" class="control-label">Validade do Cartão</label>
                                                                <input type="text" name="validadecartao" id="validadecartao" placeholder="Validade do Cartão" class="form-control cartdtval" maxlength="200" autocomplete="off">
                                                                <input type="hidden" name="bandeira" id="bandeira" />
                                                                <input type="hidden" name="bandeiraimg" id="bandeiraimg" />
                                                            </div>
                                                            <div class="col-sm-5 nopadd-l form-group">
                                                                <label for="parcelas" class="control-label">Parcelamento</label>
                                                                <select class="form-control slct" id="parcs"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="tab-5">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 titulo">
                                                <h3><strong>Verifique as informações e confirme o pedido</strong></h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                <h4>PRODUTOS</h4>
                                                <hr />
                                                <div class="table-wrapper-responsive">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th class="checkout-description">Descrição / Modelo</th>
                                                                <th class="checkout-quantity">QTDE</th>
                                                                <th class="checkout-price">Preço</th>
                                                                <th class="checkout-total">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <?php foreach ($listacheckout as $produto) { ?>
                                                                <tr>
                                                                    <td class="checkout-description">
                                                                        <h5><?= $produto['PRD_NOME'] . (!empty($produto['PRD_MODELO']) ? ' - ' . $produto['PRD_MODELO'] : '') ?></a></h5>
                                                                    </td>
                                                                    <td class="checkout-quantity"><?= $produto['QTDE'] ?></td>
                                                                    <td class="checkout-price"><strong><span>R$</span><?= number_format($produto['PRD_PRECO'], 2, ',', '.') ?></strong></td>
                                                                    <td class="checkout-total"><strong><span>R$</span><?= number_format($produto['PRECO_TOTAL'], 2, ',', '.') ?></strong></td>
                                                                </tr>
                                                            <?php } ?>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <?php if ($resultados > 0 && $totalpaginas > 1) { ?>
                                                    <div class="row">
                                                        <?php
                                                        $range = 3;

                                                        ?>
                                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                            <ul class="pagination">
                                                                <?php if ($paginaatual > 1) { ?>
                                                                    <li><a href="<?= $urlaction . '/' . ($paginaatual - 1) ?>">Anterior</a></li>
                                                                <?php } ?>
                                                                <?php
                                                                for ($x = ($paginaatual - $range); $x < (($paginaatual + $range) + 1); $x++) {
                                                                    if (($x > 0) && ($x <= $totalpaginas)) {
                                                                        if ($x == $paginaatual) {

                                                                ?>
                                                                            <li><span class="pag-atual"><strong><?= $paginaatual ?></strong></span></li>
                                                                        <?php
                                                                        } else {

                                                                        ?>
                                                                            <li><a href="<?= $urlaction . '/' . $x ?>"><?= $x ?></a></li>
                                                                <?php
                                                                        }
                                                                    }
                                                                }

                                                                ?>
                                                                <?php if ($paginaatual != $totalpaginas) { ?>
                                                                    <?php $nextpage = $paginaatual + 1; ?>
                                                                    <li><a href="<?= $urlaction . '/' . $nextpage ?>">Próxima</a></li>
                                                                    <li><a href="<?= $urlaction . '/' . $totalpaginas ?>">Última</a></li>
                                                                <?php } ?>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                <?php } ?>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 margin-top-20">
                                                <h4 id="titulo_end">ENDEREÇO DE ENTREGA</h4>
                                                <hr />
                                                <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                                    <h4>
                                                        <strong>
                                                            <span id="set_endereco"></span>
                                                        </strong>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 margin-top-20">
                                                <h4>MÉTODO DE ENTREGA</h4>
                                                <hr />
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                                                    <img class="img-responsive" id="img_op_entrega" src="<?= $sesTipoEntrImagem ?>" />
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12">
                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                        <h4><strong><span id="frete_op_entrega"><?= 'R$ ' . number_format($sessFrete, 2, ',', '.'); ?></span></strong></h4>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                        <h4><strong><span id="prazo_op_entrega"><?= $sessPrazo ?></span></strong></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 margin-top-20">
                                                <h4>OBSERVAÇÃO</h4>
                                                <hr />
                                                <div class="form-group col-sm-8 col-md-8 col-lg-8 col-xs-12">
                                                    <textarea name="comentario" id="comentario" class="form-control" rows="10" maxlength="400"></textarea>
                                                    <label class="control-label" id="contador">400 caracteres restantes</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 margin-top-20">
                                                <h4>TOTAIS</h4>
                                                <hr />
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                    <h4><span><strong>Total dos Produtos: </strong></span><strong><span><?= 'R$ ' . number_format($totaischeckout[0]['PRECO_TOTAL'], 2, ',', '.') ?></span></strong></h4>
                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                    <h4><span><strong>Total do Frete: </strong></span><strong><span id="total_frete_op_entrega"><?= 'R$ ' . number_format($sessFrete, 2, ',', '.'); ?></span></strong></h4>
                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                    <h1><span><strong>Total do Pedido: </strong></span><strong><span id="total_pedido_op_entrega"><?= 'R$ ' . number_format($sessTotal, 2, ',', '.'); ?></span></strong></h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 margin-top-20">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <a href="#modal" data-action="<?= SITE_URL . '/Usuarios/EnviarLoja' ?>" class="btn btn-lg btn-warning btn-vercar enviar_para_loja">Enviar para Loja Fisica</a>
                                                        <button type="button" class="btn btn-danger btn-lg pull-right" id="btn_cancela_pedido" data-action="<?= $cancelarcompra ?>" data-refresh="<?= SITE_URL . '/Home'; ?>">Cancelar Pedido</button>
                                                        <button class="btn btn-success btn-lg pull-right margin-right-10" id="btn_confirma_pedido" type="submit" id="button-confirm">Confirmar Pedido</button>
                                                        <input type="hidden" name="valorPgto" id="valorPgto" value="<?= number_format($sessTotal, 2, ',', '.') ?>" />
                                                        <input type="hidden" name="hashcartao" id="hashcartao" />
                                                        <input type="hidden" name="hashComprador" id="hashComprador" />
                                                        <input type="hidden" name="parcelas" id="parcelas" />
                                                        <input type="hidden" name="valorparcela" id="valorparcela" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="pager wizard">
                                        <li class="previous disabled">
                                            <a href="#" class="btn btn-success">
                                                <i class="fa fa-chevron-left"></i>
                                                Voltar
                                            </a>
                                        </li>
                                        <li class="next">
                                            <a href="#" class="btn btn-success">
                                                Avançar
                                                <i class="fa fa-chevron-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    <?php } else { ?>
                        <h2>Não há nenhum produto adicionado ao carrinho!</h2>
                        <a href="<?= SITE_URL . '/Home' ?>" class="btn btn-success">Voltar</a>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    PagSeguroDirectPayment.setSessionId('<?= $sessionId ?>');

    jQuery(document).ready(function($) {
        <?php if (empty($sessPrazo) && empty($sessFrete) && empty($sessTotal) && empty($sessPreco)) { ?>
            $(".frmcheckout :input").not("button").each(function() {
                if (!$(this).is(':disabled')) {
                    $(this).prop('disabled', true);
                }
            });
        <?php } ?>
    });
</script>
<script src="<?= JS_JQUERY ?>/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
