<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="<?= SITE_URL . '/Home' ?>">Home</a></li>
            <li><a href="<?= SITE_URL . '/Usuarios/MinhaConta/' . $cliente['dados']['CLI_ID'] ?>">Minha Conta</a></li>
            <li class="active">Minha Informações</li>
        </ul>
        <div class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid margin-bottom-40">
            <div class="page-container">
                <div class="page-content-wrapper">
                    <h1 class="page-title"> Minhas Informações</h1>
                    <hr>
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-sidebar">
                                    <div class="portlet light profile-sidebar-portlet ">
                                        <div class="profile-userpic">
                                            <?php
                                            $pasta = $cliente['dados']['PASTA_CLI'];
                                            $imagem = \santosdummontsite\Common::imagem_existe($pasta, $cliente['dados']['CLI_IMAGEM'], 3);

                                            ?>
                                            <img src="<?= $imagem ?>" class="img-responsive" alt="<?= $cliente['dados']['NOME_COMPLETO'] ?>">
                                        </div>
                                        <div class="profile-usertitle">
                                            <div class="profile-usertitle-name"> <?= $cliente['dados']['NOME_COMPLETO'] ?> </div>
                                            <div class="profile-usertitle-job"> <?= $cliente['dados']['OCUPACAO'] ?> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="portlet light ">
                                                <div class="portlet-title tabbable-line">
                                                    <div class="caption caption-md">
                                                        <i class="icon-globe theme-font hide"></i>
                                                        <span class="caption-subject font-blue-madison bold uppercase">Informações</span>
                                                    </div>
                                                    <ul class="nav nav-tabs">
                                                        <?php if (!isset($ativacao)) { ?>
                                                        <li class="<?php echo $tab == 1 ? 'active' : '' ?>">
                                                            <a href="#tab_1_1" data-toggle="tab" aria-expanded="true">Informações Pessoais</a>
                                                        </li>
                                                        <?php }?>
                                                        <?php if (!isset($ativacao)) { ?>
                                                        <li class="<?php echo $tab == 2 ? 'active' : '' ?>">
                                                            <a href="#tab_1_2" data-toggle="tab" aria-expanded="false">Mudar Imagem</a>
                                                        </li>
                                                        <?php }?>
                                                        <li class="<?php echo $tab == 3 ? 'active' : '' ?>">
                                                            <a href="#tab_1_3" data-toggle="tab" aria-expanded="false">Mudar Senha</a>
                                                        </li>
                                                        <?php if (!isset($ativacao)) { ?>
                                                        <li class="<?php echo $tab == 4 ? 'active' : '' ?>">
                                                            <a href="#tab_1_4" data-toggle="tab" aria-expanded="false">Endereços Cadastrados</a>
                                                        </li>
                                                        <?php }?>
                                                        <?php if (!isset($ativacao)) { ?>
                                                            <li class="<?php echo $tab == 5 ? 'active' : '' ?>">
                                                                <a href="#tab_1_5" data-toggle="tab" aria-expanded="false">Cartões</a>
                                                            </li>
                                                        <?php } ?>
                                                    </ul>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="tab-content">
                                                        <?php if (!isset($ativacao)) { ?>
                                                        <div class="tab-pane <?php echo $tab == 1 ? 'active' : '' ?>" id="tab_1_1">
                                                            <form action="<?= $urlactionpessoal ?>" method="post" role="form" name="form_dados" id="form_dados">
                                                                <input type="hidden" name="id" value="<?= $cliente['dados']['CLI_ID'] ?>"/>
                                                                <div class="form-group">
                                                                    <label class="control-label">Nome Completo</label>
                                                                    <input type="text" id="nome" name="nome" value="<?= $cliente['dados']['NOME_COMPLETO'] ?>" placeholder="Nome Completo" class="form-control" required="required"/>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-sm-3 nopadd-l">
                                                                        <label class="control-label">Tipo de Documento</label>
                                                                        <select class="form-control" name="tipo_doc" id="tipo_doc" required="required">
                                                                            <option value="CPF" <?= $cliente['dados']['TIPO_DOC'] == "CPF" ? 'selected="selected"' : '' ?>>CPF</option>
                                                                            <option value="CNPJ" <?= $cliente['dados']['TIPO_DOC'] == "CNPJ" ? 'selected="selected"' : '' ?>>CNPJ</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-6 nopadd-r nopadd-l">
                                                                        <label class="control-label" id="lbl_doc"><?= $cliente['dados']['TIPO_DOC'] == "CPF" || empty($cliente['dados']['TIPO_DOC']) ? 'CPF' : 'CNPJ' ?></label>
                                                                        <input type="text" id="cpf" name="cpf" value="<?= $cliente['dados']['NUM_DOC'] ?>" placeholder="<?= $cliente['dados']['TIPO_DOC'] == "CPF" || empty($cliente['dados']['TIPO_DOC']) ? 'CPF' : 'CNPJ' ?>" class="form-control <?= $cliente['dados']['TIPO_DOC'] || empty($cliente['dados']['TIPO_DOC']) == "CPF" ? 'cpf' : 'cnpj' ?> validcpfcliente" required="required"/>
                                                                    </div>
                                                                    <div class="col-sm-3 nopadd-r">
                                                                        <label class="control-label">Data de Nascimento</label>
                                                                        <input type="text" id="tel_dt_nascimento" name="tel_dt_nascimento" value="<?= $cliente['dados']['DT_NASCIMENTO'] ?>" placeholder="Data de Nascimento" class="form-control data" required="required"/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-sm-4 nopadd-l">
                                                                        <label class="control-label">Telefone Residencial</label>
                                                                        <input type="text" id="tel_resid" name="tel_resid" value="<?= $cliente['dados']['TELEFONE_RESID'] ?>" placeholder="Telefone Residencial" class="form-control fones">
                                                                    </div>
                                                                    <div class="col-sm-4 nopadd-r nopadd-l">
                                                                        <label class="control-label">Telefone Comercial</label>
                                                                        <input type="text" id="tel_com" name="tel_com" value="<?= $cliente['dados']['TELEFONE_COM'] ?>" placeholder="Telefone Comercial" class="form-control fones">
                                                                    </div>
                                                                    <div class="col-sm-4 nopadd-r">
                                                                        <label class="control-label">Telefone Celular</label>
                                                                        <input type="text" id="tel_cel" name="tel_cel" value="<?= $cliente['dados']['TELEFONE_CEL'] ?>" placeholder="Telefone Celular" class="form-control fones" required="required"/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-sm-6 nopadd-l">
                                                                        <label class="control-label margin-top-30">Gênero: </label>
                                                                        <label class="mt-radio">
                                                                            <input type="radio" name="genero" value="1" <?= intval($cliente['dados']['GENERO']) == 1 ? 'checked=""' : intval($cliente['dados']['GENERO']) == 0 ? 'checked=""' : ''; ?> <?= $cliente['dados']['TIPO_DOC'] == "CNPJ" ? 'disabled="disabled"' : '' ?>> Masculino
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio">
                                                                            <input type="radio" name="genero" value="2" <?= intval($cliente['dados']['GENERO']) == 2 ? 'checked=""' : ''; ?> <?= $cliente['dados']['TIPO_DOC'] == "CNPJ" ? 'disabled="disabled"' : '' ?>> Feminino
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="col-sm-6 nopadd-r nopadd-l">
                                                                        <label class="control-label">E-mail</label>
                                                                        <input type="text" id="email" name="email" value="<?= $cliente['dados']['CLI_EMAIL'] ?>" placeholder="E-mail" class="form-control" required="required"/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Ocupação</label>
                                                                    <input type="text" id="ocupacao" name="ocupacao" value="<?= $cliente['dados']['OCUPACAO'] ?>" placeholder="Ocupação" class="form-control"/>
                                                                </div>
                                                                <div class="margiv-top-10">
                                                                    <button type="submit" class="btn btn-success"> Salvar </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <?php }?>
                                                        <?php if (!isset($ativacao)) { ?>
                                                        <div class="tab-pane <?php echo $tab == 2 ? 'active' : '' ?>" id="tab_1_2">
                                                            <form action="<?= $urlactionimage ?>" enctype="multipart/form-data" method="post" role="form" name="form_imagem" id="form_imagem">
                                                                <div class="form-group">
                                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                        <input type="hidden" name="id" value="<?= $cliente['dados']['CLI_ID'] ?>"/>
                                                                        <input type="hidden" name="pasta" value="<?= $cliente['dados']['PASTA_CLI'] ?>"/>
                                                                        <div class="fileinput-new thumbnail" style="width: 100%; height: 200px;">
                                                                            <img src="<?= $imagem ?>" alt="<?= $cliente['dados']['NOME_COMPLETO'] ?>"> </div>
                                                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                                                        <div class="text-center">
                                                                            <span class="btn default btn-file">
                                                                                <span class="fileinput-new"> Selecionar Imagem </span>
                                                                                <span class="fileinput-exists"> Mudar </span>
                                                                                <input type="file" name="foto_cliente">
                                                                            </span>
                                                                            <input type="hidden" name="pasta" value="<?php echo $cliente['dados']['PASTA_CLI'] ?>"/>
                                                                            <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remover </a>
                                                                        </div>
                                                                        <label style="font-size: 9px">* Sua foto deve conter o tamanho de 300X300 pixels</label>
                                                                    </div>
                                                                </div>
                                                                <div class="margin-top-10">
                                                                    <button type="submit" class="btn btn-success"> Salvar </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <?php }?>
                                                        <div class="tab-pane <?php echo $tab == 3 ? 'active' : '' ?>" id="tab_1_3">
                                                            <form action="<?= $urlactionsenha ?>" method="post" role="form" name="form_nova_senha" id="form_nova_senha">
                                                                <input type="hidden" name="login" value="<?= $cliente['dados']['CLI_EMAIL'] ?>"/>
                                                                <input type="hidden" name="id" value="<?= $cliente['dados']['CLI_ID'] ?>"/>
                                                                <div class="form-group">
                                                                    <div class="col-sm-4 nopadd-l">
                                                                        <label class="control-label">Senha Atual</label>
                                                                        <?php if (isset($ativacao)) { ?>
                                                                            <input type="password" id="senha_atual" name="senha_atual" <?= !empty($senhautomatica) ? ' value="' . $senhautomatica . '" readonly="readonly"' : '' ?> class="form-control" maxlength="12" autocomplete="off">
                                                                        <?php } else { ?>
                                                                            <input type="password" id="senha_atual" name="senha_atual" class="form-control" maxlength="20" autocomplete="off" required="required"/>
                                                                        <?php } ?>
                                                                    </div>
                                                                    <div class="col-sm-4 nopadd-l nopadd-r">
                                                                        <label class="control-label">Nova Senha</label>
                                                                        <input type="password" id="senha_nova" name="senha_nova" class="form-control" maxlength="20" autocomplete="off" required="required"/>
                                                                    </div>
                                                                    <div class="col-sm-4 nopadd-r">
                                                                        <label class="control-label">Confirmar Senha</label>
                                                                        <input type="password" id="conf_senha" name="conf_senha" class="form-control" maxlength="20" autocomplete="off" required="required"/>
                                                                    </div>
                                                                </div>
                                                                <div class="margin-top-10">
                                                                    <button type="submit" class="btn btn-success"> Salvar </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <?php if (!isset($ativacao)) { ?>
                                                        <div class="tab-pane <?php echo $tab == 4 ? 'active' : '' ?>" id="tab_1_4">
                                                            <?php
                                                            $count = 1;

                                                            if (count($cliente['enderecos']) > 0) {
                                                                foreach ($cliente['enderecos'] as $endereco) {

                                                                    ?>
                                                                    <form action="<?= $urlactionendereco ?>" method="post" role="form" name="form_endereco" id="form_endereco">
                                                                        <input type="hidden" name="idcli" value="<?= $cliente['dados']['CLI_ID'] ?>"/>
                                                                        <div class="area_endereco">
                                                                            <div class="form-group tit">
                                                                                <h4>Endereço - <?= $count; ?></h4>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="col-sm-3 nopadd-l">
                                                                                    <label class="control-label">CEP</label>
                                                                                    <input type="text" id="cep_<?= $endereco['END_ID'] ?>" name="cep" value="<?= $endereco['END_CEP'] ?>" placeholder="CEP" class="form-control cep ecep" required="required"/>
                                                                                </div>
                                                                                <div class="col-sm-9 nopadd-l">
                                                                                    <input type="hidden" id="id_<?= $endereco['END_ID'] ?>" name="id" value="<?= $endereco['END_ID'] ?>"/>
                                                                                    <label class="control-label">Logradouro</label>
                                                                                    <input type="text" id="logradouro_<?= $endereco['END_ID'] ?>" name="logradouro" value="<?= $endereco['END_ENDERECO'] ?>" placeholder="Logradouro" class="form-control elogradouro" required="required"/>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="col-sm-6 nopadd-l">
                                                                                    <label class="control-label">Bairro</label>
                                                                                    <input type="text" id="bairro_<?= $endereco['END_ID'] ?>" name="bairro" value="<?= $endereco['END_BAIRRO'] ?>" placeholder="Bairro" class="form-control ebairro" required="required"/>
                                                                                </div>
                                                                                <div class="col-sm-3 nopadd-l">
                                                                                    <label class="control-label">Número</label>
                                                                                    <input type="text" id="cep_<?= $endereco['END_ID'] ?>" name="numero" value="<?= $endereco['END_NUM'] ?>" placeholder="Número" class="form-control numbers" required="required"/>
                                                                                </div>
                                                                                <div class="col-sm-3 nopadd-l">
                                                                                    <label class="control-label">Tipo: </label>
                                                                                    <select id="tipo_<?= $endereco['END_ID'] ?>" name="tipo" class="form-control slct_end" required="required">
                                                                                        <option value="">Selecione</option>
                                                                                        <option value="1" <?= intval($endereco['END_TIPO']) == 1 ? 'selected="selected"' : '' ?>>Residencial</option>
                                                                                        <option value="2" <?= intval($endereco['END_TIPO']) == 2 ? 'selected="selected"' : '' ?>>Comercial</option>
                                                                                        <option value="3" <?= intval($endereco['END_TIPO']) == 3 ? 'selected="selected"' : '' ?>>Outro</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="col-sm-6 nopadd-l">
                                                                                    <label class="control-label">Cidade</label>
                                                                                    <input type="text" id="cidade_<?= $endereco['END_ID'] ?>" name="cidade" value="<?= $endereco['END_CIDADE'] ?>" placeholder="Cidade" class="form-control ecidade" required="required"/>
                                                                                </div>
                                                                                <div class="col-sm-2 nopadd-l">
                                                                                    <label class="control-label">UF</label>
                                                                                    <select id="uf_<?= $endereco['END_ID'] ?>" name="uf" class="form-control eestado" required="required">
                                                                                        <option value="AC" <?= $endereco['END_UF'] == "AC" ? 'selected="selected"' : '' ?>>AC</option>
                                                                                        <option value="AL" <?= $endereco['END_UF'] == "AL" ? 'selected="selected"' : '' ?>>AL</option>
                                                                                        <option value="AP" <?= $endereco['END_UF'] == "AP" ? 'selected="selected"' : '' ?>>AP</option>
                                                                                        <option value="AM" <?= $endereco['END_UF'] == "AM" ? 'selected="selected"' : '' ?>>AM</option>
                                                                                        <option value="BA" <?= $endereco['END_UF'] == "BA" ? 'selected="selected"' : '' ?>>BA</option>
                                                                                        <option value="CE" <?= $endereco['END_UF'] == "CE" ? 'selected="selected"' : '' ?>>CE</option>
                                                                                        <option value="DF" <?= $endereco['END_UF'] == "DF" ? 'selected="selected"' : '' ?>>DF</option>
                                                                                        <option value="ES" <?= $endereco['END_UF'] == "ES" ? 'selected="selected"' : '' ?>>ES</option>
                                                                                        <option value="GO" <?= $endereco['END_UF'] == "GO" ? 'selected="selected"' : '' ?>>GO</option>
                                                                                        <option value="MA" <?= $endereco['END_UF'] == "MA" ? 'selected="selected"' : '' ?>>MA</option>
                                                                                        <option value="MT" <?= $endereco['END_UF'] == "MT" ? 'selected="selected"' : '' ?>>MT</option>
                                                                                        <option value="MS" <?= $endereco['END_UF'] == "MS" ? 'selected="selected"' : '' ?>>MS</option>
                                                                                        <option value="MG" <?= $endereco['END_UF'] == "MG" ? 'selected="selected"' : '' ?>>MG</option>
                                                                                        <option value="PA" <?= $endereco['END_UF'] == "PA" ? 'selected="selected"' : '' ?>>PA</option>
                                                                                        <option value="PB" <?= $endereco['END_UF'] == "PB" ? 'selected="selected"' : '' ?>>PB</option>
                                                                                        <option value="PR" <?= $endereco['END_UF'] == "PR" ? 'selected="selected"' : '' ?>>PR</option>
                                                                                        <option value="PE" <?= $endereco['END_UF'] == "PE" ? 'selected="selected"' : '' ?>>PE</option>
                                                                                        <option value="PI" <?= $endereco['END_UF'] == "PI" ? 'selected="selected"' : '' ?>>PI</option>
                                                                                        <option value="RJ" <?= $endereco['END_UF'] == "RJ" ? 'selected="selected"' : '' ?>>RJ</option>
                                                                                        <option value="RN" <?= $endereco['END_UF'] == "RN" ? 'selected="selected"' : '' ?>>RN</option>
                                                                                        <option value="RS" <?= $endereco['END_UF'] == "RS" ? 'selected="selected"' : '' ?>>RS</option>
                                                                                        <option value="RO" <?= $endereco['END_UF'] == "RO" ? 'selected="selected"' : '' ?>>RO</option>
                                                                                        <option value="RR" <?= $endereco['END_UF'] == "RR" ? 'selected="selected"' : '' ?>>RR</option>
                                                                                        <option value="SC" <?= $endereco['END_UF'] == "SC" ? 'selected="selected"' : '' ?>>SC</option>
                                                                                        <option value="SP" <?= $endereco['END_UF'] == "SP" ? 'selected="selected"' : '' ?>>SP</option>
                                                                                        <option value="SE" <?= $endereco['END_UF'] == "SE" ? 'selected="selected"' : '' ?>>SE</option>
                                                                                        <option value="TO" <?= $endereco['END_UF'] == "TO" ? 'selected="selected"' : '' ?>>TO</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="col-sm-4 nopadd-l">
                                                                                    <label class="control-label">País</label>
                                                                                    <input type="text" id="pais_<?= $endereco['END_ID'] ?>" name="pais" value="<?= $endereco['END_PAIS'] ?>" placeholder="País" class="form-control epais" required="required"/>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label">Complemento</label>
                                                                                <input type="text" id="complemento_<?= $endereco['END_ID'] ?>" name="complemento" value="<?= $endereco['END_COMPLEMENTO'] ?>" placeholder="Complemento" class="form-control">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="col-sm-4 nopadd-l">
                                                                                    <label class="control-label">Enviar para este endereço: </label>
                                                                                    <select id="enviar_<?= $endereco['END_ID'] ?>" name="enviar" class="form-control slct_envio" required="required">
                                                                                        <option value="1" <?= intval($endereco['IS_ENVIO']) == 1 ? 'selected="selected"' : '' ?>>Sim</option>
                                                                                        <option value="0" <?= intval($endereco['IS_ENVIO']) == 0 ? 'selected="selected"' : '' ?>>Não</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="col-sm-4 nopadd-l">
                                                                                    <label class="control-label">Status: </label>
                                                                                    <select id="status_<?= $endereco['END_ID'] ?>" name="status" class="form-control" required="required">
                                                                                        <option value="1" <?= intval($endereco['END_STATUS']) == 1 ? 'selected="selected"' : '' ?>>Ativo</option>
                                                                                        <option value="0" <?= intval($endereco['END_STATUS']) == 0 ? 'selected="selected"' : '' ?>>Inativo</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="col-sm-6 margiv-top-10">
                                                                                    <button type="submit" class="btn btn-success"> Salvar Endereço</button>
                                                                                </div>
                                                                                <div class="col-sm-6 margiv-top-10 text-right">
                                                                                    <button type="button" class="btn btn-danger remarea right <?= $count == 1 ? 'hidden' : '' ?>" data-bloco=".area_endereco" data-id="<?= $endereco['END_ID'] ?>" data-action="<?= $removerendereco ?>">
                                                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                            <hr/>
                                                                        </div>
                                                                    </form>
                                                                    <?php
                                                                    $count++;
                                                                }

                                                                ?>
                                                                <div class="form-group">
                                                                    <div class="col-sm-12 margiv-top-10 text-right">
                                                                        <button type="button" class="btn btn-warning addclone" data-bloco=".area_endereco" data-rem=".remclone"> Adicionar Endereço  </button>
                                                                    </div>
                                                                </div>
                                                            <?php } else { ?>
                                                                <form action="<?= $urlactionendereco ?>" method="post" role="form" name="form_endereco" id="form_endereco">
                                                                    <input type="hidden" name="idcli" value="<?= $cliente['dados']['CLI_ID'] ?>"/>
                                                                    <div class="area_endereco">
                                                                        <div class="form-group tit">
                                                                            <h4>Endereço - 1</h4>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-3 nopadd-l">
                                                                                <label class="control-label">CEP</label>
                                                                                <input type="text" id="cep_1" name="cep" placeholder="CEP" class="form-control cep ecep" required="required"/>
                                                                            </div>
                                                                            <div class="col-sm-9 nopadd-l">
                                                                                <label class="control-label">Logradouro</label>
                                                                                <input type="text" id="logradouro_1" name="logradouro" placeholder="Logradouro" class="form-control elogradouro" required="required"/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-6 nopadd-l">
                                                                                <label class="control-label">Bairro</label>
                                                                                <input type="text" id="bairro_1" name="bairro" placeholder="Bairro" class="form-control ebairro" required="required"/>
                                                                            </div>
                                                                            <div class="col-sm-3 nopadd-l">
                                                                                <label class="control-label">Número</label>
                                                                                <input type="text" id="cep_1" name="numero" placeholder="Número" class="form-control numbers" required="required"/>
                                                                            </div>
                                                                            <div class="col-sm-3 nopadd-l">
                                                                                <label class="control-label">Tipo: </label>
                                                                                <select id="tipo_1" name="tipo" class="form-control slct_end" required="required">
                                                                                    <option value="">Selecione</option>
                                                                                    <option value="1">Residencial</option>
                                                                                    <option value="2">Comercial</option>
                                                                                    <option value="3">Outro</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-6 nopadd-l">
                                                                                <label class="control-label">Cidade</label>
                                                                                <input type="text" id="cidade_1" name="cidade" placeholder="Cidade" class="form-control ecidade" required="required"/>
                                                                            </div>
                                                                            <div class="col-sm-2 nopadd-l">
                                                                                <label class="control-label">UF</label>
                                                                                <select id="uf_1" name="uf" class="form-control eestado" required="required">
                                                                                    <option value="AC">AC</option>
                                                                                    <option value="AL">AL</option>
                                                                                    <option value="AP">AP</option>
                                                                                    <option value="AM">AM</option>
                                                                                    <option value="BA">BA</option>
                                                                                    <option value="CE">CE</option>
                                                                                    <option value="DF">DF</option>
                                                                                    <option value="ES">ES</option>
                                                                                    <option value="GO">GO</option>
                                                                                    <option value="MA">MA</option>
                                                                                    <option value="MT">MT</option>
                                                                                    <option value="MS">MS</option>
                                                                                    <option value="MG">MG</option>
                                                                                    <option value="PA">PA</option>
                                                                                    <option value="PB">PB</option>
                                                                                    <option value="PR">PR</option>
                                                                                    <option value="PE">PE</option>
                                                                                    <option value="PI">PI</option>
                                                                                    <option value="RJ">RJ</option>
                                                                                    <option value="RN">RN</option>
                                                                                    <option value="RS">RS</option>
                                                                                    <option value="RO">RO</option>
                                                                                    <option value="RR">RR</option>
                                                                                    <option value="SC">SC</option>
                                                                                    <option value="SP">SP</option>
                                                                                    <option value="SE">SE</option>
                                                                                    <option value="TO">TO</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-sm-4 nopadd-l">
                                                                                <label class="control-label">País</label>
                                                                                <input type="text" id="pais_1" name="pais" placeholder="País" class="form-control epais" required="required"/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="control-label">Complemento</label>
                                                                            <input type="text" id="complemento_1" name="complemento" placeholder="Complemento" class="form-control"/>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-4 nopadd-l">
                                                                                <label class="control-label">Enviar para este endereço: </label>
                                                                                <select id="enviar_1" name="enviar" class="form-control slct_envio" required="required">
                                                                                    <option value="1">Sim</option>
                                                                                    <option value="0">Não</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-sm-4 nopadd-l">
                                                                                <label class="control-label">Status: </label>
                                                                                <select id="status_1" name="status" class="form-control" required="required">
                                                                                    <option value="1">Ativo</option>
                                                                                    <option value="0">Inativo</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-6 margiv-top-10">
                                                                                <button type="submit" class="btn btn-success"> Salvar Endereço</button>
                                                                            </div>
                                                                        </div>
                                                                        <hr/>
                                                                    </div>
                                                                </form>
                                                            <?php } ?>
                                                        </div>
                                                        <?php }?>
                                                        <?php if (!isset($ativacao)) { ?>
                                                            <div class="tab-pane <?php echo $tab == 5 ? 'active' : '' ?>" id="tab_1_5">
                                                                <?php
                                                                $count2 = 1;

                                                                if (count($cliente['cartoes']) > 0) {
                                                                    foreach ($cliente['cartoes'] as $cartoes) {

                                                                        ?>
                                                                        <form action="<?= $urlactioncartao ?>" method="post" role="form" name="form_cartao_<?=$count2?>" id="form_cartao_<?=$count2?>">
                                                                            <input type="hidden" name="idcli" value="<?= $cliente['dados']['CLI_ID'] ?>"/>
                                                                            <input type="hidden" id="id_<?= $cartoes['CART_ID'] ?>" name="id" value="<?= $cartoes['CART_ID'] ?>"/>
                                                                            <div class="area_cartao">
                                                                                <div class="form-group">
                                                                                    <div class="col-sm-9 nopadd-l">
                                                                                        <label for="titular">Nome do Titular</label>
                                                                                        <input type="text" name="titular" id="titular_<?= $cartoes['CART_ID'] ?>" value="<?= \santosdummontsite\Common::encrypt_decrypt('decrypt', $cartoes['CART_NOME']); ?>" class="form-control" maxlength="150" autocomplete="off" required="required"/>
                                                                                    </div>
                                                                                    <div class="col-sm-3 nopadd-l">
                                                                                        <label for="titular">CPF do Titular</label>
                                                                                        <input type="text" name="cpftitular" id="cpftitular-<?= $cartoes['CART_ID'] ?>" placeholder="CPF do Titular" value="<?= \santosdummontsite\Common::encrypt_decrypt('decrypt', $cartoes['CART_CPF']); ?>" class="form-control cpf validcpfcliente" maxlength="150" autocomplete="off" required="required"/>
                                                                                    </div>
                                                                                    <div class="col-sm-6 nopadd-l">
                                                                                        <label for="numerocartao">Número do Cartão</label>
                                                                                        <input type="text" name="numerocartao" id="numerocartao_<?= $cartoes['CART_ID'] ?>" value="<?= \santosdummontsite\Common::encrypt_decrypt('decrypt', $cartoes['CART_NUMERO']); ?>" class="form-control cartcred" maxlength="200" autocomplete="off" required="required"/>
                                                                                    </div>
                                                                                    <div class="col-sm-3 nopadd-l">
                                                                                        <label for="cvv">CVV</label>
                                                                                        <input type="password" name="cvv" id="cvv_<?= $cartoes['CART_ID'] ?>" value="<?= \santosdummontsite\Common::encrypt_decrypt('decrypt', $cartoes['CART_CCV']); ?>" class="form-control ncvv" maxlength="3" autocomplete="off" required="required"/>
                                                                                    </div>
                                                                                    <div class="col-sm-3 nopadd-l">
                                                                                        <label for="validadecartao">Validade</label>
                                                                                        <input type="password" name="validadecartao" id="validadecartao_<?= $cartoes['CART_ID'] ?>" value="<?= \santosdummontsite\Common::encrypt_decrypt('decrypt', $cartoes['CART_VALIDADE']); ?>" class="form-control cartdtval" maxlength="200" autocomplete="off" required="required"/>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <div class="col-sm-4 nopadd-l">
                                                                                        <label class="control-label">Usar este cartão: </label>
                                                                                        <select id="enviar_<?= $cartoes['CART_ID'] ?>" name="cartuso" class="form-control slct_envio" required="required">
                                                                                            <option value="1" <?= intval($cartoes['IS_USO']) == 1 ? 'selected="selected"' : '' ?>>Sim</option>
                                                                                            <option value="0" <?= intval($cartoes['IS_USO']) == 0 ? 'selected="selected"' : '' ?>>Não</option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="col-sm-4 nopadd-l">
                                                                                        <label class="control-label">Status: </label>
                                                                                        <select id="status_<?= $cartoes['CART_ID'] ?>" name="cartstatus" class="form-control" required="required">
                                                                                            <option value="1" <?= intval($cartoes['CART_STATUS']) == 1 ? 'selected="selected"' : '' ?>>Ativo</option>
                                                                                            <option value="0" <?= intval($cartoes['CART_STATUS']) == 0 ? 'selected="selected"' : '' ?>>Inativo</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <div class="col-sm-6 margiv-top-10 nopadd-l">
                                                                                        <button type="submit" class="btn btn-success"> Salvar Cartão</button>
                                                                                    </div>
                                                                                    <div class="col-sm-6 margiv-top-10 text-right">
                                                                                        <button type="button" class="btn btn-danger remarea right" data-bloco=".area_endereco" data-id="<?= $cartoes['CART_ID'] ?>" data-action="<?= $removercartao ?>">
                                                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                                <hr/>
                                                                            </div>
                                                                        </form>
                                                                        <?php
                                                                        $count2++;
                                                                    }

                                                                    ?>
                                                                    <div class="form-group">
                                                                        <div class="col-sm-12 margiv-top-10 text-right">
                                                                            <button type="button" class="btn btn-warning addclone" data-bloco=".area_cartao" data-rem=".remclone"> Adicionar Cartão  </button>
                                                                        </div>
                                                                    </div>
                                                                    <?php
                                                                } else {

                                                                    ?>
                                                                    <form action="<?= $urlactioncartao ?>" method="post" role="form" name="form_cartao" id="form_cartao">
                                                                        <div class="form-group">
                                                                            <div class="col-sm-9 nopadd-l">
                                                                                <label for="titular">Nome do Titular</label>
                                                                                <input type="text" name="titular" id="titular" class="form-control" maxlength="150" autocomplete="off">
                                                                            </div>
                                                                            <div class="col-sm-3 nopadd-l">
                                                                                <label for="titular">CPF do Titular</label>
                                                                                <input type="text" name="cpftitular" id="cpftitular" placeholder="CPF do Titular" class="form-control cpf validcpfcliente" maxlength="150" autocomplete="off">
                                                                            </div>
                                                                            <div class="col-sm-6 nopadd-l">
                                                                                <label for="numerocartao">Número do Cartão</label>
                                                                                <input type="text" name="numerocartao" id="numerocartao" class="form-control cartcred" maxlength="200" autocomplete="off">
                                                                            </div>
                                                                            <div class="col-sm-3 nopadd-l">
                                                                                <label for="cvv">CVV</label>
                                                                                <input type="password" name="cvv" id="cvv" class="form-control nccv" maxlength="3" autocomplete="off">
                                                                            </div>
                                                                            <div class="col-sm-3 nopadd-l">
                                                                                <label for="validadecartao">Validade</label>
                                                                                <input type="password" name="validadecartao" id="validadecartao" class="form-control cartdtval" maxlength="200" autocomplete="off">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-4 nopadd-l">
                                                                                <label class="control-label">Usar este cartão: </label>
                                                                                <select id="enviar_1" name="cartuso" class="form-control slct_envio">
                                                                                    <option value="1">Sim</option>
                                                                                    <option value="0">Não</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-sm-4 nopadd-l">
                                                                                <label class="control-label">Status: </label>
                                                                                <select id="status_1" name="cartstatus" class="form-control">
                                                                                    <option value="1">Ativo</option>
                                                                                    <option value="0">Inativo</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-6 margiv-top-10 nopadd-l">
                                                                                <button type="submit" class="btn btn-success"> Salvar Cartão</button>
                                                                            </div>
                                                                        </div>
                                                                        <hr/>
                                                                    </form>
                                                                <?php } ?>
                                                            </div>
                                                        <?php } ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>