<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="<?= SITE_URL . '/Home' ?>">Home</a></li>
            <li class="active">Carrinho de Compra</li>
        </ul>

        <div class="row margin-bottom-40">
            <div class="col-sm-12 col-sm-12 col-md-12 col-xs-12">
                <h1>Carrinho de Compra</h1>
                <div class="panel-group checkout-page accordion" id="checkout-page">
                    <?php if ($resultados > 0) { ?>
                        <div id="itens-carrinho" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <span class="accordion-toggle">
                                        Lista de Produtos
                                    </span>
                                </h2>
                            </div>
                            <div id="itens-carrinho-content" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="carr_prods">
                                        <div class="table-wrapper-responsive">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th class="checkout-image hidden-xs">Imagem</th>
                                                        <th class="checkout-description">Descrição</th>
                                                        <th class="checkout-model hidden-xs">Modelo</th>
                                                        <th class="checkout-quantity">QTDE</th>
                                                        <th class="checkout-price">Preço</th>
                                                        <th class="checkout-total">Total</th>
                                                        <th class="checkout-actions"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php
                                                    foreach ($listacheckout as $produto) {

                                                        $principal = \santosdummontsite\Common::imagem_existe($produto['PASTA_IMAGENS'], $produto['PRD_IMAGEM_PRINCIPAL'], 2);

                                                    ?>
                                                        <tr>
                                                            <td class="checkout-image hidden-xs">
                                                                <a href="<?= SITE_URL . '/Produtos/Item/' . $produto['PRD_PATH'] ?>" target="_blank">
                                                                    <img src="<?= $principal ?>" class="img-responsive">
                                                                </a>
                                                            </td>
                                                            <td class="checkout-description">
                                                                <h5><a href="<?= SITE_URL . '/Produtos/Item/' . $produto['PRD_PATH'] ?>" target="_blank"><?= $produto['PRD_NOME'] ?></a></h5>
                                                            </td>
                                                            <td class="checkout-model hidden-xs"><?= $produto['PRD_MODELO'] ?></td>
                                                            <td class="checkout-quantity">
                                                                <div class="cart-plus-minus">
                                                                    <div class="numbers-row">
                                                                        <button class="dec qtybutton rem_qtde_prod" data-id="<?= $produto['CAR_ID'] ?>" data-action="<?= SITE_URL . '/Usuarios/AddRemoverQtdCarrinho'; ?>" data-refresh="<?= SITE_URL . '/Usuarios/AtualizarCarrinho'; ?>">
                                                                            <i class="fa fa-minus">&nbsp;</i>
                                                                        </button>
                                                                        <input type="text" class="qty" title="Quantidade" value="<?= $produto['QTDE'] ?>" maxlength="12" name="qty">
                                                                        <button class="inc qtybutton add_qtde_prod" data-id="<?= $produto['CAR_ID'] ?>" data-action="<?= SITE_URL . '/Usuarios/AddRemoverQtdCarrinho'; ?>" data-refresh="<?= SITE_URL . '/Usuarios/AtualizarCarrinho'; ?>">
                                                                            <i class="fa fa-plus">&nbsp;</i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="checkout-price"><strong><span class="prec_produto">R$ <?= number_format($produto['PRD_PRECO'], 2, ',', '.') ?></span></strong></td>
                                                            <td class="checkout-total"><strong><span class="prec_total_produto">R$ <?= number_format($produto['PRECO_TOTAL'], 2, ',', '.') ?></span></strong></td>
                                                            <td class="checkout-actions">
                                                                <a class="del-goods btn btn-xs btn-danger btn_item_carrinho" href="#" data-action="<?= SITE_URL . '/Usuarios/RemoverItemCarrinho'; ?>" data-refresh="<?= SITE_URL . '/Usuarios/AtualizarCarrinho'; ?>" data-id="<?= $produto['CAR_ID'] ?>" title="Remover do Pedido">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    <?php } ?>
                                                </tbody>
                                            </table>
                                        </div>
                                        <?php if ($totalpaginas > 1) { ?>
                                            <div class="row">
                                                <?php
                                                $range = 3;

                                                ?>
                                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                    <ul class="pagination">
                                                        <?php if ($paginaatual > 1) { ?>
                                                            <li><a href="<?= $urlaction . '/' . ($paginaatual - 1) ?>">Anterior</a></li>
                                                        <?php } ?>
                                                        <?php
                                                        for ($x = ($paginaatual - $range); $x < (($paginaatual + $range) + 1); $x++) {
                                                            if (($x > 0) && ($x <= $totalpaginas)) {
                                                                if ($x == $paginaatual) {

                                                        ?>
                                                                    <li><span class="pag-atual"><strong><?= $paginaatual ?></strong></span></li>
                                                                <?php
                                                                } else {

                                                                ?>
                                                                    <li><a href="<?= $urlaction . '/' . $x ?>"><?= $x ?></a></li>
                                                        <?php
                                                                }
                                                            }
                                                        }

                                                        ?>
                                                        <?php if ($paginaatual != $totalpaginas) { ?>
                                                            <?php $nextpage = $paginaatual + 1; ?>
                                                            <li><a href="<?= $urlaction . '/' . $nextpage ?>">Próxima</a></li>
                                                            <li><a href="<?= $urlaction . '/' . $totalpaginas ?>">Última</a></li>
                                                        <?php } ?>
                                                    </ul>
                                                </div>
                                            </div>
                                        <?php } ?>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 info_ped_carrinho">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                    <h4><span><strong>Total dos Produtos: </strong></span><strong><span id="total_produtos"><?= 'R$ ' . number_format($totaischeckout[0]['PRECO_TOTAL'], 2, ',', '.') ?></span></strong></h4>
                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                    <h2><span><strong>Total do Pedido: </strong></span><strong><span id="total_pedido"><?= 'R$ ' . number_format(empty($sessTotal) ? 0 : $sessTotal, 2, ',', '.') ?></span></strong></h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <form id="form-carrinho" name="form-carrinho">
                                                <div id="form_calc_frete">
                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                            <div class="form-group">
                                                                <?php if ($logado) { ?>
                                                                    <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                                                                        <label class="control-label">Endereço para Entrega</label>
                                                                        <select name="cep_frete" id="cep_frete" class="form-control">
                                                                            <?php
                                                                            foreach ($cliente['enderecos'] as $endereco) {
                                                                                $end = $endereco['END_ENDERECO'] . ', ' . $endereco['END_NUM'] . ' - ' . $endereco['END_CIDADE'] . '-' . $endereco['END_UF'];
                                                                            ?>
                                                                                <option data-id="<?= $endereco['END_ID'] ?>" value="<?= $endereco['END_CEP'] ?>" <?= $endereco['IS_ENVIO'] == 1 ? 'select="selected"' : '' ?>><?= $end ?></option>
                                                                            <?php
                                                                            }
                                                                            ?>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                                                                        <a href="<?= SITE_URL . '/Usuarios/EditarInformacoes/' . $cliente['dados']['CLI_ID'] . '#tab_1_4' ?>" class="btn btn-success btn-xs mt-23">Cadastrar Outro</a>
                                                                    </div>
                                                                <?php } else { ?>
                                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                                        <label class="control-label">Informe um CEP:</label>
                                                                        <input type="text" name="cep_frete" id="cep_frete" class="form-control cep validcep" data-name="CEP de destino" maxlength="20" autocomplete="off" value="<?= $sessCep; ?>">
                                                                    </div>
                                                                <?php } ?>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                                    <label class="control-label">Opção de Envio</label>
                                                                </div>
                                                                <ul class="list-none col-sm-7 list-pag">
                                                                    <?php $ct = 0; ?>
                                                                    <?php foreach ($listameiosentrega as $row) { ?>
                                                                        <li class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                                            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                                                <label for="tipo_entrega_<?= $ct; ?>" class="calcula_frete frm_entrega <?= (empty($sesTipoEntr) ? 0 : $sesTipoEntr) == $row['CODIGO_MEIO'] ? 'frm_selecionado_ent' : ''; ?>" data-codigo="<?= $row['CODIGO_MEIO']; ?>" data-calcfrete="<?= $row['CALC_FRETE'] ?>" data-action="<?= $calcularfrete ?>" data-refresh="<?= SITE_URL . '/Usuarios/AtualizarCarrinho'; ?>">
                                                                                    <img class="img-pag" alt="<?= $row['DESCRICAO_MEIO'] ?>" src="<?= IMGS_URL . '/' . $row['IMAGEM'] ?>" title="<?= $row['NOME_MEIO'] ?>" />
                                                                                </label>
                                                                                <div class="hidden">
                                                                                    <input type="radio" name="tipo_entrega" class="tipo_entrega_op" id="tipo_entrega_<?= $ct; ?>" value="<?= $row['CODIGO_MEIO']; ?>" <?= $sesTipoEntr == $row['CODIGO_MEIO'] ? 'checked="checked"' : '' ?> data-frete="<?= $row['CALC_FRETE'] ?>" data-refresh="<?= SITE_URL . '/Usuarios/AtualizarCarrinho'; ?>" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                                                                                <?php if ((empty($sesTipoEntr) ? 0 : $sesTipoEntr) == $row['CODIGO_MEIO']) { ?>
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                                                        <h6><strong><span class="frete_total"><?= 'R$ ' . number_format(empty($sessFrete) ? 0 : $sessFrete, 2, ',', '.') ?></span></strong>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                                                        <h6><strong><span class="przo_pedido"><?= empty($sessPrazo) ? '' : $sessPrazo ?></span></strong>
                                                                                    </div>
                                                                                <?php } else { ?>
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                                                        <h6><strong><span class="frete_total"></span></strong>
                                                                                    </div>
                                                                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                                                        <h6><strong><span class="przo_pedido"></span></strong>
                                                                                    </div>
                                                                                <?php } ?>
                                                                            </div>
                                                                        </li>
                                                                        <?php $ct++; ?>
                                                                    <?php } ?>
                                                                </ul>
                                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                                    <h5><span id="msg_retorno"></span></h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                            <?php if(false){?>
                                                            <a href="<?= SITE_URL . '/Usuarios/Checkout/' . $token ?>" class="btn btn-lg btn-success finalizar_compra">Finalizar compra</a>
                                                            <?php }?>
                                                            <a href="#modal" data-action="<?= SITE_URL . '/Usuarios/EnviarLoja' ?>" class="btn btn-lg btn-warning btn-vercar enviar_para_loja">Enviar para Loja Fisica</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } else { ?>
                        <h2>Nenhum produto adicionado.</h2>
                        <a href="<?= SITE_URL . '/Home' ?>" class="btn btn-success">Voltar</a>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
</div>
