<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="<?= SITE_URL . '/Home' ?>">Home</a></li>
            <li class="active"><?= $titulo ?></li>
        </ul>

        <div class="row margin-bottom-40">
            <div class="col-md-12 col-sm-12">
                <h1><?= $titulo ?></h1>
                <h3>É necessário que você tenha ou realize um cadastro para continuar!</h3>
                <div class="checkout-page">
                    <div id="rootwizard" class="form-wizard margin-bottom-10 margin-top-40">
                        <div class="steps-progress" style="margin-left: 10%; margin-right: 10%;">
                            <div class="progress-indicator" style="width: 0px;"></div>
                        </div>
                        <ul class="itens">
                            <li class="<?= $cadastrorealizado ? 'completed' : 'active' ?>">
                                <a href="#tab-1" data-toggle="tab"><span>1</span>Identificação</a>
                            </li>
                            <li class="<?= $cadastrorealizado ? 'active' : '' ?>">
                                <a href="#tab-2" data-toggle="tab"><span>2</span>Localização</a>
                            </li>
                            <li class="disabled">
                                <a href="#tab-3" class="link-inativo" data-toggle="tab"><span>3</span>Carrinho</a>
                            </li>
                            <li class="disabled">
                                <a href="#tab-4" data-toggle="tab"><span>4</span>Pagamento</a>
                            </li>
                            <li class="disabled">
                                <a href="#tab-5" data-toggle="tab"><span>5</span>Confirmação</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="itens-carrinho-content">
                            <div class="tab-pane active" id="tab-1">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div id="login-registro" class="panel panel-default margin-bottom-10 h-min-430">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><strong>Já sou cadastrado!</strong></h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="area_login">
                                                    <form method="POST" role="form" name="form_login" id="form_login" action="<?= $urlactionlogin ?>" class="form form-vertical" data-toggle="validator">
                                                        <input type="hidden" name="ctrl" value="<?= $controller ?>" />
                                                        <input type="hidden" name="metodo" value="<?= $metodo ?>" />
                                                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 form-group">
                                                            <label for="email_login" class="control-label">E-Mail</label>
                                                            <input type="email" name="email_login" id="email_login" class="form-control validemail" maxlength="200" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 form-group">
                                                            <label for="password_login" class="control-label">Senha</label>
                                                            <input type="password" name="password_login" id="password_login" class="form-control" maxlength="20" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-5 col-md-5 col-xs-12 col-sm-offset-3">
                                                            <a href="#" id="ir_esqueci_senha" class="btn btn-primary btn-block btn-danger">Esqueci minha senha</a>
                                                        </div>
                                                        <div class="col-sm-4 col-xs-12 form-group">
                                                            <button type="submit" class="btn btn-success btn-login form-control">
                                                                <i class="fa fa-sign-in"></i>
                                                                Entrar
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="area_esqueci_senha" style="display: none">
                                                    <form method="POST" role="form" name="form_esqueci_senha" id="form_esqueci_senha" action="<?= $urlactionesqueci ?>" class="form form-vertical" data-toggle="validator">
                                                        <input type="hidden" name="ctrl" value="<?= $controller ?>" />
                                                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 form-group">
                                                            <label for="email" class="control-label">Informe seu E-Mail</label>
                                                            <input type="email" name="email" id="email" class="form-control" maxlength="200" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-5 col-sm-offset-3">
                                                            <a href="#" class="btn btn-primary btn-block btn-danger" id="ir_login">Voltar</a>
                                                        </div>
                                                        <div class="col-sm-4 col-xs-12 form-group">
                                                            <button type="submit" class="btn btn-success btn-login form-control form_submit">
                                                                Reenviar
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <?php //if (false) { 
                                                ?>
                                                <div class="login-socio">
                                                    <hr>
                                                    <div class="form-group social">
                                                        <?php foreach ($redessociais as $row) { ?>
                                                            <?php if (intval($row['RE_EXEC_LOGIN'] == 1)) { ?>
                                                                <a href="<?= $loginsocial[$row['RS_NOME']] ?>" class="social btn_login_<?= $row['RS_NOME'] ?>"><i class="fa fa-<?= $row['RS_NOME'] ?>" aria-hidden="true"></i></a>
                                                            <?php } ?>
                                                        <?php } ?>
                                                    </div>
                                                </div>
                                                <?php //} 
                                                ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="panel panel-default margin-bottom-10">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><strong><?= !$cadastrorealizado ? 'Quero me cadastrar!' : 'Complete seu cadastro' ?></strong></h4>
                                            </div>
                                            <div class="panel-body area_endereco">
                                                <?php if (!$cadastrorealizado) { ?>
                                                    <form method="POST" role="form" name="frm-cad-cliente" id="frm-cad-cliente" action="<?= $urlcadastracliente ?>" class="form form-vertical" data-toggle="validator">
                                                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 form-group">
                                                            <label for="nome" class="control-label">Nome Completo</label>
                                                            <input type="text" id="nome" name="nome" placeholder="Nome Completo" class="form-control" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 form-group">
                                                            <label for="email_reg" class="control-label">E-mail</label>
                                                            <input type="text" id="email_reg" name="email" placeholder="E-mail" class="form-control validemail verificaemailcliente" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 form-group">
                                                            <label for="tel_cel" class="control-label">Telefone Celular</label>
                                                            <input type="text" id="tel_cel" name="tel_cel" placeholder="Telefone Celular" class="form-control fones" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 form-group">
                                                            <label for="tipo_doc" class="control-label">Tipo de Documento</label>
                                                            <select class="form-control" name="tipo_doc" id="tipo_doc" autocomplete="off" required>
                                                                <option value="CPF">CPF</option>
                                                                <option value="CNPJ">CNPJ</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 form-group">
                                                            <label for="cpf" class="control-label" id="lbl_doc">CPF</label>
                                                            <input type="text" id="cpf" name="cpf" placeholder="CPF" class="form-control cpf" maxlength="12" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 form-group">
                                                            <label for="data_nasc" class="control-label">Data Nasc.</label>
                                                            <input type="text" id="data_nasc" name="data_nasc" placeholder="Data Nasc." class="form-control data" maxlength="12" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 form-group">
                                                            <label for="senha_nova" class="control-label">Senha</label>
                                                            <input type="password" id="senha_nova" name="senha_nova" placeholder="Senha" class="form-control txtSenha" maxlength="12" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 form-group">
                                                            <label for="conf_senha" class="control-label">Confirmar Senha</label>
                                                            <input type="password" id="conf_senha" name="conf_senha" placeholder="Confirmar Senha" class="form-control confisenha" maxlength="12" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-4 col-lg-4 col-md-4 col-sm-offset-8 col-md-offset-8 col-lg-offset-8 col-xs-12 form-group">
                                                            <button type="submit" class="btn btn-success form-control">
                                                                Cadastrar
                                                            </button>
                                                        </div>
                                                    </form>
                                                <?php } ?>
                                                <?php if ($cadastrorealizado && !$cadastroconcluido) { ?>
                                                    <form method="POST" role="form" name="frm-cad-end-cliente" id="frm-cad-end-cliente" action="<?= $urlcadastraendcliente ?>" class="form form-vertical" data-toggle="validator">
                                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 form-group">
                                                            <label for="cep_1" class="control-label">CEP</label>
                                                            <input type="text" id="cep_1" name="cep" placeholder="CEP" class="form-control cep ecep" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12 form-group">
                                                            <label for="logradouro_1" class="control-label">Logradouro</label>
                                                            <input type="text" id="logradouro_1" name="logradouro" placeholder="Logradouro" class="form-control elogradouro" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12 form-group">
                                                            <label for="bairro_1" class="control-label">Bairro</label>
                                                            <input type="text" id="bairro_1" name="bairro" placeholder="Bairro" class="form-control ebairro" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 form-group">
                                                            <label for="numero_1" class="control-label">Número</label>
                                                            <input type="text" id="numero_1" name="numero" placeholder="Número" class="form-control numbers" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 form-group">
                                                            <label for="cidade_1" class="control-label">Cidade</label>
                                                            <input type="text" id="cidade_1" name="cidade" placeholder="Cidade" class="form-control ecidade" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 form-group">
                                                            <label for="uf_1" class="control-label">UF</label>
                                                            <select id="uf_1" name="uf" class="form-control eestado" autocomplete="off" required>
                                                                <option value="AC">AC</option>
                                                                <option value="AL">AL</option>
                                                                <option value="AP">AP</option>
                                                                <option value="AM">AM</option>
                                                                <option value="BA">BA</option>
                                                                <option value="CE">CE</option>
                                                                <option value="DF">DF</option>
                                                                <option value="ES">ES</option>
                                                                <option value="GO">GO</option>
                                                                <option value="MA">MA</option>
                                                                <option value="MT">MT</option>
                                                                <option value="MS">MS</option>
                                                                <option value="MG">MG</option>
                                                                <option value="PA">PA</option>
                                                                <option value="PB">PB</option>
                                                                <option value="PR">PR</option>
                                                                <option value="PE">PE</option>
                                                                <option value="PI">PI</option>
                                                                <option value="RJ">RJ</option>
                                                                <option value="RN">RN</option>
                                                                <option value="RS">RS</option>
                                                                <option value="RO">RO</option>
                                                                <option value="RR">RR</option>
                                                                <option value="SC">SC</option>
                                                                <option value="SP">SP</option>
                                                                <option value="SE">SE</option>
                                                                <option value="TO">TO</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 form-group">
                                                            <label for="pais_1" class="control-label">País</label>
                                                            <input type="text" id="pais_1" name="pais" placeholder="País" class="form-control epais" autocomplete="off" required>
                                                        </div>
                                                        <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12 form-group">
                                                            <label for="complemento_1" class="control-label">Complemento</label>
                                                            <input type="text" id="complemento_1" name="complemento" placeholder="Complemento" class="form-control" autocomplete="off">
                                                        </div>
                                                        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 form-group">
                                                            <label for="tipo_1" class="control-label">Tipo: </label>
                                                            <select id="tipo_1" name="tipo" class="form-control slct_end" autocomplete="off" required>
                                                                <option value="1">Residencial</option>
                                                                <option value="2">Comercial</option>
                                                                <option value="3">Outro</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 form-group">
                                                            <div class="checkbox pull-right">
                                                                <label class=" control-label">
                                                                    <input type="checkbox" name="aceita_condicoes" value='1' id="aceita_condicoes" required> Eu li e concordo com o <a title="Termos & Condições" target="_blank" href="<?= SITE_URL . '/Home/Termos' ?>">Termos e Condições </a>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-lg-4 col-md-4 col-sm-offset-8 col-md-offset-8 col-lg-offset-8 col-xs-12 form-group">
                                                            <button type="submit" class="btn btn-success btn-login form-control">
                                                                Concluir Cadastro
                                                            </button>
                                                        </div>
                                                    </form>
                                                <?php } ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="<?= JS_JQUERY ?>/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
