<?php
header("Set-Cookie: cross-site-cookie=whatever; SameSite=None; Secure");
?>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title><?= TITLE_SITE ?></title>
    <meta name="author" content="Flavio Santos Sousa">
    <meta name="description" content="Santos Dummont Componentes Eletrônicos">
    <meta name="keywords" content="e-commerce, web, loja, virtual">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:site_name" content="Santos Dummont Componentes Eletrônicos">
    <meta property="og:title" content="<?= TITLE_SITE ?>">
    <meta property="og:description" content="Santos Dummont Componentes Eletrônicos">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<?= PATHSTATIC_URL ?>/<?= $config['LOGOTIPO'] ?>">
    <meta property="og:url" content="<?= URL ?>">

    <link rel="shortcut icon" href="<?= PATHSTATIC_URL ?>/<?= $config['FAVICON'] ?>">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="<?= GERAL_PLUGINS ?>/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="<?= GERAL_PLUGINS ?>/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="<?= GERAL_PLUGINS ?>/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="<?= GERAL_PLUGINS ?>/bootstrap/css/bootstrap-override.css" rel="stylesheet" />
    <link href="<?= GERAL_PLUGINS ?>/bootstrap/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="<?= GERAL_PLUGINS ?>/bootstrap/css/bootstrap-wysihtml5.css" rel="stylesheet" />
    <link href="<?= GERAL_PLUGINS ?>/waitMe/waitMe.css" rel="stylesheet" />
    <link href="<?= GERAL_PLUGINS ?>/lightbox/lightbox.min.css" rel="stylesheet">
    <link href="<?= GERAL_PLUGINS ?>/fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <link href="<?= GERAL_PLUGINS ?>/Uikit/uikit-2.27.2.css" rel="stylesheet" />
    <link href="<?= GERAL_PLUGINS ?>/Uikit/notify-2.27.2.css" rel="stylesheet" />
    <link href="<?= GERAL_PLUGINS ?>/Uikit/customUkit.css" rel="stylesheet" />
    <link href="<?= GERAL_PLUGINS ?>/scrollbar/css/jquery.scrollbar.css" rel="stylesheet" />
    <link href="<?= GERAL_PLUGINS ?>/slider/css/bootstrap-slider.css" rel="stylesheet" />
    <link href="<?= TEMA_CSS ?>/all-default.css" rel="stylesheet" />
    <link href="<?= TEMA_CSS ?>/all-components.css" rel="stylesheet" />
    <link href="<?= TEMA_CSS ?>/all-layout-1.css" rel="stylesheet" media="screen and (min-width: 1024px)" />
    <link href="<?= TEMA_CSS ?>/320-p-layout.css" rel="stylesheet" media="screen and (min-width: 320px) and (max-width: 360px) and (orientation:portrait)" />
    <link href="<?= TEMA_CSS ?>/361-p-layout.css" rel="stylesheet" media="screen and (min-width: 361px) and (max-width: 480px) and (orientation:portrait)" />
    <link href="<?= TEMA_CSS ?>/1024-l-layout.css" rel="stylesheet" media="screen and (width: 1024px) and (orientation:landscape)" />
    <link href="<?= TEMA_CSS ?>/1280-l-layout.css" rel="stylesheet" media="screen and (min-width: 1280px) and (min-width: 800px) and (orientation:landscape)" />
    <link href="<?= TEMA_CSS ?>/all-layout-2.css" rel="stylesheet" />
    <link href="<?= TEMA_CSS ?>/all-profile.css" rel="stylesheet" />
    <link href="<?= TEMA_CSS ?>/bootstrap-switch.css" rel="stylesheet" type="text/css">
    <link href="<?= TEMA_CSS ?>/bootstrap-fileinput.css" rel="stylesheet" type="text/css">
    <link href="<?= TEMA_CSS ?>/form-wizard.css" rel="stylesheet" type="text/css">

    <script src="<?= JS_JQUERY ?>/jquery-1.11.0.min.js?randon=<?= uniqid() ?>"></script>
    <script src="<?= JS_JQUERY ?>/jquery-latest<?= MINIMO ?>.js?randon=<?= uniqid() ?>"></script>
    <script src="<?= JS_JQUERY ?>/jquery-migrate-1.0.0<?= MINIMO ?>.js?randon=<?= uniqid() ?>"></script>
    <script src="<?= GERAL_PLUGINS ?>/bootbox/bootbox.all.min.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script type='text/javascript'>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-5G75W7WPGV');

        //smart lock
        window.smartlook || (function(d) {
            var o = smartlook = function() {
                    o.api.push(arguments)
                },
                h = d.getElementsByTagName('head')[0];
            var c = d.createElement('script');
            o.api = new Array();
            c.async = true;
            c.type = 'text/javascript';
            c.charset = 'utf-8';
            c.src = 'https://rec.smartlook.com/recorder.js';
            h.appendChild(c);
        })(document);
        smartlook('init', '7c304538783a903625645b201be801f7acb904e5');

        <?php if (false) { ?>
                //Google Tag Manager
                (function(w, d, s, l, i) {
                    w[l] = w[l] || [];
                    w[l].push({
                        'gtm.start': new Date().getTime(),
                        event: 'gtm.js'
                    });
                    var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s),
                        dl = l != 'dataLayer' ? '&l=' + l : '';
                    j.async = true;
                    j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                    f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', '<?= \santosdummontsite\Common::encrypt_decrypt('decrypt', $config['TAG_MANAGER_ID']) ?>');
            //End Google Tag Manager
        <?php } ?>
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<?= \santosdummontsite\Common::encrypt_decrypt('decrypt', $config['TRACKING_ID']) ?>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '<?= \santosdummontsite\Common::encrypt_decrypt('decrypt', $config['TRACKING_ID']) ?>');

        //Facebook Pixel Code
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '533095447640201');
        fbq('track', 'PageView');
        //End Facebook Pixel Code
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=533095447640201&ev=PageView&noscript=1" /></noscript>
    <?php if ($controller == 'Usuarios' && $metodo == 'Checkout') { ?>
        <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
    <?php } ?>

    <!--script src="//code.jivosite.com/widget/mBRh9tdjJu" async></!--script-->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P3SGXRV');</script>
    <!-- End Google Tag Manager -->

    <meta name="google-site-verification" content="Pq5S-Y4sv6Sihv3VOo5-gvPsOIIa8Ef048v8QuYwuQ8" />

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '370630704508429');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=370630704508429&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>

    <!--GOOGLE TAG MANAGER-->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id='<?= \santosdummontsite\Common::encrypt_decrypt('decrypt', $config['TAG_MANAGER_ID']) ?>'" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3SGXRV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '<?= santosdummontsite\Common::encrypt_decrypt('decrypt', $config['FACEBOOK_ID']) ?>',
                cookie: true,
                xfbml: true,
                version: 'v2.5'
            });

            FB.AppEvents.logPageView();

        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        let caminho = "<?= SITE_URL; ?>";

        jQuery(document).ready(function ($) {

            let temporizador = "15:01";

            var $exibemodalContato = function () {
                $.ajax({
                    url: caminho + '/Home/VerificaTempoSessao',
                    type: "POST",
                    success: function (data) {
                        if (data == 1) {

                            $.fancybox.open({
                                href: caminho + '/Home/ModalContatoSessao',
                                type: "ajax",
                                scrolling: 'no',
                                padding: 0,
                                autoSize: false,
                                width: "550px",
                                height: "430px"
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    }
                });
            };

            var interval = setInterval(function() {
                var timer = temporizador.split(':');
                var minutes = parseInt(timer[0], 10);
                var seconds = parseInt(timer[1], 10);
                --seconds;

                minutes = (seconds < 0) ? --minutes : minutes;
                if (minutes < 0){
                    clearInterval(interval);
                }
                seconds = (seconds < 0) ? 59 : seconds;
                seconds = (seconds < 10) ? '0' + seconds : seconds;

                temporizador = minutes + ':' + seconds;

                if(temporizador == '0:00'){
                    $exibemodalContato();
                    temporizador = "15:01";
                }
            }, 1000);
        });
    </script>

    <header id="cabecalho">
        <div class="topsite">
            <div>
                <a target="_blank" href="<?= 'https://api.whatsapp.com/send?phone=55' . $contatosite['WHATSAPP'] . '&text=Ol%C3%A1%2C%20quero%20falar%20com%20um%20Consultor%20de%20Vendas' ?>">
                    <img class="whatsapp" src="<?= GERAL_IMG . '/btn_whatsapp.png' ?>" />
                </a>
            </div>
