
<?php if ($exibirlogos) { ?>
    <?php if (array_key_exists('IMAGEM', $fabricante[0][0])) { ?>
        <section class="sec_parceiros">
            <div class="container tabsnav">
                <ul  class="nav nav-pills">
                    <li class="active"><a href="#tb1oe" data-toggle="tab">Fabricantes</a></li>
                </ul>
            </div>
            <div class="container tab-content clearfix tabscontent">
                <div class="tab-pane row active" id="tb1oe">
                    <div id="parceiros_slider" class="carousel slide" data-ride="carousel" data-interval="0">
                        <div class="container carousel-inner" role="listbox">
                            <?php
                            $ct5 = 0;
                            foreach ($fabricante as $fab) {

                                $tabactive = $ct5 == 0 ? 'active' : '';
                                echo '<div class="item row ' . $tabactive . '">';

                                foreach ($fab as $row) {
                                    $imagem = \santosdummontsite\Common::imagem_existe(FOTOPARCEIROS_URL, $row['IMAGEM'], 1);

                                    ?>
                                    <div class="col-md-2 col-xs-4">
                                        <a href="#product-pop-up" class="btn_prd_parceiro" data-action="<?= SITE_URL . '/Parceiros/Parceiro/' . $row['PAR_ID'] ?>">
                                            <img src="<?= $imagem ?>" alt="<?= $row['PAR_NOME'] ?>" title="<?= $row['PAR_NOME'] ?>" class="img-responsive item-par">
                                        </a>
                                    </div>
                                    <?php
                                }
                                echo '</div>';

                                $ct5++;
                            }

                            ?>
                        </div>
                        <ol class="carousel-indicators">
                            <?php
                            $ct4 = 0;

                            foreach ($fabricante as $row) {

                                ?>
                                <li data-target="#parceiros_slider" data-slide-to="<?= $ct4 ?>" <?= $ct4 == 0 ? "class='active'" : "" ?>></li>
                                <?php
                                $ct4++;
                            }

                            ?>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
    <?php } ?>
<?php } ?>

<section class="sec_newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xs-12 info">
                <div class="col-md-12 col-xs-12">
                    <div class="col-md-6 col-xs-12 info1"><span><i class="fa fa-paper-plane" aria-hidden="true"></i></span> Cadastre seu e-mail</div>
                    <div class="col-md-6 col-xs-12 info2">...e receba <span>as melhores ofertas</span></div>
                </div>
            </div>
            <div class="col-md-5 col-xs-12 signup">
                <div class="form">
                    <form action="<?= SITE_URL . '/Home/GravarNewsletter' ?>" method="POST">
                        <input type="text" id="email_newsletter" name="email_newsletter" placeholder="Entre com seu endereço de e-mail" autocomplete="off"/>
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row mapa">
            <div class="hidden-md hidden-lg hidden-sm col-xs-12">
                <div class="col-xs-6 logo">
                    <a class="site-logo" href="<?= SITE_URL . '/Home' ?>"><img src="<?= PATHSTATIC_URL ?>/<?= $config['LOGOTIPO'] ?>" alt="<?= TITLE_SITE ?>" class="img-responsive"></a>
                    <div class="contato">
                        <div class="col-15"><span>Endereço</span></div>
                        <div class="col-15"><?= $contatosite['ENDERECO'] . ', ' . $contatosite['NUMERO'] ?></div>
                        <div class="col-15"><?= empty($contatosite['COMPLEMENTO']) ? $contatosite['COMPLEMENTO'] . '<br>' : '' ?></div>
                        <div class="col-15"><?= $contatosite['BAIRRO'] . ' ' . $contatosite['CIDADE'] . '-' . $contatosite['UF'] ?></div>
                        <div class="col-15"><?= 'CEP: ' . $contatosite['CEP'] ?></div>
                    </div>
                </div>
                <div class="col-xs-6 nopadd">
                    <div class="col-xs-12">
                        <div class="col-xs-3 atendimentoimg">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-9 infotel">Está com dúvidas? Entre em contato</div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-15 tel"><?= $contatosite['TELEFONE'] ?></div>
                        <div class="col-15"><a href="mailto:<?= $contatosite['EMAIL_TECNICO'] ?>"><?= $contatosite['EMAIL_TECNICO'] ?></a></div>
                    </div>
                    <div class="col-xs-12 social">
                        <?php foreach ($redessociais as $row) { ?>
                            <a href="<?= empty($row['RS_LINK']) ? '#' : $row['RS_LINK'] ?>" target="_blank" class="social"><i class="fa fa-<?= $row['RS_NOME'] ?>" aria-hidden="true"></i></a>
                        <?php } ?>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 hidden-xs">
                <div class="col-15 logo">
                    <a class="site-logo" href="<?= SITE_URL . '/Home' ?>"><img src="<?= PATHSTATIC_URL ?>/<?= $config['LOGOTIPO'] ?>" alt="<?= TITLE_SITE ?>" width="168"></a>
                </div>
                <div class="col-15">
                    <div class="col-3 atendimentoimg">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="col-11">
                        <div class="col-15 infotel">Está com dúvidas? Entre em contato</div>
                        <div class="col-15 tel"><?= $contatosite['TELEFONE'] ?></div>
                        <div class="col-15">E-mail: <a href="mailto:<?= $contatosite['EMAIL_TECNICO'] ?>"><?= $contatosite['EMAIL_TECNICO'] ?></a></div>
                    </div>
                </div>
                <div class="col-15 contato">
                    <div class="col-15"><?= $contatosite['ENDERECO'] . ', ' . $contatosite['NUMERO'] ?></div>
                    <div class="col-15"><?= empty($contatosite['COMPLEMENTO']) ? $contatosite['COMPLEMENTO'] . '<br>' : '' ?></div>
                    <div class="col-15"><?= $contatosite['BAIRRO'] . ' ' . $contatosite['CIDADE'] . '-' . $contatosite['UF'] ?></div>
                    <div class="col-15"><?= 'CEP: ' . $contatosite['CEP'] ?></div>
                </div>
                <div class="col-15 social">
                    <?php foreach ($redessociais as $row) { ?>
                        <a href="<?= empty($row['RS_LINK']) ? '#' : $row['RS_LINK'] ?>" target="_blank" class="social"><i class="fa fa-<?= $row['RS_NOME'] ?>" aria-hidden="true"></i></a>
                    <?php } ?>
                </div>
            </div>
            <div class="col-xs-12 hidden-md hidden-lg hidden-sm">
                <div class="col-xs-6 nopadd">
                    <div class="col-15 title">Mais categorias</div>
                    <div class="col-15 lista">
                        <ul>
                            <?php foreach ($listaoutras as $row) { ?>
                                <li class=""><a href="<?= SITE_URL . '/Produtos/Categoria/cat-' . $row['CAT_URL'] ?>"><?= strtolower($row['CAT_NOME']) ?></a></li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 nopadd">
                    <div class="col-15 title">Sobre nós</div>
                    <div class="col-15 lista">
                        <ul>
                            <li class=""><a href="<?= SITE_URL . '/Home/Sobre' ?>">Quem somos</a></li>
                            <li class=""><a href="<?= SITE_URL . '/Home/Termos' ?>">Termos e Condições</a></li>
                            <li class=""><a href="<?= SITE_URL . '/Home/Politica' ?>">Política de privacidade</a></li>
                            <li class=""><a href="<?= SITE_URL . '/blog' ?>" target="_blank">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 hidden-md hidden-lg hidden-sm meios_pag">
                <div class="col-xs-12 title">Formas de Pagamento</div>
                <?php foreach ($meiospagamentos as $row) { ?>
                    <div class="col-xs-2 meios_pag">
                        <img src="<?= FOTOPAGAMENTO_URL . '/' . $row['IMAGEM'] ?>" title="<?= $row['NOME_MEIO'] ?>"/>
                    </div>
                <?php } ?>
            </div>
            <div class="col-sm-6 hidden-xs">
                <div class="col-sm-12">
                    <div class="col-15 title">Mais categorias</div>
                    <div class="col-15 lista">
                        <ul>
                            <?php foreach ($listaoutras as $row) { ?>
                                <li class=""><a href="<?= SITE_URL . '/Produtos/Categoria/cat-' . $row['CAT_URL'] ?>"><?= strtolower($row['CAT_NOME']) ?></a></li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-15 title">Sobre nós</div>
                    <div class="col-15 lista">
                        <ul>
                            <li class=""><a href="<?= SITE_URL . '/Home/Sobre' ?>">Quem somos</a></li>
                            <li class=""><a href="<?= SITE_URL . '/Home/Termos' ?>">Termos de uso</a></li>
                            <li class=""><a href="<?= SITE_URL . '/Home/Politica' ?>">Política de privacidade</a></li>
                            <li class=""><a href="<?= SITE_URL . '/blog' ?>" target="_blank">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-15 title">Formas de Pagamento</div>
                    <?php foreach ($meiospagamentos as $row) { ?>
                        <div class="meios_pag">
                            <img src="<?= FOTOPAGAMENTO_URL . '/' . $row['IMAGEM'] ?>" title="<?= $row['NOME_MEIO'] ?>"/>
                        </div>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
    <div class="rodape">
        <div class="container">
            <div class="row hidden-md hidden-lg hidden-sm">
                <div class="col-xs-6 copy">2020 &copy; <span>Santos Dumont Componentes Eletrônicos</span> - Todos os direitos reservados</div>
                <div class="col-xs-3 logofootts">
                    <a href="http://www.foottsdev.com.br" target="_blank"><img src="<?= IMAGEM_URL . '/logo-foottsdev.png' ?>" class="img-responsive" alt="Foottsdev Desenvolvimento"><div>Consultoria </div></a>
                </div>
                <div class="col-xs-3 logofootts">
                    <a href="https://www.psinternetmarketing.com.br" target="_blank"><img src="<?= IMAGEM_URL . '/logo_ps_horizontal_positivo.png' ?>" class="img-responsive" alt="PS Internet Marketing"><div>Consultoria </div></a>
                </div>
            </div>
            <div class="row hidden-xs">
                <div class="col-6 copy">2020 &copy; <span>Santos Dumont Componentes Eletrônicos</span> - Todos os direitos reservados</div>
                <div class="col-3 logofootts">
                    <a href="http://www.foottsdev.com.br" target="_blank"><img src="<?= IMAGEM_URL . '/logo-foottsdev.png' ?>" class="img-responsive" alt="Foottsdev Desenvolvimento"><div>Desenvolvimento </div></a>
                </div>
                <div class="col-3 logofootts">
                    <a href="https://www.psinternetmarketing.com.br" target="_blank"><img src="<?= IMAGEM_URL . '/logo_ps_horizontal_positivo.png' ?>" class="img-responsive" alt="PS Internet Marketing"><div>Consultoria </div></a>
                </div>
            </div>
        </div>
    </div>
</footer>