<div class="head-foot">
    <div class="container">
        <div class="row">
            <div class="collapse navbar-collapse container nopadd" id="navbarNav">
                <nav class="menu">
                    <ul class="nav navbar-nav hidden-xs">
                        <?php $count = 0; ?>
                        <?php foreach ($menu as $row) { ?>
                            <?php if ((int) $row['CAT_POSICAO'] == 1) { ?>
                                <?php if ($row['CAT_NIVEL'] == 0) { ?>
                                    <li>
                                        <a href="<?= SITE_URL . '/Produtos/Categoria/cat=' . $row['CAT_URL'] ?>"><?= $row['CAT_NOME'] ?></a>
                                        <?php if ($row['FILHOS'] != null) { ?>
                                            <ul class="sub-menu">
                                                <?php foreach ($menu as $row2) { ?>
                                                    <?php if ($row['CAT_ID'] == $row2['CAT_PAI'] && $row2['CAT_NIVEL'] == 1) { ?>
                                                        <li>
                                                            <a href="<?= SITE_URL . '/Produtos/Categoria/cat=' . $row2['CAT_URL'] ?>"><?= strtolower($row2['CAT_NOME']); ?></a>
                                                            <?php if ($row2['FILHOS'] != null) { ?>
                                                                <ul class="sub-sub-memu">
                                                                    <?php foreach ($menu as $row3) { ?>
                                                                        <?php if ($row2['CAT_ID'] == $row3['CAT_PAI'] && $row3['CAT_NIVEL'] == 2) { ?>
                                                                            <li>
                                                                                <a href="<?= SITE_URL . '/Produtos/Categoria/cat=' . $row3['CAT_URL'] ?>">
                                                                                    <?= strtolower($row3['CAT_NOME']); ?>
                                                                                </a>
                                                                            </li>
                                                                        <?php } ?>
                                                                    <?php } ?>
                                                                </ul>
                                                            <?php } ?>
                                                        </li>
                                                    <?php } ?>
                                                <?php } ?>
                                            </ul>
                                        <?php } ?>
                                    </li>
                                <?php } ?>
                            <?php } ?>
                            <?php $count++; ?>
                        <?php } ?>
                    </ul>
                    <ul class="nav navbar-nav hidden-lg hidden-md hidden-sm" id="menu-principal">
                        <?php $count = 0; ?>
                        <?php foreach ($menu as $row) { ?>
                            <?php if ((int) $row['CAT_POSICAO'] == 1) { ?>
                                <?php if ($row['CAT_NIVEL'] == 0) { ?>
                                    <li class="mob-xs">
                                        <?= $row['FILHOS'] == null ? '<a href="' . SITE_URL . '/Produtos/Categoria/cat-' . $row['CAT_URL'] . '">' . $row['CAT_NOME'] . '</a>' : '<a href="#" class="no-childs">' . $row['CAT_NOME'] . '</a>'; ?>
                                        <?php if ($row['FILHOS'] != null) { ?>
                                            <ul class="dropdown-mobile">
                                                <?php foreach ($menu as $row2) { ?>
                                                    <?php if ($row['CAT_ID'] == $row2['CAT_PAI'] && $row2['CAT_NIVEL'] == 1) { ?>
                                                        <li class="mob-xs-sub">
                                                            <?= $row2['FILHOS'] == null ? '<a href="' . SITE_URL . '/Produtos/Categoria/cat-' . $row2['CAT_URL'] . '">' . $row2['CAT_NOME'] . '</a>' : '<a href="#" class="no-childs">' . $row2['CAT_NOME'] . '</a>'; ?>
                                                            <?php if ($row2['FILHOS'] != null) { ?>
                                                                <ul class="dropdown-mobile subsubmenu-mobile">
                                                                    <?php foreach ($menu as $row3) { ?>
                                                                        <?php if ($row2['CAT_ID'] == $row3['CAT_PAI'] && $row3['CAT_NIVEL'] == 2) { ?>
                                                                            <li class="submenu-child-2">
                                                                                <a href="<?= SITE_URL . '/Produtos/Categoria/cat-' . $row3['CAT_URL'] ?>">
                                                                                    <?= strtolower($row3['CAT_NOME']); ?>
                                                                                </a>
                                                                            </li>
                                                                        <?php } ?>
                                                                    <?php } ?>
                                                                </ul>
                                                            <?php } ?>
                                                        </li>
                                                    <?php } ?>
                                                <?php } ?>
                                            </ul>
                                        <?php } ?>
                                    </li>
                                <?php } ?>
                            <?php } ?>
                            <?php $count++; ?>
                        <?php } ?>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</div>
</header>
