<div class="modal fade" id="modal"></div>

<?php
if (santosdummontsite\Session::get("acao")) {

    $situacao = santosdummontsite\Session::get("acao-class");

    if ($situacao == 'success') {
        $tipomodal = "background-color: #a3e1a3";
    } else if ($situacao == 'warning') {
        $tipomodal = "background-color: rgb(243, 210, 115)";
    } else if ($situacao == 'danger') {
        $tipomodal = "background-color: rgb(225, 163, 163)";
    }

?>
    <script>
        jQuery(document).ready(function($) {

            var tipo = '<?= $situacao ?>'

            var dialogmsg = bootbox.dialog({
                message: "<h4 class='" + tipo + "'><?= santosdummontsite\Session::get("acao-msg") ?></h4>",
                closeButton: true,
                onEscape: true,
                backdrop: false
            });

            if (tipo == 'success') {
                dialogmsg.find('.modal-content').css('background-color', '#a3e1a3');
            } else if (tipo == 'warning') {
                dialogmsg.find('.modal-content').css('background-color', 'rgb(243, 210, 115)');
            } else if (tipo == 'danger') {
                dialogmsg.find('.modal-content').css('background-color', 'rgb(225, 163, 163)');
            }

            dialogmsg.modal("show");

            dialogmsg.init(function() {
                setTimeout(function() {
                    dialog.modal('hide');
                }, 6000);
            });
        });
    </script>
<?php
    santosdummontsite\Session::delete("acao");
    santosdummontsite\Session::delete("acao-msg");
    santosdummontsite\Session::delete("acao-class");
}

?>
<script src="<?= GERAL_PLUGINS ?>/bootstrap/js/bootstrap<?= MINIMO ?>.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= GERAL_PLUGINS ?>/bootstrap/js/validator<?= MINIMO ?>.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src='<?= GERAL_PLUGINS ?>/zoom/jquery.zoom.min.js?randon=<?= uniqid() ?>' type="text/javascript"></script>
<script src="<?= GERAL_PLUGINS ?>/Uikit/uikit-2.27.2<?= MINIMO ?>.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= GERAL_PLUGINS ?>/Uikit/notify-2.27.2<?= MINIMO ?>.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= GERAL_PLUGINS ?>/lightbox/lightbox.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= GERAL_PLUGINS ?>/scrollbar/js/jquery.scrollbar.min.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= GERAL_PLUGINS ?>/slider/js/bootstrap-slider.min.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= JS_JQUERY ?>/jquery.maskedinput.min.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= GERAL_PLUGINS ?>/jquery.maskMoney.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= GERAL_PLUGINS ?>/waitMe/waitMe<?= MINIMO ?>.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= GERAL_PLUGINS ?>/fancybox/source/jquery.fancybox.pack.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= GERAL_PLUGINS ?>/jquery.validate.min.js?randon=<?= uniqid() ?>" id="script-resource-9"></script>
<script src="<?= GERAL_JS ?>/global<?= MINIMO ?>.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= TEMA_JS ?>/default_home<?= MINIMO ?>.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= TEMA_JS ?>/js.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= TEMA_JS ?>/bootstrap-switch.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= TEMA_JS ?>/bootstrap-fileinput<?= MINIMO ?>.js" type="text/javascript"></script>
<script src="<?= JS_JQUERY ?>/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="<?= TEMA_JS ?>/app.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= TEMA_JS ?>/profile.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= TEMA_JS ?>/layout.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= TEMA_JS ?>/demo.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= TEMA_JS ?>/quick-nav.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= TEMA_JS ?>/quick-sidebar.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= TELAS_JS ?>/<?= strtolower($controller) . MINIMO ?>.js?randon=<?= uniqid() ?>"></script>

<script>
    jQuery(document).ready(function($) {

        <?php if (santosdummontsite\Session::get("acao")) { ?>

            $dispararAlerta('<?= santosdummontsite\Session::get("acao-msg") ?>', '<?= santosdummontsite\Session::get("acao-class"); ?>');
        <?php
            santosdummontsite\Session::delete("acao");
            santosdummontsite\Session::delete("erro-login");
            santosdummontsite\Session::delete("acao-msg");
        }

        ?>
    });
</script>
</body>

</html>
