<?php
if ($logado) {
    $pasta = $cliente['dados']['PASTA_CLI'];
    $imagem = \santosdummontsite\Common::imagem_existe($pasta, $cliente['dados']['CLI_IMAGEM'], 3);
}
?>
<div class="container">
    <div class="row head-head">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class="info col-xs-12 col-md-4 col-sm-4">
                    <a href="mailto:<?= $contatosite['EMAIL_TECNICO'] ?>"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <span><?= $contatosite['EMAIL_TECNICO'] ?></span></a> |
                    <a href="tel:<?= '+ 55 ' . str_replace('(', '', str_replace(')', '', $contatosite['TELEFONE'])) ?>">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span><?= $contatosite['TELEFONE'] ?></span></a>
                </div>
                <?php if (!$logado) { ?>
                    <div class="info col-xs-12 col-md-2 col-sm-2">
                        <a href="<?= SITE_URL . '/Login/RegistroLogin' ?>">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span> Login | Cadastre-se</span></a>
                    </div>
                <?php } else { ?>
                    <div class="info col-xs-12 col-md-4 col-sm-5">
                        <a href="<?= SITE_URL . '/Home/Sair' ?>">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            <span> Sair</span></a> |
                        <a href="<?= SITE_URL . '/Usuarios/MinhaConta/' . $cliente['dados']['CLI_ID'] ?>">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span> Minha Conta</span></a> |
                        <a href="<?= SITE_URL . '/Usuarios/MeusPedidos/' . $cliente['dados']['CLI_ID'] ?>">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                            <span> Meus pedidos</span></a>
                    </div>
                    <div class="info col-xs-12 col-md-3 col-sm-2">
                        <span><?= 'Seja bem vindo(a), ' . $cliente['dados']['NOME_COMPLETO'] ?></span>
                    </div>
                    <div class="info col-xs-1 col-md-1 col-sm-1 hidden-xs">
                        <img src="<?= $imagem ?>" class="img-responsive img-round" alt="<?= $cliente['dados']['NOME_COMPLETO'] ?>" width="50px" />
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>
    <div class="row head-body">
        <div class="col-md-3 col-sm-3 col-xs-8">
            <div class="arealogo">
                <a class="site-logo" href="<?= SITE_URL . '/Home' ?>"><img src="<?= PATHSTATIC_URL ?>/<?= $config['LOGOTIPO'] ?>" alt="<?= TITLE_SITE ?>" width="168"></a>
            </div>
        </div>
        <div class="col-md-3 col-xs-4 hidden-md hidden-sm hidden-lg">
            <div class="col-md-6 col-xs-12 nopadd carrinho">
                <div class="col-xs-6 nopadd precocompra">
                    <a href="#" id="total_carrinho">
                        <?//= 'R$ ' . number_format($infocarrinho[0]['TOTAL'], 2, ',', '.') ?>
                    </a>
                </div>
                <div class="col-xs-6 nopadd sacolacompra">
                    <a href="#modal" data-action="<?= SITE_URL . '/Home/ListaCompras' ?>" class="ver_carrinho">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <div class="itens text-center">
                            <span id="count_carrinho"><?= intval($infocarrinho[0]['QTDE']); ?></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dados-carrinho"></div>
        </div>
        <div class="col-md-6 col-xs-10 busca">
            <div class="form" id="form-busca">
                <!--div class="uk-notify-cust" id="msg-f2" style="display: none;">
                    <div class="uk-notify-message-cust uk-notify-message-success-cust" style="opacity: 1; margin-top: 0px; margin-bottom: 10px;">
                        <a class="uk-close-cust"></a>
                        <div>Você pode iniciar uma busca clicado em F2</div>
                    </div>
                </div-->
                <form id="form_busca_home" action="<?= SITE_URL . '/Home/Buscar' ?>" method="POST">
                    <input type="text" name="termo" id="termo_busca" placeholder="  Buscar por produtos (F2)" value="<?= isset($termo) ? $termo : '' ?>">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <div class="hidden-md hidden-sm hidden-lg col-xs-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="col-md-3 hidden-xs">
            <div class="col-md-12">
                <div class="col-md-4 col-md-offset-4 carrinho">
                    <div class="sacolacompra">
                        <a href="#modal" data-action="<?= SITE_URL . '/Home/ListaCompras' ?>" class="ver_carrinho">
                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                            <div class="itens text-center">
                                <span id="count_carrinho"><?= intval($infocarrinho[0]['QTDE']); ?></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 precocompra">
                    <a href="#" id="total_carrinho">
                        <?//= 'R$ ' . number_format($infocarrinho[0]['TOTAL'], 2, ',', '.') ?>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
