<div class="product-page product-pop-up">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="area_info">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2><strong>Envie seu pedido para a loja Física?</strong></h2>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>Seu pedido será registrado e você será redirecionado para uma conversa com um dos nossos consultores!</p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form action="<?=$urlaction?>" method="post" role="form" name="form_contato" id="form_contato">
                        <div class="form-group">
                            <label class="control-label">E-mail</label>
                            <input type="text" name="email" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nome Completo</label>
                            <input type="text" name="nome" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Telefone de Contato (Whatsapp)</label>
                            <input type="text" name="telefone" class="form-control fones" required="required"/>
                        </div>
                        <div class="margiv-top-10">
                            <button type="submit" class="btn btn-success"> Enviar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
