<div class="product-page product-pop-up">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="area_info">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2><strong>Podemos lhe ajudar?</strong></h2>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>Verificamos que você está a muito tempo navegando dentro do nosso site mas ainda não adicionou nada no carrinho, podemos lhe ajudar em algo?</p>
                    <p>Digite o seu e-mail logo abaixo que nossa equipe de vendas entrará em contato!</p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form action="<?=$urlaction?>" method="post" role="form" name="form_contato" id="form_contato">
                        <div class="form-group">
                            <label class="control-label">E-mail</label>
                            <input type="text" name="email" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nome Completo</label>
                            <input type="text" name="nome" class="form-control" required="required"/>
                        </div>
                        <div class="margiv-top-10">
                            <button type="submit" class="btn btn-success"> Enviar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
