<div class="row hgt-510">
    <div class="col-sm-12 col-xs-12 tabs">
        <div class="tabsnav">
            <ul class="nav nav-pills" style="margin-bottom: -6px;">
                <li class="active"><a href="#tbp2" data-toggle="tab">Ficha Técnica</a></li>
                <li><a href="#tbp1" data-toggle="tab">Descrição</a></li>
                <li><a href="#tbp3" data-toggle="tab">Comentários (<?= count($listacomentarios) ?>)</a></li>
            </ul>
        </div>
        <div class="tab-content clearfix">
            <div class="tab-pane fade in informac active" id="tbp2" style="height: 360px;">
                <?= $produto['PRD_FICHA_TECNICA'] ?>
            </div>
            <div class="tab-pane fade in informac" id="tbp1" style="height: 360px;">
                <?= $produto['PRD_DESCRICAO_MINIMA'] ?>
            </div>
            <div class="tab-pane fade in informac" id="tbp3" style="height: 360px;">
                <div class="col-sm-5">
                    <?php if (count($listacomentarios) > 0) { ?>
                        <?php foreach ($listacomentarios as $row) { ?>
                            <div class="review-item clearfix">
                                <div class="review-item-submitted">
                                    <strong><?= $row['NOME'] ?></strong>
                                    <span><?= $row['DATA_CAD'] ?></span>
                                    <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                </div>
                                <div class="review-item-content">
                                    <p><?= $row['COMENTARIO'] ?></p>
                                </div>
                            </div>
                        <?php } ?>
                    <?php } else { ?>
                        <h5>Não há comentários</h5>
                    <?php } ?>
                </div>
                <div class="col-sm-7">
                    <form action="<?= $actioncoment ?>" class="reviews-form" role="form" method="post">
                        <div class="form-group">
                            <label for="name">Nome <span class="require">*</span></label>
                            <input type="text" class="form-control" id="nome" name="nome" required="true">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail </label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="8" id="comentario" name="comentario" maxlength="100" required="true"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="div-captcha g-recaptcha" data-sitekey="<?= \santosdummontsite\Common::encrypt_decrypt('decrypt', $config['CHAVE_CAPTCHA']) ?>"></div>
                        </div>
                        <div class="padding-top-20 right">
                            <button type="submit" class="btn btn-lg btn-success">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
