<?php
$imagem = FOTOMODAIS_URL . '/' . $modal['MOD_IMAGEM'];
$link = $modal['MOD_LINK'];

?>
<div class="product-page product-pop-up">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <?php if (empty($link)) { ?>
                <figure>
                    <img src="<?= $imagem ?>" class="lg-img img-responsive" alt="<?= $modal['MOD_DESCRICAO'] ?>"/>
                </figure>
            <?php } else { ?>
                <a href="" target="_blank">
                    <figure>
                        <img src="<?= $imagem ?>" class="lg-img img-responsive" alt="<?= $modal['MOD_DESCRICAO'] ?>"/>
                    </figure>
                </a>
            <?php } ?>
        </div>
    </div>
</div>
