<section style="margin-top: 80px;">
    <div class="container">
        <div class="row">
            <?php
            $invisiveis = [
                '.DS_Store', '__construct', 'main', 'loadView', 'loadModel', 'error', 'validarRetornoServico',
                'carregarMenu', 'prepararView', 'prepararViewTeste', 'prepararBasicView', 'loadException',
                'validarCaptcha', 'consumir_cetrus', 'consulta_cetrus', 'valida_cep_correio', 'GetGoogleAccessToken',
                'GetGoogleUserProfileInfo', 'LoadAPISocial', 'sair', 'validar_cpf', 'validar_cnpj'
            ];

            if ($page == 1) {
                foreach ($metodos as $method_name) {
                    if (!in_array($method_name, $invisiveis)) {
                        $botao = '<div class="col-sm-3 margin-top-10">';
                        $botao .= '<a href="Testes/' . $method_name . '" class="btn btn-success form-control">' . $method_name . '</a>';
                        $botao .= '</div>';
                        echo $botao;
                    }
                }
            }

            if ($page == 2) {

                foreach ($pastas as $method_name) {
                    if (!in_array($method_name, $invisiveis)) {
                        $botao = '<div class="col-sm-3 margin-top-10">';
                        $botao .= '<a href="' .  $_SERVER['REQUEST_URI'] . '/' . $method_name . '/" class="btn btn-success form-control">' . $method_name . '</a>';
                        $botao .= '</div>';
                        echo $botao;
                    }
                }

                if (count($imagens) > 0) {
                    foreach ($imagens as $method_name) {
                        if (!in_array($method_name, $invisiveis)) {
                            $botao = '<div class="col-sm-2 margin-top-10">';
                            $botao .= '<img src="' .  $method_name . '" class="img-responsive" style="border:#000 solid 1px;border-radius:5px"/>';
                            $botao .= '</div>';
                            echo $botao;
                        }
                    }
                }
            }
            ?>
        </div>
    </div>
</section>
