

<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="<?= SITE_URL . '/Home' ?>">Home</a></li>
            <li><a href="">Loja</a></li>
            <li class="active">Termos de Uso</li>
        </ul>
        <div class="row margin-bottom-40">
            <div class="sidebar col-md-3 col-sm-3">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    <li class="list-group-item clearfix"><a href="<?= SITE_URL . '/Home/Sobre' ?>"><i class="fa fa-angle-right"></i> Sobre Nós</a></li>
                    <li class="list-group-item clearfix"><a href="<?= SITE_URL . '/Home/Politica' ?>"><i class="fa fa-angle-right"></i> Política de Privacidade</a></li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-9">
                <h1>Termos de Uso</h1>
                <div class="content-page">
                    <?= $informacoessite['TERMOSUSO']; ?>
                </div>
            </div>
        </div>
    </div>
</div>