<section class="sec_slider">
    <?php
    if (count($listabanners) > 0) {
        if (array_key_exists('IMAGEM', $listabanners[0])) {

    ?>
            <div id="mainslider" class="carousel slide" data-ride="carousel" data-direction="<?= intval($config['BANNER_SENTIDO']) == 1 ? 'right' : 'left' ?>" data-interval=" <?= $config['BANNER_TEMPO'] ?>">
                <div class="row carousel-inner" role="listbox">
                    <?php
                    $ct0 = 0;
                    foreach ($listabanners as $row) {

                        $imagem = explode(',', $row['IMAGEM']);

                    ?>
                        <div class="item container-fluid <?= $ct0 == 0 ? 'active' : '' ?>">
                            <div class="imagem hidden-xs">
                                <a href="<?=$row['LINK']?>"><img src="<?= FOTOBANNERS_URL . '/' . $imagem[0] ?>" class="img-fluid" /></a>
                            </div>
                            <a href="<?=$row['LINK']?>"><div class="imagem hidden-xs" style="background-image: url('<?= FOTOBANNERS_URL . '/' . $imagem[0] ?>'); background-repeat: no-repeat; background-size: 100%;"></div></a>
                            <div class="container hidden-xs">
                                <a href="<?=$row['LINK']?>">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="texto1">
                                            <h2 class="animate-delay carousel-title-v4" data-animation="animated <?= $row['BAN_EFEITO_TXT_PRINC'] ?>" style="<?= 'color:#' . $row['BAN_COR_TXT_PRI'] ?>">
                                                <?= $row['LOCAL_LINK'] == 1 ? '<a class="carousel-btn" href="' . $row['LINK'] . '" style="color:#' . $row['BAN_COR_TXT_PRI'] . '">' . $row['BAN_TEXTO_PRINCIPAL'] . '</a>' : $row['BAN_TEXTO_PRINCIPAL'] ?>
                                            </h2>
                                        </div>
                                        <?php if (!empty($row['BAN_SEG_TEXTO'])) { ?>
                                            <div class="texto2">
                                                <p class="carousel-subtitle-v2" data-animation="animated <?= $row['BAN_EFEITO_SEG_TEXTO'] ?>" style="<?= 'color:#' . $row['BAN_COR_TXT_SEC'] ?>">
                                                    <?= $row['LOCAL_LINK'] == 2 ? '<a class="carousel-btn" href="' . $row['LINK'] . '" style="color:#' . $row['BAN_COR_TXT_SEC'] . '">' . $row['BAN_SEG_TEXTO'] . '</a>' : $row['BAN_SEG_TEXTO'] ?>
                                                </p>
                                            </div>
                                        <?php } ?>

                                        <?php if (!empty($row['BAN_TER_TEXTO'])) { ?>
                                            <div class="texto2">
                                                <p class="carousel-subtitle-v3 margin-bottom-30" data-animation="animated <?= $row['BAN_EFEITO_TER_TEXTO'] ?>" style="<?= 'color:#' . $row['BAN_COR_TXT_TER'] ?>">
                                                    <?= $row['LOCAL_LINK'] == 3 ? '<a class="carousel-btn" href="' . $row['LINK'] . '" style="color:#' . $row['BAN_COR_TXT_TER'] . '">' . $row['BAN_TER_TEXTO'] . '</a>' : $row['BAN_TER_TEXTO'] ?>
                                                </p>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </a>
                            </div>

                            <div class="imagem hidden-xs hidden-lg">
                                <a href="<?=$row['LINK']?>"><img src="<?= FOTOBANNERS_URL . '/' . $imagem[1] ?>" class="img-fluid" /></a>
                            </div>
                            <div class="imagem hidden-xs hidden-lg" style="background-image: url('<?= FOTOBANNERS_URL . '/' . $imagem[1] ?>'); background-repeat: no-repeat; background-size: 100%;"></div>
                            <div class="container hidden-xs hidden-lg">
                                <a href="<?=$row['LINK']?>">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="texto1">
                                            <h2 class="animate-delay carousel-title-v4" data-animation="animated <?= $row['BAN_EFEITO_TXT_PRINC'] ?>">
                                                <?= $row['LOCAL_LINK'] == 1 ? '<a class="carousel-btn" href="' . $row['LINK'] . '" style="color:#' . $row['BAN_COR_TXT_PRI'] . '">' . $row['BAN_TEXTO_PRINCIPAL'] . '</a>' : $row['BAN_TEXTO_PRINCIPAL'] ?>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <?php if (!empty($row['BAN_SEG_TEXTO'])) { ?>
                                            <div class="texto2">
                                                <p class="carousel-subtitle-v2" data-animation="animated <?= $row['BAN_EFEITO_SEG_TEXTO'] ?>">
                                                    <?= $row['LOCAL_LINK'] == 2 ? '<a class="carousel-btn" href="' . $row['LINK'] . '" style="color:#' . $row['BAN_COR_TXT_SEC'] . '">' . $row['BAN_SEG_TEXTO'] . '</a>' : $row['BAN_SEG_TEXTO'] ?>
                                                </p>
                                            </div>
                                        <?php } ?>

                                        <?php if (!empty($row['BAN_TER_TEXTO'])) { ?>
                                            <div class="texto2">
                                                <p class="carousel-subtitle-v3 margin-bottom-30" data-animation="animated <?= $row['BAN_EFEITO_TER_TEXTO'] ?>">
                                                    <?= $row['LOCAL_LINK'] == 3 ? '<a class="carousel-btn" href="' . $row['LINK'] . '" style="color:#' . $row['BAN_COR_TXT_TER'] . '">' . $row['BAN_TER_TEXTO'] . '</a>' : $row['BAN_TER_TEXTO'] ?>
                                                </p>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </a>
                            </div>

                            <div class="imagem hidden-md hidden-lg hidden-sm">
                                <a href="<?=$row['LINK']?>"><img src="<?= FOTOBANNERS_URL . '/' . $imagem[2] ?>" class="img-fluid" /></a>
                            </div>
                            <div class="imagem hidden-md hidden-lg hidden-sm" style="background-image: url('<?= FOTOBANNERS_URL . '/' . $imagem[2] ?>'); background-repeat: no-repeat; background-size: 100%;"></div>
                            <div class="container hidden-md hidden-lg hidden-sm">
                                <a href="<?=$row['LINK']?>">
                                    <div class="col-md-12 col-sm-12 col-xs-8">
                                        <div class="texto1">
                                            <h2 class="animate-delay carousel-title-v4" data-animation="animated <?= $row['BAN_EFEITO_TXT_PRINC'] ?>">
                                                <?= $row['LOCAL_LINK'] == 1 ? '<a class="carousel-btn" href="' . $row['LINK'] . '" style="color:#' . $row['BAN_COR_TXT_PRI'] . '">' . $row['BAN_TEXTO_PRINCIPAL'] . '</a>' : $row['BAN_TEXTO_PRINCIPAL'] ?>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-8">
                                        <?php if (!empty($row['BAN_SEG_TEXTO'])) { ?>
                                            <div class="texto2">
                                                <p class="carousel-subtitle-v2" data-animation="animated <?= $row['BAN_EFEITO_SEG_TEXTO'] ?>">
                                                    <?= $row['LOCAL_LINK'] == 2 ? '<a class="carousel-btn" href="' . $row['LINK'] . '" style="color:#' . $row['BAN_COR_TXT_SEC'] . '">' . $row['BAN_SEG_TEXTO'] . '</a>' : $row['BAN_SEG_TEXTO'] ?>
                                                </p>
                                            </div>
                                        <?php } ?>

                                        <?php if (!empty($row['BAN_TER_TEXTO'])) { ?>
                                            <div class="texto2">
                                                <p class="carousel-subtitle-v3 margin-bottom-30" data-animation="animated <?= $row['BAN_EFEITO_TER_TEXTO'] ?>">
                                                    <?= $row['LOCAL_LINK'] == 3 ? '<a class="carousel-btn" href="' . $row['LINK'] . '" style="color:#' . $row['BAN_COR_TXT_TER'] . '">' . $row['BAN_TER_TEXTO'] . '</a>' : $row['BAN_TER_TEXTO'] ?>
                                                </p>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <?php
                        $ct0++;
                    }

                    ?>
                </div>
                <ol class="carousel-indicators">
                    <?php
                    $ct1 = 0;
                    foreach ($listabanners as $row) {

                    ?>
                        <li data-target="#mainslider" data-slide-to="<?= $ct1 ?>" class="<?= $ct1 == 0 ? 'active' : '' ?>"></li>
                    <?php
                        $ct1++;
                    }

                    ?>
                </ol>
            </div>
        <?php } ?>
    <?php } ?>
</section>

<section class="sec_sliders" <?= count($listabanners) == 0 ? 'style="margin-top: 40px"' : '' ?>>
    <div class="container tabsnav">
        <ul class="nav nav-pills">
            <?php if(count($listaproddestaques)> 0){?><li class="active"><a href="#tb1" data-toggle="tab">Destaques</a></li><?php }?>
            <?php if(count($listaprodnovidades)> 0){?><li><a href="#tb2" data-toggle="tab">Novidades</a></li><?php }?>
            <?php if(count($listaprodpromocoes)> 0){?><li><a href="#tb3" data-toggle="tab">Promoções</a></li><?php }?>
        </ul>
    </div>
    <div class="container-fluid tab-content clearfix tabscontent">

        <!-- DESTAQUES -->
        <div class="tab-pane fade in sliders_slider row active" id="tb1">
            <?php if(count($listaproddestaques)> 0){?>
            <div id="destaques_slider" class="carousel slide" data-ride="carousel" data-interval="5000">
                <div class="container carousel-inner" role="listbox">
                    <?php
                    $tab1 = 0;
                    foreach ($listaproddestaques as $prd) {

                        $tabactive = $tab1 == 0 ? 'active' : '';
                        echo '<div class="item row ' . $tabactive . '">';

                        foreach ($prd as $row) {

                            $principal = \santosdummontsite\Common::imagem_existe($row['PASTA_IMAGENS'], $row['PRD_IMAGEM_PRINCIPAL'], 2);

                            $strnome = santosdummontsite\Common::removerCaracteresEspeciais($row['PRD_NOME']);

                    ?>
                            <div class="col-md-3 col-xs-6 sub_item product-item">
                                <?php if (intval($row['PRD_DESTAQUE']) == 1) { ?>
                                    <div class="prd-destq prd-novo"></div>
                                <?php } else if (intval($row['PRD_DESTAQUE']) == 2) { ?>
                                    <div class="prd-destq prd-desconto">
                                        <div><?= '-' . number_format($row['PRD_TAXA'], 1, ',', '.') . ' %' ?></div>
                                    </div>
                                <?php } else if (intval($row['PRD_DESTAQUE']) == 3) { ?>
                                    <div class="prd-destq prd-breve"></div>
                                <?php } ?>
                                <div class="pi-img-wrapper">
                                    <img src="<?= $principal; ?>" class="img-responsive" alt="<?= $row['PRD_NOME'] ?>">
                                    <div>
                                        <a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>" class="btn btn-default">Detalhes</a>
                                        <a href="#product-pop-up" class="btn btn-default hidden-xs btn_prd_detalhes" data-action="<?= SITE_URL . '/Produtos/Detalhe/' . $row['PRD_ID']; ?>">Resumo</a>
                                        <a href="#product-pop-up" class="btn btn-default hidden-lg hidden-md hidden-sm btn_prd_detalhes_mob" data-action="<?= SITE_URL . '/Produtos/Detalhe/' . $row['PRD_ID']; ?>">Resumo</a>
                                    </div>
                                </div>
                                <p><a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>"><?= \santosdummontsite\Common::tratar_frases_grandes($row['PRD_NOME']); ?></a></p>
                                <span class="refencia">
                                    <h5><strong><?= 'Ref. Prod.: ' . $row['PRD_SKU'] ?></strong></h5>
                                </span>
                                <div class="col-xs-12 quantidade">
                                    <?php if (intval($row['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                        <div class="cart-plus-minus">
                                            <div class="numbers-row">
                                                <div class="dec qtybutton remover">
                                                    <i class="fa fa-minus">&nbsp;</i>
                                                </div>
                                                <input type="text" class="qty" title="Quantidade" value="1" maxlength="12" name="qty">
                                                <div class="inc qtybutton adicionar" data-id="<?= $row['PRD_ID'] ?>">
                                                    <i class="fa fa-plus">&nbsp;</i>
                                                </div>
                                            </div>
                                        </div>
                                    <?php } else { ?>
                                        <div class="prd-indisp">
                                            Indisponível
                                        </div>
                                    <?php } ?>
                                    <?php
                                    if (intval($row['PRD_QTDE_ESTOQUE']) > 1) {
                                        $plural = ['m', 's'];
                                    } else {
                                        $plural = ['', ''];
                                    }

                                    ?>
                                    <div class="info-qtde">
                                        <?php if (boolval($config['EXIBIR_ESTOQUE'])) { ?>
                                            <span><?= intval($row['PRD_QTDE_ESTOQUE']) > 0 ? "Existe" . $plural[0] . " <strong>" . $row['PRD_QTDE_ESTOQUE'] . "</strong> produto" . $plural[1] . " em estoque" : "Deixe seu e-mail que lembraremos você" ?></span>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div class="col-xs-12 pagar">
                                    <div class="info">
                                        <div class="preco"><?//= 'R$' . number_format($row['PRD_PRECO'], 2, ',', '.') ?></div>
                                    </div>
                                    <div class="btncarrinho">
                                        <?php if (intval($row['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                            <a href="#" data-action="<?= SITE_URL . '/Home/Adicionar'; ?>" data-id="<?= $row['PRD_ID'] ?>" class="btn btn-success btn_adicionar" title="Adicionar">
                                                <span>Cotar</span>
                                            </a>
                                        <?php } else { ?>
                                            <a href="#" data-action="<?= SITE_URL . '/Home/Lembrar'; ?>" data-id="<?= $row['PRD_ID'] ?>" class="btn btn-warning btn_lembrar" title="Lembrar">
                                                <span>Lembre-me</span>
                                            </a>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                    <?php
                        }

                        echo '</div>';

                        $tab1++;
                    }

                    ?>
                </div>
                <?php if (count($listaproddestaques) > 1) { ?>
                    <ol class="carousel-indicators">
                        <?php
                        $ct1 = 0;

                        foreach ($listaproddestaques as $row) {

                        ?>
                            <li data-target="#destaques_slider" data-slide-to="<?= $ct1 ?>" <?= $ct1 == 0 ? "class='active'" : "" ?>></li>
                        <?php
                            $ct1++;
                        }

                        ?>
                    </ol>
                <?php } ?>
            </div>
            <?php }?>
        </div>

        <!-- NOVIDADES-->
        <div class="tab-pane fade sliders_slider row" id="tb2">
            <?php if(count($listaprodnovidades)> 0){?>
            <div id="novidades_slider" class="carousel slide" data-ride="carousel" data-interval="5000">
                <div class="container carousel-inner" role="listbox">
                    <?php
                    $tab2 = 0;
                    foreach ($listaprodnovidades as $prd) {

                        $tabactive = $tab2 == 0 ? 'active' : '';
                        echo '<div class="item row ' . $tabactive . '">';

                        foreach ($prd as $row) {
                            $principal = \santosdummontsite\Common::imagem_existe($row['PASTA_IMAGENS'], $row['PRD_IMAGEM_PRINCIPAL'], 2);

                            $strnome = santosdummontsite\Common::removerCaracteresEspeciais($row['PRD_NOME']);

                    ?>
                            <div class="col-md-3 col-xs-6 sub_item product-item">
                                <?php if (intval($row['PRD_DESTAQUE']) == 1) { ?>
                                    <div class="prd-destq prd-novo"></div>
                                <?php } else if (intval($row['PRD_DESTAQUE']) == 2) { ?>
                                    <div class="prd-destq prd-desconto">
                                        <div><?= '-' . number_format($row['PRD_TAXA'], 1, ',', '.') . ' %' ?></div>
                                    </div>
                                <?php } else if (intval($row['PRD_DESTAQUE']) == 3) { ?>
                                    <div class="prd-destq prd-breve"></div>
                                <?php } ?>
                                <div class="pi-img-wrapper">
                                    <img src="<?= $principal; ?>" class="img-responsive" alt="<?= $row['PRD_NOME'] ?>">
                                    <div>
                                        <a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>" class="btn btn-default">Detalhes</a>
                                        <a href="#product-pop-up" class="btn btn-default hidden-xs btn_prd_detalhes" data-action="<?= SITE_URL . '/Produtos/Detalhe/' . $row['PRD_ID']; ?>">Resumo</a>
                                        <a href="#product-pop-up" class="btn btn-default hidden-lg hidden-md hidden-sm btn_prd_detalhes_mob" data-action="<?= SITE_URL . '/Produtos/Detalhe/' . $row['PRD_ID']; ?>">Resumo</a>
                                    </div>
                                </div>
                                <p><a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>"><?= \santosdummontsite\Common::tratar_frases_grandes($row['PRD_NOME']); ?></a></p>
                                <span class="refencia">
                                    <h5><strong><?= 'Ref. Prod.: ' . $row['PRD_SKU'] ?></strong></h5>
                                </span>
                                <div class="col-xs-12 quantidade">
                                    <?php if (intval($row['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                        <div class="cart-plus-minus">
                                            <div class="numbers-row">
                                                <div class="dec qtybutton remover">
                                                    <i class="fa fa-minus">&nbsp;</i>
                                                </div>
                                                <input type="text" class="qty" title="Quantidade" value="1" maxlength="12" name="qty">
                                                <div class="inc qtybutton adicionar" data-id="<?= $row['PRD_ID'] ?>">
                                                    <i class="fa fa-plus">&nbsp;</i>
                                                </div>
                                            </div>
                                        </div>
                                    <?php } else { ?>
                                        <div class="prd-indisp">
                                            Indisponível
                                        </div>
                                    <?php } ?>
                                    <?php
                                    if (intval($row['PRD_QTDE_ESTOQUE']) > 1) {
                                        $plural = ['m', 's'];
                                    } else {
                                        $plural = ['', ''];
                                    }

                                    ?>
                                    <div class="info-qtde">
                                        <?php if (boolval($config['EXIBIR_ESTOQUE'])) { ?>
                                            <span><?= intval($row['PRD_QTDE_ESTOQUE']) > 0 ? "Existe" . $plural[0] . " <strong>" . $row['PRD_QTDE_ESTOQUE'] . "</strong> produto" . $plural[1] . " em estoque" : "Deixe seu e-mail que lembraremos você" ?></span>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div class="col-xs-12 pagar">
                                    <div class="info">
                                        <div class="preco"><?//= 'R$' . number_format($row['PRD_PRECO'], 2, ',', '.') ?></div>
                                    </div>
                                    <div class="btncarrinho">
                                        <?php if (intval($row['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                            <a href="#" data-action="<?= SITE_URL . '/Home/Adicionar'; ?>" data-id="<?= $row['PRD_ID'] ?>" class="btn btn-success btn_adicionar" title="Adicionar">
                                                <span>Cotar</span>
                                            </a>
                                        <?php } else { ?>
                                            <a href="#" data-action="<?= SITE_URL . '/Home/Lembrar'; ?>" data-id="<?= $row['PRD_ID'] ?>" class="btn btn-warning btn_lembrar" title="Lembrar">
                                                <span>Lembre-me</span>
                                            </a>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                    <?php
                        }

                        echo '</div>';

                        $tab2++;
                    }

                    ?>
                </div>
                <?php if (count($listaprodnovidades) > 1) { ?>
                    <ol class="carousel-indicators">
                        <?php
                        $ct2 = 0;
                        foreach ($listaprodnovidades as $row) {

                        ?>
                            <li data-target="#novidades_slider" data-slide-to="<?= $ct2 ?>" <?= $ct2 == 0 ? "class='active'" : "" ?>></li>
                        <?php
                            $ct2++;
                        }

                        ?>
                    </ol>
                <?php } ?>
            </div>
            <?php }?>
        </div>

        <!-- PROMOÇÕES-->
        <div class="tab-pane fade sliders_slider row" id="tb3">
            <?php if(count($listaprodpromocoes)> 0){?>
            <div id="promocoes_slider" class="carousel slide" data-ride="carousel" data-interval="5000">
                <div class="container carousel-inner" role="listbox">
                    <?php
                    $tab3 = 0;
                    foreach ($listaprodpromocoes as $prd) {

                        $tabactive = $tab3 == 0 ? 'active' : '';
                        echo '<div class="item row ' . $tabactive . '">';

                        foreach ($prd as $row) {
                            $principal = \santosdummontsite\Common::imagem_existe($row['PASTA_IMAGENS'], $row['PRD_IMAGEM_PRINCIPAL'], 2);
                            $strnome = santosdummontsite\Common::removerCaracteresEspeciais($row['PRD_NOME']);

                    ?>
                            <div class="col-md-3 col-xs-6 sub_item product-item">
                                <?php if (intval($row['PRD_DESTAQUE']) == 1) { ?>
                                    <div class="prd-destq prd-novo"></div>
                                <?php } else if (intval($row['PRD_DESTAQUE']) == 2) { ?>
                                    <div class="prd-destq prd-desconto">
                                        <div><?= '-' . number_format($row['PRD_TAXA'], 1, ',', '.') . ' %' ?></div>
                                    </div>
                                <?php } else if (intval($row['PRD_DESTAQUE']) == 3) { ?>
                                    <div class="prd-destq prd-breve"></div>
                                <?php } ?>
                                <div class="pi-img-wrapper">
                                    <img src="<?= $principal; ?>" class="img-responsive" alt="<?= $row['PRD_NOME'] ?>">
                                    <div>
                                        <a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>" class="btn btn-default">Detalhes</a>
                                        <a href="#product-pop-up" class="btn btn-default hidden-xs btn_prd_detalhes" data-action="<?= SITE_URL . '/Produtos/Detalhe/' . $row['PRD_ID']; ?>">Resumo</a>
                                        <a href="#product-pop-up" class="btn btn-default hidden-lg hidden-md hidden-sm btn_prd_detalhes_mob" data-action="<?= SITE_URL . '/Produtos/Detalhe/' . $row['PRD_ID']; ?>">Resumo</a>
                                    </div>
                                </div>
                                <p><a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>"><?= \santosdummontsite\Common::tratar_frases_grandes($row['PRD_NOME']); ?></a></p>
                                <span class="refencia">
                                    <h5><strong><?= 'Ref. Prod.: ' . $row['PRD_SKU'] ?></strong></h5>
                                </span>
                                <div class="col-xs-12 quantidade">
                                    <?php if (intval($row['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                        <div class="cart-plus-minus">
                                            <div class="numbers-row">
                                                <div class="dec qtybutton remover">
                                                    <i class="fa fa-minus">&nbsp;</i>
                                                </div>
                                                <input type="text" class="qty" title="Quantidade" value="1" maxlength="12" name="qty">
                                                <div class="inc qtybutton adicionar" data-id="<?= $row['PRD_ID'] ?>">
                                                    <i class="fa fa-plus">&nbsp;</i>
                                                </div>
                                            </div>
                                        </div>
                                    <?php } else { ?>
                                        <div class="prd-indisp">
                                            Indisponível
                                        </div>
                                    <?php } ?>
                                    <?php
                                    if (intval($row['PRD_QTDE_ESTOQUE']) > 1) {
                                        $plural = ['m', 's'];
                                    } else {
                                        $plural = ['', ''];
                                    }

                                    ?>
                                    <div class="info-qtde">
                                        <?php if (boolval($config['EXIBIR_ESTOQUE'])) { ?>
                                            <span><?= intval($row['PRD_QTDE_ESTOQUE']) > 0 ? "Existe" . $plural[0] . " <strong>" . $row['PRD_QTDE_ESTOQUE'] . "</strong> produto" . $plural[1] . " em estoque" : "Deixe seu e-mail que lembraremos você" ?></span>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div class="col-xs-12 pagar">
                                    <div class="info">
                                        <div class="preco"><?//= 'R$' . number_format($row['PRD_PRECO'], 2, ',', '.') ?></div>
                                    </div>
                                    <div class="btncarrinho">
                                        <?php if (intval($row['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                            <a href="#" data-action="<?= SITE_URL . '/Home/Adicionar'; ?>" data-id="<?= $row['PRD_ID'] ?>" class="btn btn-success btn_adicionar" title="Adicionar">
                                                <span>Cotar</span>
                                            </a>
                                        <?php } else { ?>
                                            <a href="#" data-action="<?= SITE_URL . '/Home/Lembrar'; ?>" data-id="<?= $row['PRD_ID'] ?>" class="btn btn-warning btn_lembrar" title="Lembrar">
                                                <span>Lembre-me</span>
                                            </a>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                    <?php
                        }

                        echo '</div>';
                        $tab3++;
                    }

                    ?>
                </div>
                <?php if (count($listaprodpromocoes) > 1) { ?>
                    <ol class="carousel-indicators">
                        <?php
                        $ct3 = 0;
                        foreach ($listaprodpromocoes as $row) {

                        ?>
                            <li data-target="#promocoes_slider" data-slide-to="<?= $ct3 ?>" <?= $ct3 == 0 ? "class='active'" : "" ?>></li>
                        <?php
                            $ct3++;
                        }

                        ?>
                    </ol>
                <?php } ?>
            </div>
            <?php }?>
        </div>
    </div>
</section>

<?php if (!empty($listaprodespeciais)) {?>
<section class="sec_ofertas_especiais">
    <div class="container tabsnav">
        <ul class="nav nav-pills">
            <li class="active"><a class="tab_cor_esp" href="#tb1oe" data-toggle="tab">Ofertas Especiais</a></li>
        </ul>
    </div>
    <div class="container tab-content clearfix tabscontent">
        <div class="tab-pane row active" id="tb1oe">
            <div class="col-md-8 col-xs-12 nopadd">
                <?php
                $count3 = 0;

                $num = rand(0, count($listaprodespeciais)-1);
                if (!empty($listaprodespeciais)) {
                    foreach ($listaprodespeciais as $prd) {

                        echo '<div class="col-md-12 linha">';

                        foreach ($prd as $row) {

                            if ($count3 == $num) {
                                $main = $row;
                            }

                            $principal = \santosdummontsite\Common::imagem_existe($row['PASTA_IMAGENS'], $row['PRD_IMAGEM_PRINCIPAL'], 2);

                            $nome = $row['PRD_NOME'];

                            $strnome = santosdummontsite\Common::removerCaracteresEspeciais($nome);

                ?>
                            <div class="col-md-4 col-xs-6 sub_item product-item">
                                <?php if (intval($row['PRD_DESTAQUE']) == 1) { ?>
                                    <div class="prd-destq prd-novo"></div>
                                <?php } else if (intval($row['PRD_DESTAQUE']) == 2) { ?>
                                    <div class="prd-destq prd-desconto">
                                        <div><?= '-' . number_format($row['PRD_TAXA'], 1, ',', '.') . ' %' ?></div>
                                    </div>
                                <?php } else if (intval($row['PRD_DESTAQUE']) == 3) { ?>
                                    <div class="prd-destq prd-breve"></div>
                                <?php } ?>
                                <div class="pi-img-wrapper">
                                    <img src="<?= $principal; ?>" class="img-responsive" alt="<?= $row['PRD_NOME'] ?>">
                                    <div>
                                        <a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>" class="btn btn-default">Detalhes</a>
                                        <a href="#modal" class="btn btn-default hidden-xs btn_prd_detalhes" data-action="<?= SITE_URL . '/Produtos/Detalhe/' . $row['PRD_ID']; ?>">Resumo</a>
                                        <a href="#modal" class="btn btn-default hidden-lg hidden-md hidden-sm btn_prd_detalhes_mob" data-action="<?= SITE_URL . '/Produtos/Detalhe/' . $row['PRD_ID']; ?>">Resumo</a>
                                    </div>
                                </div>
                                <p><a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>"><?= \santosdummontsite\Common::tratar_frases_grandes($row['PRD_NOME']); ?></a></p>
                                <span class="refencia">
                                    <h5><strong><?= 'Ref. Prod.: ' . $row['PRD_SKU'] ?></strong></h5>
                                </span>
                                <div class="col-xs-12 quantidade">
                                    <?php if (intval($row['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                        <div class="cart-plus-minus">
                                            <div class="numbers-row">
                                                <div class="dec qtybutton remover">
                                                    <i class="fa fa-minus">&nbsp;</i>
                                                </div>
                                                <input type="text" class="qty" title="Quantidade" value="1" maxlength="12" name="qty">
                                                <div class="inc qtybutton adicionar" data-id="<?= $row['PRD_ID'] ?>">
                                                    <i class="fa fa-plus">&nbsp;</i>
                                                </div>
                                            </div>
                                        </div>
                                    <?php } else { ?>
                                        <div class="prd-indisp">
                                            Indisponível
                                        </div>
                                    <?php } ?>
                                    <?php
                                    if (intval($row['PRD_QTDE_ESTOQUE']) > 1) {
                                        $plural = ['m', 's'];
                                    } else {
                                        $plural = ['', ''];
                                    }

                                    ?>
                                    <div class="info-qtde">
                                        <?php if (boolval($config['EXIBIR_ESTOQUE'])) { ?>
                                            <span><?= intval($row['PRD_QTDE_ESTOQUE']) > 0 ? "Existe" . $plural[0] . " <strong>" . $row['PRD_QTDE_ESTOQUE'] . "</strong> produto" . $plural[1] . " em estoque" : "Deixe seu e-mail que lembraremos você" ?></span>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div class="col-xs-12 pagar">
                                    <div class="col-xs-5 info">
                                        <div class="preco"><?//= 'R$' . number_format($row['PRD_PRECO'], 2, ',', '.') ?></div>
                                    </div>
                                    <div class="col-xs-7 btncarrinho">
                                        <?php if (intval($row['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                            <a href="#" data-action="<?= SITE_URL . '/Home/Adicionar'; ?>" data-id="<?= $row['PRD_ID'] ?>" class="btn btn-xs btn-md btn-sm btn-success btn_adicionar" title="Adicionar">
                                                <span>Cotar</span>
                                            </a>
                                        <?php } else { ?>
                                            <a href="#" data-action="<?= SITE_URL . '/Home/Lembrar'; ?>" data-id="<?= $row['PRD_ID'] ?>" class="btn btn-xs btn-md btn-sm btn-warning btn_lembrar" title="Lembrar">
                                                <span>Lembre-me</span>
                                            </a>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                <?php
                            $count3++;
                        }

                        echo '</div>';
                    }
                }
                ?>
            </div>
            <?php
            if (!empty($listaprodespeciais)) {
                $principal = \santosdummontsite\Common::imagem_existe($main['PASTA_IMAGENS'], $main['PRD_IMAGEM_PRINCIPAL'], 2);

                $nomepri = $main['PRD_NOME'];
                $strnomemain = santosdummontsite\Common::removerCaracteresEspeciais($nomepri) . '-main';

                if (!empty($main['OUTRAS_IMGS'])) {
                    $thumbs = explode(',', $main['OUTRAS_IMGS']);
                }

            ?>
                <div class="col-md-4 hidden-xs col-xs-12  nopadd destaque">
                    <div class="categoria"><?= $main['CAT_NOME'] ?></div>
                    <div class="col-sm-12 col-xs-12 titulo">
                        <p>
                            <?= (strlen($nomepri) > 75) ? $nomepri = substr($nomepri, 0, 72) . '...' : $main['PRD_NOME']; ?>
                        </p>
                    </div>
                    <div class="col-sm-12 imagem">
                        <a href="<?= $principal ?>" data-lightbox="<?= $strnomemain ?>" class="single_image">
                            <img src="<?= $principal; ?>" class="img-responsive" alt="<?= $main['PRD_NOME'] ?>">
                        </a>
                    </div>
                    <div class="col-sm-12 miniaturas">
                        <div class="col-md-4">
                            <div class="mini">
                                <a href="<?= $principal ?>" data-lightbox="<?= $strnomemain ?>" class="single_image">
                                    <img src="<?= $principal; ?>" class="img-responsive" alt="<?= $main['PRD_NOME'] ?>">
                                </a>
                            </div>
                        </div>
                        <?php
                        if (!empty($main['OUTRAS_IMGS'])) {
                            foreach ($thumbs as $thumb) {

                        ?>
                                <?php
                                $imagethumbmain = \santosdummontsite\Common::imagem_existe($main['PASTA_IMAGENS'], $thumb, 2);

                                ?>
                                <div class="col-md-4">
                                    <div class="mini">
                                        <a href="<?= $imagethumbmain ?>" data-lightbox="<?= $strnomemain ?>" class="single_image">
                                            <img src="<?= $imagethumbmain; ?>" class="img-responsive" alt="<?= $main['PRD_NOME'] ?>">
                                        </a>
                                    </div>
                                </div>
                        <?php
                            }
                        }

                        ?>
                    </div>
                    <div class="col-xs-12 quantidade">
                        <?php if (intval($main['PRD_QTDE_ESTOQUE']) > 0) { ?>
                            <div class="cart-plus-minus">
                                <div class="numbers-row">
                                    <div class="dec qtybutton remover">
                                        <i class="fa fa-minus">&nbsp;</i>
                                    </div>
                                    <input type="text" class="qty" title="Quantidade" value="1" maxlength="12" name="qty">
                                    <div class="inc qtybutton adicionar" data-id="<?= $row['PRD_ID'] ?>">
                                        <i class="fa fa-plus">&nbsp;</i>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                        <?php
                        if (intval($main['PRD_QTDE_ESTOQUE']) > 1) {
                            $plural = ['m', 's'];
                        } else {
                            $plural = ['', ''];
                        }

                        ?>
                        <div class="info-qtde">
                            <?php if (boolval($config['EXIBIR_ESTOQUE'])) { ?>
                                <span><?= intval($main['PRD_QTDE_ESTOQUE']) > 0 ? "Existe" . $plural[0] . " <strong>" . $main['PRD_QTDE_ESTOQUE'] . "</strong> produto" . $plural[1] . " em estoque" : "Deixe seu e-mail que lembraremos você" ?></span>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="col-sm-12 pagar">
                        <div class="precos">
                            <span class="preco"><?//= 'R$' . number_format($main['PRD_PRECO'], 2, ',', '.') ?></span> <span class="old_preco"></span>
                        </div>
                        <div class="col-xs-6 btncarrinho">
                            <?php if (intval($main['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                <a href="#" data-action="<?= SITE_URL . '/Home/Adicionar'; ?>" data-id="<?= $main['PRD_ID'] ?>" class="btn btn-xs btn-md btn-sm btn-success btn_adicionar" title="Adicionar">
                                    <span>Cotar</span>
                                </a>
                            <?php } else { ?>
                                <a href="#" data-action="<?= SITE_URL . '/Home/Lembrar'; ?>" data-id="<?= $main['PRD_ID'] ?>" class="btn btn-xs btn-md btn-sm btn-warning btn_lembrar" title="Lembrar">
                                    <span>Lembre-me</span>
                                </a>
                            <?php } ?>
                        </div>
                    </div>
                </div>
            <?php
            }
            ?>
        </div>
    </div>
</section>
<?php }?>

<section class="sec_tags">
    <div class="container">
        <div class="row tag_itens">
            <div class="col-3 tag tag_item">
                <a href="https://www.google.com/maps/place/Santos+Dumont+Componentes+Eletr%C3%B4nicos/@-16.6674098,-49.2585632,15z/data=!4m5!3m4!1s0x0:0x7966c0ce3a2c7cfa!8m2!3d-16.6674098!4d-49.2585632" target="_blank">
                    <img src="<?= TEMA_ICONES . '/local.png'; ?>" class="img-responsive" alt="Fácil Localização">
                    <div class="info">Fácil Localização</div>
                </a>
            </div>
            <div class="col-3 tag tag_item">
                <a href="https://www.google.com/maps/uv?hl=pt-BR&pb=!1s0x935ef3db7a7ffff9%3A0x7966c0ce3a2c7cfa!3m1!7e115!4s%2Fmaps%2Fplace%2Fsantos%2Bdumont%2Bcomponentes%2F%40-16.6673556%2C-49.2583951%2C3a%2C75y%2C251.39h%2C90t%2Fdata%3D*213m4*211e1*213m2*211sFVmbTRr5_uo4HFWnT-YtRA*212e0*214m2*213m1*211s0x935ef3db7a7ffff9%3A0x7966c0ce3a2c7cfa%3Fsa%3DX!5ssantos%20dumont%20componentes%20-%20Pesquisa%20Google!15sCgIgAQ&imagekey=!1e10!2sAF1QipNXk0TXT_JM70Swerp-pkoEh45AlbgzzLc7vG0q&sa=X&ved=2ahUKEwiO1tDtqePqAhWDLLkGHX8oAPsQpx8wFHoECBEQCw" target="_blank">
                    <img src="<?= TEMA_ICONES . '/withdraw.png'; ?>" class="img-responsive" alt="Retire na Loja">
                    <div class="info">Retire na Loja</div>
                </a>
            </div>
            <div class="col-3 tag tag_item">
                <a href="#">
                    <img src="<?= TEMA_ICONES . '/callshop.png'; ?>" class="img-responsive" alt="Compre por Telefone">
                    <div class="info">Compre por telefone</div>
                </a>
            </div>
            <div class="col-3 tag tag_item">
                <a href="#">
                    <img src="<?= TEMA_ICONES . '/reserve.png'; ?>" class="img-responsive" alt="Reserve o produto">
                    <div class="info">Reserve o produto</div>
                </a>
            </div>
            <div class="col-3 tag">
                <a href="#">
                    <img src="<?= TEMA_ICONES . '/callme.png'; ?>" class="img-responsive" alt="Atendimento Rápido">
                    <div class="info">Atendimento Rápido</div>
                </a>
            </div>
        </div>
    </div>
</section>
