
<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="<?= SITE_URL . '/Home' ?>">Home</a></li>
            <li class="active">Reset de senha</li>
        </ul>
        <div class="row margin-bottom-40">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2><strong>Insira a sua nova senha.</strong></h2>
            </div>
            <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-lg-4 col-lg-offset-4 col-xs-12">
                <form method="post" role="form" id="form_login_reset" name="form_login_reset" action="<?= $urlaction ?>">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </div>
                            <input type="password" class="form-control" name="senha" id="email" data-name="Senha" maxlength="20" placeholder="Senha" autocomplete="off" />
                            <input type="hidden" id="id" name="id" value="<?= $iduser ?>"/>
                            <input type="hidden" id="email" name="email" value="<?= $email ?>"/>
                            <input type="hidden" id="code" name="code" value="<?= $code ?>"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </div>
                            <input type="password" class="form-control" name="confsenha" id="confiemail" data-name="Confirmar Senha" placeholder="Confirmar Senha" autocomplete="off" maxlength="20"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-login">
                            <i class="entypo-login"></i>
                            Trocar Senha
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
