<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="<?= SITE_URL . '/Home' ?>">Home</a></li>
            <li><a href="">Loja</a></li>
            <li class="active">Meus Favoritos</li>
        </ul>

        <div class="row margin-bottom-40">
            <div class="sidebar col-md-3 col-sm-5 col-xs-12">
                <ul class="list-group margin-bottom-25 sidebar-men hidden-xs">
                    <?php foreach ($menu as $row) { ?>
                        <?php if ((int) $row['CAT_PAI'] == 0) { ?>
                            <li class="list-group-item clearfix dropdown active">
                                <?php if ($row['FILHOS'] != null) { ?>
                                    <a href="j<?= SITE_URL . '/Produtos/Lista/' . $row['CAT_ID'] ?>" class="collapsed">
                                        <i class="fa fa-angle-right"></i>
                                        <?= $row['CAT_NOME'] ?>
                                    </a>
                                    <ul class="dropdown-menu" style="display:none;">
                                        <li class="list-group-item dropdown clearfix active">
                                            <?php foreach ($menu as $row2) { ?>
                                                <?php if ($row['CAT_ID'] == $row2['CAT_PAI']) { ?>
                                                    <a href="<?= SITE_URL . '/Produtos/Lista/' . $row2['CAT_ID'] ?>" class="collapsed">
                                                        <i class="fa fa-angle-right"></i>
                                                        <?= $row2['CAT_NOME'] ?>
                                                    </a>
                                                    <?php if ($row2['FILHOS'] != null) { ?>
                                                        <ul class="dropdown-menu" style="display:block;">
                                                            <li class="list-group-item dropdown clearfix">
                                                                <ul class="dropdown-menu">
                                                                    <?php foreach ($menu as $row3) { ?>
                                                                        <?php if ($row2['CAT_ID'] == $row3['CAT_PAI']) { ?>
                                                                            <li><a href="<?= SITE_URL . '/Produtos/Lista/' . $row3['CAT_ID'] ?>"><?= $row3['CAT_NOME'] ?></a></li>
                                                                        <?php } ?>
                                                                    <?php } ?>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    <?php } ?>
                                                <?php } ?>
                                            <?php } ?>
                                        </li>
                                    </ul>
                                <?php } else { ?>
                                    <a href="#"><i class="fa fa-angle-right"></i><?= $row['CAT_NOME'] ?></a>
                                <?php } ?>
                            </li>
                        <?php } ?>
                    <?php } ?>
                </ul>
            </div>

            <div class="col-md-9 col-sm-7 col-xs-12">
                <h1>Meus Favoritos</h1>
                <div class="goods-page">
                    <div class="goods-data clearfix">
                        <div class="table-wrapper-responsive">
                            <table summary="Shopping cart">
                                <tr>
                                    <th class="goods-page-image">IMAGEM</th>
                                    <th class="goods-page-description">Descrição</th>
                                    <th class="goods-page-stock">Estoque</th>
                                    <th class="goods-page-price" colspan="2">Preço Unitário</th>
                                </tr>
                                <?php foreach ($listafavoritos as $row) { ?>
                                    <tr>
                                        <td class="goods-page-image">
                                            <a href="javascript:;"><img src="<?= FOTOPRODUTO_URL ?>/<?= $row['IMAGEM'] ?>" class="img-responsive" alt="<?= $row['PRD_NOME'] ?>"></a>
                                        </td>
                                        <td class="goods-page-description">
                                            <h3><a href="javascript:;"><?= $row['PRD_NOME'] ?></a></h3>
                                            <p><strong>Item 1</strong></p>
                                            <em>Mais Informações</em>
                                        </td>
                                        <td class="goods-page-stock">
                                            Em estoque
                                        </td>
                                        <td class="goods-page-price">
                                            <strong><?= $row['PRD_PRECO'] ?></strong>
                                        </td>
                                        <td class="del-goods-col">
                                            <a class="del-goods" href="javascript:;">&nbsp;</a>
                                            <a class="add-goods" href="javascript:;">&nbsp;</a>
                                        </td>
                                    </tr>
                                <?php } ?>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
