<div class="title-wrapper" <?= !empty($categoria['CAT_IMAGEM']) ? 'style="background: #787a7e url(' . FOTOCATEGORIAS_URL . '/' . $categoria['CAT_IMAGEM'] . ') no-repeat 100% 100%; height:240px"' : 'style="background-color: #263c5d"' ?>>
    <div class="container cab-categorias">
        <div class="container-inner">
            <h1><span><?= $categoria['CAT_NOME'] ?></span></h1>
            <em>Temos <?= $categoria['ITENS_CADASTRADOS'] ?> produtos disponíveis</em>
        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="<?= SITE_URL . '/Home' ?>">Home</a></li>
            <li><a href="">categorias</a></li>
            <li class="active"><?= $categoria['CAT_NOME'] ?></li>
        </ul>
        <div class="row margin-bottom-40">
            <div class="sidebar col-md-3 col-sm-5 col-xs-12">
                <ul class="list-group margin-bottom-25 sidebar-menu hidden-xs">
                    <?php foreach ($categoriasirmas as $row) { ?>
                        <li class="list-group-item clearfix dropdown active">
                            <?php if ($row['FILHOS'] != null) { ?>
                                <a href="<?= SITE_URL . '/Produtos/Categoria/cat-' . $row['CAT_URL'] ?>" class="collapsed">
                                    <i class="fa fa-angle-right"></i>
                                    <?= $row['CAT_NOME'] ?>
                                </a>
                                <ul class="dropdown-menu" style="display:none;">
                                    <li class="list-group-item dropdown clearfix active">
                                        <?php foreach ($categoriasirmas as $row2) { ?>
                                            <?php if ($row['CAT_ID'] == $row2['CAT_PAI']) { ?>
                                                <a href="<?= SITE_URL . '/Produtos/Categoria/cat-' . $row2['CAT_URL'] ?>" class="collapsed">
                                                    <i class="fa fa-angle-right"></i>
                                                    <?= $row2['CAT_NOME'] ?>
                                                </a>
                                                <?php if ($row2['FILHOS'] != null) { ?>
                                                    <ul class="dropdown-menu" style="display:block;">
                                                        <li class="list-group-item dropdown clearfix">
                                                            <ul class="dropdown-menu">
                                                                <?php foreach ($categoriasirmas as $row3) { ?>
                                                                    <?php if ($row2['CAT_ID'] == $row3['CAT_PAI']) { ?>
                                                                        <li><a href="<?= SITE_URL . '/Produtos/Categoria/cat-' . $row3['CAT_URL'] ?>">
                                                                                <?= $row3['CAT_NOME'] ?>
                                                                            </a>
                                                                        </li>
                                                                    <?php } ?>
                                                                <?php } ?>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                <?php } ?>
                                            <?php } ?>
                                        <?php } ?>
                                    </li>
                                </ul>
                            <?php } else { ?>
                                <a href="<?= SITE_URL . '/Produtos/Categoria/cat-' . $row['CAT_URL'] ?>">
                                    <i class="fa fa-angle-right"></i> <?= $row['CAT_NOME'] ?>
                                </a>
                            <?php } ?>
                        </li>
                    <?php } ?>
                </ul>
                <form class="form-horizontal form-groups-bordered" action="<?= $urlactionfiltro ?>" method="POST">
                    <div class="form-group-sm sidebar-filter margin-bottom-25 col-xs-12">
                        <h2>Filtro</h2>
                    </div>
                    <input type="hidden" name="cat" value="<?= $cat ?>">
                    <div class="form-group-sm sidebar-filter col-md-12 col-sm-12 col-lg-12 col-xs-6">
                        <label class="control-label">Disponibilidade</label>
                        <div class="checkbox-list">
                            <label>
                                <input type="checkbox" name="dispo" value="1" <?= ($dispckd > 0) ? 'checked="checked"' : '' ?>> Disponíveis (<?= $disponiveis ?>)
                            </label>
                        </div>
                        <div class="checkbox-list">
                            <label>
                                <input type="checkbox" name="indisp" value="1" <?= ($indispckd > 0) ? 'checked="checked"' : '' ?>> Indisponíveis (<?= $ndisponiveis ?>)
                            </label>
                        </div>
                    </div>
                    <div class="form-group-sm sidebar-filter col-md-12 col-sm-12 col-lg-12 col-xs-6">
                        <div class="col-sm-12 nopadd">
                            <label class="control-label">Preço</label>
                        </div>
                        <div class="col-sm-5 nopadd">
                            <input id="precoi" type="text" name="precoi" class="form-control input-sm dinheiro" value="<?= $precoi; ?>" />
                        </div>
                        <div class="col-sm-2 text-center">
                            <span>até</span>
                        </div>
                        <div class="col-sm-5 nopadd">
                            <input id="precof" type="text" name="precof" class="form-control input-sm dinheiro" value="<?= $precof; ?>" />
                        </div>
                    </div>
                    <div class="form-group-sm sidebar-products col-md-12 col-sm-12 col-lg-12 col-xs-6 clearfix">
                        <label class="control-label">Quantidade por página:</label>
                        <select id="itens" name="itens" class="form-control input-sm">
                            <option value="12" <?= ($itens == 12) ? 'selected="selected"' : '' ?>>12</option>
                            <option value="24" <?= ($itens == 24) ? 'selected="selected"' : '' ?>>24</option>
                            <option value="36" <?= ($itens == 36) ? 'selected="selected"' : '' ?>>36</option>
                            <option value="48" <?= ($itens == 48) ? 'selected="selected"' : '' ?>>48</option>
                            <option value="62" <?= ($itens == 62) ? 'selected="selected"' : '' ?>>62</option>
                        </select>
                    </div>
                    <div class="form-group-sm sidebar-products col-md-12 col-sm-12 col-lg-12 col-xs-6 clearfix">
                        <label class="control-label">Ordenar por:</label>
                        <select id="ordenacao" name="ordenacao" class="form-control input-sm">
                            <option value="1" <?= ($ordenacao == 1) ? 'selected="selected"' : '' ?>>Padrão</option>
                            <option value="2" <?= ($ordenacao == 2) ? 'selected="selected"' : '' ?>>Nome (A - Z)</option>
                            <option value="3" <?= ($ordenacao == 3) ? 'selected="selected"' : '' ?>>Nome (Z - A)</option>
                            <option value="4" <?= ($ordenacao == 4) ? 'selected="selected"' : '' ?>>Preço (Menor &gt; Maior)</option>
                            <option value="5" <?= ($ordenacao == 5) ? 'selected="selected"' : '' ?>>Preço (Maior &gt; Menor)</option>
                        </select>
                    </div>
                    <div class="form-group-sm sidebar-products clearfix">
                        <button type="submit" class="btn btn-success form-control btn-filtro">Filtrar</button>
                    </div>
                    <?php if ($filtro > 0) { ?>
                        <div class="form-group-sm sidebar-products clearfix">
                            <a href="<?= SITE_URL . '/Produtos/Categoria/termo=' . $termo ?>" class="btn btn-danger form-control btn-filtro">Remover Filtros</a>
                        </div>
                    <?php } ?>
                </form>
            </div>
            <div class="col-md-9 col-sm-7 col-xs-12">
                <?php if (intval($todos) > 0) { ?>
                    <div class="row product-list text-center">
                        <a href="javascript:history.back()" class="btn btn-danger btn-icon">
                            <i class="entypo-back-in-time"></i>
                            Voltar para tela anterior
                        </a>
                    </div>
                <?php } ?>
                <div class="row product-list text-center">
                    <?php if ($resultados > 0) { ?>
                        <?php foreach ($listageral as $row) { ?>
                            <?php
                            $imagethumblink = \santosdummontsite\Common::imagem_existe($row['PASTA_IMAGENS'], $row['PRD_IMAGEM_PRINCIPAL'], 2);

                            $nome = $row['PRD_NOME'];

                            $strnome = santosdummontsite\Common::removerCaracteresEspeciais($nome);

                            ?>
                            <div class="col-md-4 col-xs-6 sub_item product-item">
                                <?php if (intval($row['PRD_DESTAQUE']) == 1) { ?>
                                    <div class="prd-destq prd-novo"></div>
                                <?php } else if (intval($row['PRD_DESTAQUE']) == 2) { ?>
                                    <div class="prd-destq prd-desconto">
                                        <div><?= '-' . number_format($row['PRD_TAXA'], 1, ',', '.') . ' %' ?></div>
                                    </div>
                                <?php } else if (intval($row['PRD_DESTAQUE']) == 3) { ?>
                                    <div class="prd-destq prd-breve"></div>
                                <?php } ?>
                                <div class="pi-img-wrapper">
                                    <img src="<?= $imagethumblink; ?>" class="img-responsive" alt="<?= $row['PRD_NOME'] ?>">
                                    <div>
                                        <a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>" class="btn btn-default">Detalhes</a>
                                        <a href="#product-pop-up" class="btn btn-default hidden-xs btn_prd_detalhes" data-action="<?= SITE_URL . '/Produtos/Detalhe/' . $row['PRD_ID']; ?>">Resumo</a>
                                        <a href="#product-pop-up" class="btn btn-default hidden-lg hidden-md hidden-sm btn_prd_detalhes_mob" data-action="<?= SITE_URL . '/Produtos/Detalhe/' . $row['PRD_ID']; ?>">Resumo</a>
                                    </div>
                                </div>
                                <p><a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>"><?= \santosdummontsite\Common::tratar_frases_grandes($row['PRD_NOME']); ?></a></p>
                                <span class="refencia">
                                    <h5><strong><?= 'Ref. Prod.: ' . $row['PRD_SKU'] ?></strong></h5>
                                </span>
                                <div class="col-xs-12 quantidade">
                                    <?php if (intval($row['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                        <div class="cart-plus-minus">
                                            <div class="numbers-row">
                                                <div class="dec qtybutton remover">
                                                    <i class="fa fa-minus">&nbsp;</i>
                                                </div>
                                                <input type="text" class="qty" title="Quantidade" value="1" maxlength="12" name="qty">
                                                <div class="inc qtybutton adicionar" data-id="<?= $row['PRD_ID'] ?>">
                                                    <i class="fa fa-plus">&nbsp;</i>
                                                </div>
                                            </div>
                                        </div>
                                    <?php } else { ?>
                                        <div class="prd-indisp">
                                            Indisponível
                                        </div>
                                    <?php } ?>
                                    <?php
                                    if (intval($row['PRD_QTDE_ESTOQUE']) > 1) {
                                        $plural = ['m', 's'];
                                    } else {
                                        $plural = ['', ''];
                                    }

                                    ?>
                                    <div class="info-qtde">
                                        <?php if (boolval($config['EXIBIR_ESTOQUE'])) { ?>
                                            <span><?= intval($row['PRD_QTDE_ESTOQUE']) > 0 ? "Existe" . $plural[0] . " <strong>" . $row['PRD_QTDE_ESTOQUE'] . "</strong> produto" . $plural[1] . " em estoque" : "Deixe seu e-mail que lembraremos você" ?></span>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div class="col-xs-12 pagar">
                                    <div class="info">
                                        <div class="preco"><?//= 'R$' . number_format($row['PRD_PRECO'], 2, ',', '.') ?></div>
                                    </div>
                                    <div class="btncarrinho">
                                        <?php if (intval($row['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                            <a href="#" data-action="<?= SITE_URL . '/Home/Adicionar'; ?>" data-id="<?= $row['PRD_ID'] ?>" class="btn btn-success btn_adicionar" title="Adicionar">
                                                <span>Cotar</span>
                                            </a>
                                        <?php } else { ?>
                                            <a href="#" data-action="<?= SITE_URL . '/Home/Lembrar'; ?>" data-id="<?= $row['PRD_ID'] ?>" class="btn btn-warning btn_lembrar" title="Lembrar">
                                                <span>Lembre-me</span>
                                            </a>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                    <?php } else { ?>
                        <h2>Nenhum resultado encontrado, realize uma nova busca.</h2>
                    <?php } ?>
                </div>
                <?php if ($resultados > 0 && $totalpaginas > 1) { ?>
                    <div class="row">
                        <?php
                        $range = 3;

                        ?>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <ul class="pagination">
                                <?php if ($paginaatual > 1) { ?>
                                    <li><a href="<?= $urlaction . ',pag=' . ($paginaatual - 1) ?>">Anterior</a></li>
                                <?php } ?>
                                <?php
                                for ($x = ($paginaatual - $range); $x < (($paginaatual + $range) + 1); $x++) {
                                    if (($x > 0) && ($x <= $totalpaginas)) {
                                        if ($x == $paginaatual) {

                                ?>
                                            <li><span class="pag-atual"><strong><?= $paginaatual ?></strong></span></li>
                                        <?php
                                        } else {

                                        ?>
                                            <li><a href="<?= $urlaction . ',pag=' . $x ?>"><?= $x ?></a></li>
                                <?php
                                        }
                                    }
                                }

                                ?>
                                <?php if ($paginaatual != $totalpaginas) { ?>
                                    <?php $nextpage = $paginaatual + 1; ?>
                                    <li><a href="<?= $urlaction . ',pag=' . $nextpage ?>">Próxima</a></li>
                                    <li><a href="<?= $urlaction . ',pag=' . $totalpaginas ?>">Última</a></li>
                                    <li><a href="<?= $urlaction . ',pag=all' ?>">Todas</a></li>
                                <?php } ?>
                            </ul>
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>
