<div class="title-wrapper" <?= empty($parceiro['IMAGEM']) ? 'style="background: #787a7e url(' . FOTOPRODUTO_URL . '/' . $parceiro['IMAGEM'] . ') no-repeat 100% 100%;"' : 'style="background-color: #263c5d"' ?>>
    <div class="container cab-parceiros">
        <div class="container-inner">
            <h1><span><?= $parceiro['PAR_NOME'] ?></span></h1>
            <em>Temos <?= $parceiro['ITENS_CADASTRADOS'] ?> produtos disponíveis</em>
        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="<?= SITE_URL . '/Home' ?>">Home</a></li>
            <li><a href="">parceiros</a></li>
            <li class="active"><?= $parceiro['PAR_NOME'] ?></li>
        </ul>
        <div class="row margin-bottom-40">
            <div class="sidebar col-md-3 col-sm-5 col-xs-12 hidden-xs">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    <?php foreach ($outrosparceiros as $row) { ?>
                        <li class="list-group-item clearfix dropdown active">
                            <a href="<?= SITE_URL . '/Produtos/Fabricante/' . $row['PAR_URL'] ?>">
                                <i class="fa fa-angle-right"></i> <?= $row['PAR_NOME'] ?>
                            </a>
                        </li>
                    <?php } ?>
                </ul>
            </div>
            <div class="col-xs-12 col-md-9 col-sm-7">
                <div class="row product-list text-center">
                    <?php if ($resultados > 0) { ?>
                        <?php foreach ($listageral as $row) { ?>
                            <?php
                            $pasta = FOTOPRODUTO_URL . '/' . $row['PASTA_IMAGENS'] . '/large/';
                            $imagethumblink = \santosdummontsite\Common::imagem_existe($pasta, $row['PRD_IMAGEM_PRINCIPAL'], 2);

                            $nome = $row['PRD_NOME'];

                            $strnome = santosdummontsite\Common::removerCaracteresEspeciais($nome);

                            ?>
                            <div class="col-md-4 col-xs-6 sub_item product-item">
                                <div class="pi-img-wrapper">
                                    <img src="<?= $imagethumblink; ?>" class="img-responsive" alt="<?= $row['PRD_NOME'] ?>">
                                    <div>
                                        <a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>" class="btn btn-default">Detalhes</a>
                                        <a href="#product-pop-up" class="btn btn-default hidden-xs btn_prd_detalhes" data-action="<?= SITE_URL . '/Produtos/Detalhe/' . $row['PRD_ID']; ?>">Resumo</a>
                                        <a href="#product-pop-up" class="btn btn-default hidden-lg hidden-md hidden-sm btn_prd_detalhes_mob" data-action="<?= SITE_URL . '/Produtos/Detalhe/' . $row['PRD_ID']; ?>">Resumo</a>
                                    </div>
                                </div>
                                <p><a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>"><?= \santosdummontsite\Common::tratar_frases_grandes($row['PRD_NOME']); ?></a></p>
                                <span class="refencia">
                                    <h5><strong><?= 'Ref. Prod.: ' . $row['PRD_SKU'] ?></strong></h5>
                                </span>
                                <div class="col-xs-12 quantidade">
                                    <?php if (intval($row['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                        <div class="cart-plus-minus">
                                            <div class="numbers-row">
                                                <div class="dec qtybutton remover">
                                                    <i class="fa fa-minus">&nbsp;</i>
                                                </div>
                                                <input type="text" class="qty" title="Quantidade" value="1" maxlength="12" name="qty">
                                                <div class="inc qtybutton adicionar" data-id="<?= $row['PRD_ID'] ?>">
                                                    <i class="fa fa-plus">&nbsp;</i>
                                                </div>
                                            </div>
                                        </div>
                                    <?php } else { ?>
                                        <div class="prd-indisp">
                                            Indisponível
                                        </div>
                                    <?php } ?>
                                    <?php
                                    if (intval($row['PRD_QTDE_ESTOQUE']) > 1) {
                                        $plural = ['m', 's'];
                                    } else {
                                        $plural = ['', ''];
                                    }

                                    ?>
                                    <div class="info-qtde">
                                        <?php if (boolval($config['EXIBIR_ESTOQUE'])) { ?>
                                            <span><?= intval($row['PRD_QTDE_ESTOQUE']) > 0 ? "Existe" . $plural[0] . " <strong>" . $row['PRD_QTDE_ESTOQUE'] . "</strong> produto" . $plural[1] . " em estoque" : "Deixe seu e-mail que lembraremos você" ?></span>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div class="col-xs-12 pagar">
                                    <div class="info">
                                        <div class="preco"><?//= 'R$' . number_format($row['PRD_PRECO'], 2, ',', '.') ?></div>
                                    </div>
                                    <div class="btncarrinho">
                                        <a href="#" data-action="<?= SITE_URL . '/Home/Adicionar'; ?>" data-id="<?= $row['PRD_ID'] ?>" class="btn btn-success btn_adicionar">
                                            <span>Cotar</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                    <?php } else { ?>
                        <h2>Nenhum resultado encontrado.</h2>
                    <?php } ?>
                </div>
                <?php if ($resultados > 0 && $totalpaginas > 1) { ?>
                    <div class="row">
                        <?php
                        $range = 3;
                        $cont = 0;

                        ?>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <ul class="pagination">
                                <?php if ($paginaatual > 1) { ?>
                                    <li><a href="<?= $urlaction . '/' . ($paginaatual - 1) ?>">Anterior</a></li>
                                <?php } ?>
                                <?php for ($i = 1; $i <= $totalpaginas; $i++) { ?>
                                    <?php if ($i > ($paginaatual - 3) && $cont < 10) { ?>
                                        <?php if ($i == $paginaatual) { ?>
                                            <li><span class="pag-atual"><strong><?= $i ?></strong></span></li>
                                        <?php } else { ?>
                                            <li><a href="<?= $urlaction . '/' . $i ?>"><?= $i ?></a></li>
                                    <?php
                                            $cont++;
                                        }
                                    }

                                    ?>
                                <?php } ?>
                                <?php if ($paginaatual != $totalpaginas) { ?>
                                    <?php $nextpage = $paginaatual + 1; ?>
                                    <li><a href="<?= $urlaction . '/' . $nextpage ?>">Próxima</a></li>
                                    <li><a href="<?= $urlaction . '/' . $totalpaginas ?>">Última</a></li>
                                <?php } ?>
                            </ul>
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>
