<?php

use santosdummont\Common;

$outras = !empty($produto['OUTRAS_IMGS']) ? explode(',', $produto['OUTRAS_IMGS']) : null;
$principal_main = \santosdummontsite\Common::imagem_existe($produto['PASTA_IMAGENS'], $produto['PRD_IMAGEM_PRINCIPAL'], 2);
$nome = $produto['PRD_NOME'];
$strnome = santosdummontsite\Common::removerCaracteresEspeciais($nome);

$count = 0;

?>
<section>
    <div class="main">
        <div class="container hidden-xs">
            <ul class="breadcrumb">
                <li><a href="<?= SITE_URL . '/Home' ?>">Home</a></li>
                <li><a href="">Loja</a></li>
                <li class="active"><?= $produto['PRD_NOME'] ?></li>
            </ul>
        </div>
        <div class="container">
            <div class="row margin-bottom-20 carr_prods">
                <?php if(count($produtossimilares) > 0){?>
                <div class="sidebar col-md-3 col-sm-5 col-xs-12 hidden-xs">
                    <div class="sidebar-products clearfix">
                        <div class="tabsnav" style="height: 50px">
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#tb1oe" data-toggle="tab">Produtos Similares</a></li>
                            </ul>
                        </div>
                        <?php foreach ($produtossimilares as $row) { ?>
                            <?php
                            $principal = \santosdummontsite\Common::imagem_existe($row['PASTA_IMAGENS'], $row['PRD_IMAGEM_PRINCIPAL'], 2);

                            $nome = $row['PRD_NOME'];

                            $strnome = santosdummontsite\Common::removerCaracteresEspeciais($nome);

                            ?>
                            <div class="item prd-similar">
                                <div class="img">
                                    <a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>"><img src="<?= $principal ?>" alt="<?= $row['PRD_NOME'] ?>"></a>
                                </div>
                                <div class="info">
                                    <a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>"><?= $row['PRD_NOME'] ?></a>
                                    <div class="price"><?//= 'R$' . number_format($row['PRD_PRECO'], 2, ',', '.') ?></div>
                                </div>
                            </div>
                        <?php } ?>
                    </div>
                </div>
                <?php }?>
                <div class="col-md-9 col-sm-7 col-xs-12 item_prod_area">
                    <div class="product-page">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="product-name">
                                    <h2><?= $produto['PRD_NOME'] ?></h2>
                                </div>
                                <div class="product-name">
                                    <h3><strong><?= 'Ref. Prod.: ' . $produto['PRD_SKU'] ?></h3></strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 margin-bottom-10">
                                <div class="col-sm-12 col-xs-12 product-main-image large margin-bottom-10">
                                    <?php if (intval($produto['PRD_DESTAQUE']) == 1) { ?>
                                        <div class="prd-destq prd-novo"></div>
                                    <?php } else if (intval($produto['PRD_DESTAQUE']) == 2) { ?>
                                        <div class="prd-destq prd-desconto">
                                            <div><?= '-' . number_format($row['PRD_TAXA'], 1, ',', '.') . ' %' ?></div>
                                        </div>
                                    <?php } else if (intval($produto['PRD_DESTAQUE']) == 3) { ?>
                                        <div class="prd-destq prd-breve"></div>
                                    <?php } ?>
                                    <a href="<?= $principal_main ?>" data-lightbox="<?= $strnome ?>" class="fancybox-button">
                                        <img src="<?= $principal_main; ?>" data-zoom-image="<?= $principal_main ?>" class="lg-img img-responsive" alt="<?= $produto['PRD_NOME'] ?>">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 hidden-md hidden-sm hidden-lg margin-bottom-10">
                                <div class="product-other-images-thumbs">
                                    <div class="col-sm-3 col-xs-3 thumb">
                                        <a href="<?= $principal_main ?>" data-image="<?= $principal_main ?>" data-zoom-image="<?= $principal_main ?>" data-lightbox="<?= $principal_main ?>" class="fancybox-button">
                                            <img alt="<?= $produto['PRD_NOME'] ?>" src="<?= $principal_main ?>" class="img-responsive">
                                        </a>
                                    </div>
                                    <?php
                                    if (!empty($outras)) {

                                        foreach ($outras as $img) {

                                    ?>
                                            <?php
                                            $principal_thumb = \santosdummontsite\Common::imagem_existe($produto['PASTA_IMAGENS'], $img, 2);
                                            $strnome_thumb = santosdummontsite\Common::removerCaracteresEspeciais($nome);

                                            ?>
                                            <div class="col-sm-3 thumb">
                                                <a href="<?= $principal_thumb ?>" data-image="<?= $principal_thumb ?>" data-zoom-image="<?= $principal_thumb ?>" data-lightbox="<?= $strnome_thumb ?>" class="fancybox-button">
                                                    <img alt="<?= $produto['PRD_NOME'] ?>" src="<?= $principal_thumb ?>" class="img-responsive">
                                                </a>
                                            </div>
                                    <?php
                                            $count++;
                                        }
                                    }

                                    ?>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 product-view-area">

                                <div class="col-sm-12 price-box">
                                    <p class="special-price"> <span class="price-label"></span> <span class="price"><?//= 'R$' . number_format($produto['PRD_PRECO'], 2, ',', '.') ?></span> </p>
                                    <?php if ($produto['PRD_PRECO_ANTERIOR'] > $produto['PRD_PRECO']) { ?>
                                        <p class="old-price"> <span class="price-label"></span> <span class="price"><?//= 'R$' . number_format($produto['PRD_PRECO_ANTERIOR'], 2, ',', '.') ?> </span> </p>
                                    <?php } ?>
                                    <span class="unid"><?= !empty($produto['PRD_UNIDADE']) ? '(Unid.: ' . $produto['PRD_UNIDADE'] . ')' : ''; ?></span>
                                </div>
                                <div class="col-sm-12 col-xs-12 ratings">
                                    <div class="col-sm-4 col-xs-4 rating">
                                        <a href="#" data-class="1" data-action="<?= SITE_URL . '/Home/Classificar/1'; ?>" data-id="<?= $produto['PRD_ID'] ?>" class="add_classificacao <?php echo $produto['NOTA'] >= 1 ? 'classficado' : '' ?>"><span><i class="fa fa-star<?php echo $produto['NOTA'] >= 1 ? '' : '-o' ?>"></i></span></a>
                                        <a href="#" data-class="2" data-action="<?= SITE_URL . '/Home/Classificar/2'; ?>" data-id="<?= $produto['PRD_ID'] ?>" class="add_classificacao <?php echo $produto['NOTA'] >= 2 ? 'classficado' : '' ?>"><span><i class="fa fa-star<?php echo $produto['NOTA'] >= 2 ? '' : '-o' ?>"></i></span></a>
                                        <a href="#" data-class="3" data-action="<?= SITE_URL . '/Home/Classificar/3'; ?>" data-id="<?= $produto['PRD_ID'] ?>" class="add_classificacao <?php echo $produto['NOTA'] >= 3 ? 'classficado' : '' ?>"><span><i class="fa fa-star<?php echo $produto['NOTA'] >= 3 ? '' : '-o' ?>"></i></span></a>
                                        <a href="#" data-class="4" data-action="<?= SITE_URL . '/Home/Classificar/4'; ?>" data-id="<?= $produto['PRD_ID'] ?>" class="add_classificacao <?php echo $produto['NOTA'] >= 4 ? 'classficado' : '' ?>"><span><i class="fa fa-star<?php echo $produto['NOTA'] >= 4 ? '' : '-o' ?>"></i></span></a>
                                        <a href="#" data-class="5" data-action="<?= SITE_URL . '/Home/Classificar/5'; ?>" data-id="<?= $produto['PRD_ID'] ?>" class="add_classificacao <?php echo $produto['NOTA'] >= 5 ? 'classficado' : '' ?>"><span><i class="fa fa-star<?php echo $produto['NOTA'] >= 5 ? '' : '-o' ?>"></i></span></a>
                                    </div>
                                    <div class="col-sm-8 col-xs-8 nopadd text-right">
                                        <div class="availability in-stock pull-right">
                                            <?php /*
                                            <?php foreach ($redessociais as $row) { ?>
                                                <?php if (intval($row['RE_EXEC_LOGIN'] == 1)) { ?>
                                                    <a href="#" data-href="<?= URL . SITE_URL . '/Produtos/Item/' . $produto['PRD_PATH'] ?>" class="btn_social">
                                                        <i class="fa fa-<?= $row['RS_NOME'] ?>-square"></i>
                                                    </a>
                                                <?php } ?>
                                            <?php } ?>
                                            */?>
                                            <div class="btns-share">
                                                <a href="#" data-action="<?= SITE_URL . '/Home/AddFavorito'; ?>" data-id="<?= $produto['PRD_ID'] ?>" class="add_favorite <?php echo $produto['FAVORITO'] != 0 ? 'my_favorite' : '' ?>" title="Adicionar aos favoritos">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </div>
                                            <div class="btn-disp">
                                                <?php if (intval($produto['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                                    <a href="#" class="btn btn-success btn-xs">Em Estoque</a>
                                                <?php } else { ?>
                                                    <a href="#" class="btn btn-danger btn-xs">Indisponível</a>
                                                <?php } ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-other-images-thumbs hidden-xs">
                                    <div class="col-sm-3 thumb">
                                        <a href="<?= $principal_main ?>" data-image="<?= $principal_main ?>" data-zoom-image="<?= $principal_main ?>" data-lightbox="<?= $principal_main ?>" class="fancybox-button">
                                            <img alt="<?= $produto['PRD_NOME'] ?>" src="<?= $principal_main ?>" class="img-responsive">
                                        </a>
                                    </div>
                                    <?php
                                    if (!empty($outras)) {
                                        foreach ($outras as $img) {

                                    ?>
                                            <?php
                                            $principal_thumb = \santosdummontsite\Common::imagem_existe($produto['PASTA_IMAGENS'], $img, 2);
                                            $strnome_thumb = santosdummontsite\Common::removerCaracteresEspeciais($nome);

                                            ?>
                                            <div class="col-sm-3 thumb">
                                                <a href="<?= $principal_thumb ?>" data-image="<?= $principal_thumb ?>" data-zoom-image="<?= $principal_thumb ?>" data-lightbox="<?= $strnome_thumb ?>" class="fancybox-button">
                                                    <img alt="<?= $produto['PRD_NOME'] ?>" src="<?= $principal_thumb ?>" class="img-responsive">
                                                </a>
                                            </div>
                                    <?php
                                            $count++;
                                        }
                                    }

                                    ?>
                                </div>
                                <div class="product-variation">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-right h-230 nopadd-r hidden-xs">
                                        <h3><strong>Calcular Frete</strong></h3>
                                        <div class="form-inline" id="form_calc_frete">
                                            <form id="form_produto_calc_frete1">
                                                <div class="form-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                    <?php $ct = 0; ?>
                                                    <?php foreach ($listameiosentrega as $row) { ?>
                                                        <div class="col-sm-3 col-md-3 col-sm-3 right radio-list text-center">
                                                            <label for="tipo_entrega_<?= $ct; ?>" class="frm_entrega <?= $ct == 0 ? 'frm_selecionado_ent' : ''; ?>">
                                                                <img class="img-pag" alt="<?= $row['DESCRICAO_MEIO'] ?>" src="<?= IMGS_URL . '/' . $row['IMAGEM'] ?>" title="<?= $row['NOME_MEIO'] ?>" />
                                                            </label>
                                                            <div class="hidden">
                                                                <input type="radio" name="tipo_entrega" class="tipo_entrega_op" id="tipo_entrega_<?= $ct; ?>" value="<?= $row['CODIGO_MEIO']; ?>" <?= $ct == 0 ? 'checked="checked"' : '' ?> data-frete="<?= $row['CALC_FRETE'] ?>" data-refresh="<?= SITE_URL . '/Usuarios/AtualizarCarrinho'; ?>" />
                                                            </div>
                                                        </div>
                                                        <?php $ct++; ?>
                                                    <?php } ?>
                                                </div>
                                                <div class="form-group col-lg-12 col-sm-12 col-md-12 col-xs-12 nopadd-r">
                                                    <?php
                                                    $cep = null;

                                                    if ($logado) {
                                                        foreach ($cliente['enderecos'] as $endereco) {
                                                            if (intval($endereco['IS_ENVIO']) == 1) {
                                                                $cep = $endereco['END_CEP'];
                                                                break;
                                                            }
                                                        }
                                                    }

                                                    ?>
                                                    <input type="text" name="cep_frete" id="cep_frete" class="form-control cep validcep" data-name="CEP de destino" maxlength="20" autocomplete="off" value="<?= $cep ?>">
                                                    <button type="button" class="btn btn-success calcula_frete" data-action="<?= $calcularfrete ?>" data-refresh="<?= SITE_URL . '/Usuarios/AtualizarCarrinho'; ?>">Calcular</button>
                                                </div>
                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 frete-preco">
                                                    <div class="col-sm-8 col-md-8 col-xs-8">
                                                        <h5><span>Frete: </span>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-xs-4">
                                                        <h4><strong><span id="frete_total"><?= 'R$ ' . number_format(0, 2, ',', '.') ?></span></strong></h5>
                                                    </div>
                                                    <div class="col-sm-8 col-md-8 col-xs-8">
                                                        <h5><span>Prazo de Entrega: </span>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-xs-4">
                                                        <h5><strong><span id="przo_pedido"></span></strong></h5>
                                                    </div>
                                                    <div class="col-sm-12 col-xs-12">
                                                        <h6><span id="msg_retorno"></span></h6>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-right hidden-sm hidden-md hidden-lg">
                                        <h3><strong>Calcular Frete</strong></h3>
                                        <div class="form-inline" id="form_calc_frete">
                                            <form id="form_produto_calc_frete2">
                                                <div class="form-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                                    <?php $ct = 0; ?>
                                                    <?php foreach ($listameiosentrega as $row) { ?>
                                                        <div class="col-sm-3 col-md-3 col-sm-3 col-xs-3 right radio-list text-center">
                                                            <label for="tipo_entrega_<?= $ct; ?>" class="frm_entrega <?= $ct == 0 ? 'frm_selecionado_ent' : ''; ?>">
                                                                <img class="img-pag" alt="<?= $row['DESCRICAO_MEIO'] ?>" src="<?= IMGS_URL . '/' . $row['IMAGEM'] ?>" title="<?= $row['NOME_MEIO'] ?>" />
                                                            </label>
                                                            <div class="hidden">
                                                                <input type="radio" name="tipo_entrega" class="tipo_entrega_op" id="tipo_entrega_<?= $ct; ?>" value="<?= $row['CODIGO_MEIO']; ?>" <?= $ct == 0 ? 'checked="checked"' : '' ?> data-frete="<?= $row['CALC_FRETE'] ?>" data-refresh="<?= SITE_URL . '/Usuarios/AtualizarCarrinho'; ?>" />
                                                            </div>
                                                        </div>
                                                        <?php $ct++; ?>
                                                    <?php } ?>
                                                </div>
                                                <div class="input-group">
                                                    <?php
                                                    $cep = null;

                                                    if ($logado) {
                                                        foreach ($cliente['enderecos'] as $endereco) {
                                                            if (intval($endereco['IS_ENVIO']) == 1) {
                                                                $cep = $endereco['END_CEP'];
                                                                break;
                                                            }
                                                        }
                                                    }

                                                    ?>
                                                    <input type="text" name="cep_frete" id="cep_frete" class="form-control cep validcep" data-name="CEP de destino" maxlength="20" autocomplete="off" value="<?= $cep ?>">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-success calcula_frete" data-action="<?= $calcularfrete ?>" data-refresh="<?= SITE_URL . '/Usuarios/AtualizarCarrinho'; ?>">Calcular</button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 frete-preco">
                                                    <div class="col-sm-8 col-md-8 col-xs-8">
                                                        <h5><span>Frete: </span>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-xs-4">
                                                        <h4><strong><span id="frete_total"><?= 'R$ ' . number_format(0, 2, ',', '.') ?></span></strong></h5>
                                                    </div>
                                                    <div class="col-sm-8 col-md-8 col-xs-8">
                                                        <h5><span>Prazo de Entrega: </span>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-xs-4">
                                                        <h5><strong><span id="przo_pedido"></span></strong></h5>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-xs-12">
                                                        <h6><span id="msg_retorno"></span></h6>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <form action="#" method="post">
                                        <?php if (intval($produto['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                            <div class="cart-plus-minus">
                                                <div class="numbers-row">
                                                    <div class="dec qtybutton remover">
                                                        <i class="fa fa-minus">&nbsp;</i>
                                                    </div>
                                                    <input type="text" class="qty" title="Quantidade" value="1" maxlength="12" id="qty" name="qty">
                                                    <div class="inc qtybutton adicionar" data-id="<?= $produto['PRD_ID'] ?>">
                                                        <i class="fa fa-plus">&nbsp;</i>
                                                    </div>
                                                </div>
                                            </div>
                                        <?php } ?>
                                        <?php if (intval($produto['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                            <a href="#" data-action="<?= SITE_URL . '/Home/Adicionar'; ?>" data-id="<?= $produto['PRD_ID'] ?>" class="btn right btn-success btn-lg btn_adicionar" title="Adicionar">
                                                <span><i class="fa fa-shopping-cart"></i> Cotar</span>
                                            </a>
                                        <?php } else { ?>
                                            <a href="#" data-action="<?= SITE_URL . '/Home/Lembrar'; ?>" data-id="<?= $produto['PRD_ID'] ?>" class="btn right btn-warning btn-lg btn_lembrar" title="Lembrar">
                                                <span><i class="fa fa-check"></i> Lembre-me</span>
                                            </a>
                                        <?php } ?>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row hgt-510">
                            <div class="col-sm-12 col-xs-12 tabs">
                                <div class="tabsnav">
                                    <ul class="nav nav-pills" style="margin-bottom: -6px;">
                                        <li class="active"><a href="#tbp2" data-toggle="tab">Ficha Técnica</a></li>
                                        <li><a href="#tbp1" data-toggle="tab">Descrição</a></li>
                                        <li><a href="#tbp3" data-toggle="tab">Comentários (<?= count($listacomentarios) ?>)</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content clearfix tabscontent infoprod">
                                    <div class="tab-pane fade in sliders_slider informac active" id="tbp2">
                                        <?= $produto['PRD_FICHA_TECNICA'] ?>
                                    </div>
                                    <div class="tab-pane fade in sliders_slider informac" id="tbp1">
                                        <?= $produto['PRD_DESCRICAO_MINIMA'] ?>
                                    </div>
                                    <div class="tab-pane fade in sliders_slider informac" id="tbp3">
                                        <div class="col-sm-5">
                                            <?php if (count($listacomentarios) > 0) { ?>
                                                <?php foreach ($listacomentarios as $row) { ?>
                                                    <div class="review-item clearfix">
                                                        <div class="review-item-submitted">
                                                            <strong><?= $row['NOME'] ?></strong>
                                                            <span><?= $row['DATA_CAD'] ?></span>
                                                            <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                                        </div>
                                                        <div class="review-item-content">
                                                            <p><?= $row['COMENTARIO'] ?></p>
                                                        </div>
                                                    </div>
                                                <?php } ?>
                                            <?php } else { ?>
                                                <h5>Não há comentários</h5>
                                            <?php } ?>
                                        </div>
                                        <div class="col-sm-7">
                                            <form action="<?= $actioncoment ?>" class="reviews-form" role="form" method="post">
                                                <div class="form-group">
                                                    <label for="name">Nome <span class="require">*</span></label>
                                                    <input type="text" class="form-control" id="nome" name="nome" required="true">
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">E-mail </label>
                                                    <input type="text" class="form-control" id="email" name="email">
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="8" id="comentario" name="comentario" maxlength="100" required="true"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <div class="div-captcha g-recaptcha" data-sitekey="<?= \santosdummontsite\Common::encrypt_decrypt('decrypt', $config['CHAVE_CAPTCHA']) ?>"></div>
                                                </div>
                                                <div class="padding-top-20 right">
                                                    <button type="submit" class="btn btn-lg btn-success">Enviar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<?php if (false) { ?>
    <section class="sec_produtos_populares">
        <div class="container">
            <div class="row margin-bottom-20">
                <div class="container tabsnav">
                    <ul class="nav nav-pills" style="margin-bottom: -6px;">
                        <li class="active"><a class="tab_cor_esp" href="#tb1oe" data-toggle="tab">Mais buscados</a></li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 padding-top-10">
                    <div class="owl-carousel owl-carousel4">
                        <?php foreach ($produtospopulares as $row) { ?>
                            <?php
                            $principal = \santosdummontsite\Common::imagem_existe($row['PASTA_IMAGENS'], $row['PRD_IMAGEM_PRINCIPAL'], 2);

                            $nome = $row['PRD_NOME'];

                            $strnome = \santosdummontsite\Common::removerCaracteresEspeciais($nome);

                            ?>
                            <div class="col-md-2 col-sm-2 col-xs-6 sub_item product-item">
                                <?php if (intval($row['PRD_DESTAQUE']) == 1) { ?>
                                    <div class="prd-destq prd-novo"></div>
                                <?php } else if (intval($row['PRD_DESTAQUE']) == 2) { ?>
                                    <div class="prd-destq prd-desconto">
                                        <div><?= '-' . number_format($row['PRD_TAXA'], 1, ',', '.') . ' %' ?></div>
                                    </div>
                                <?php } else if (intval($row['PRD_DESTAQUE']) == 3) { ?>
                                    <div class="prd-destq prd-breve"></div>
                                <?php } ?>
                                <div class="pi-img-wrapper">
                                    <img src="<?= $principal; ?>" class="img-responsive" alt="<?= $row['PRD_NOME'] ?>">
                                    <div>
                                        <a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>" class="btn btn-default">Detalhes</a>
                                        <a href="#modal" class="btn btn-default hidden-xs btn_prd_detalhes" data-action="<?= SITE_URL . '/Produtos/Detalhe/' . $row['PRD_ID']; ?>">Resumo</a>
                                        <a href="#modal" class="btn btn-default hidden-lg hidden-md hidden-sm btn_prd_detalhes_mob" data-action="<?= SITE_URL . '/Produtos/Detalhe/' . $row['PRD_ID']; ?>">Resumo</a>
                                    </div>
                                </div>
                                <p><a href="<?= SITE_URL . '/Produtos/Item/' . $row['PRD_PATH'] ?>"><?= \santosdummontsite\Common::tratar_frases_grandes($row['PRD_NOME'], 44); ?></a></p>
                                <span class="refencia">
                                    <h5><strong><?= 'Ref. Prod.: ' . $row['PRD_SKU'] ?></strong></h5>
                                </span>
                                <div class="col-xs-12 quantidade">
                                    <?php if (intval($row['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                        <div class="cart-plus-minus">
                                            <div class="numbers-row">
                                                <button class="dec qtybutton rem_qtde_prod">
                                                    <i class="fa fa-minus">&nbsp;</i>
                                                </button>
                                                <input type="text" class="qty" title="Quantidade" value="1" maxlength="12" name="qty">
                                                <button class="inc qtybutton add_qtde_prod">
                                                    <i class="fa fa-plus">&nbsp;</i>
                                                </button>
                                            </div>
                                        </div>
                                    <?php } else { ?>
                                        <div class="prd-indisp">
                                            Indisponível
                                        </div>
                                    <?php } ?>
                                    <?php
                                    if (intval($row['PRD_QTDE_ESTOQUE']) > 1) {
                                        $plural = ['m', 's'];
                                    } else {
                                        $plural = ['', ''];
                                    }

                                    ?>
                                    <div class="info-qtde">
                                        <?php if (boolval($config['EXIBIR_ESTOQUE'])) { ?>
                                            <span><?= intval($row['PRD_QTDE_ESTOQUE']) > 0 ? "Existe" . $plural[0] . " <strong>" . $row['PRD_QTDE_ESTOQUE'] . "</strong> produto" . $plural[1] . " em estoque" : "Deixe seu e-mail que lembraremos você" ?></span>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div class="col-xs-12 pagar">
                                    <div class="col-xs-5 info">
                                        <div class="preco"><?//= 'R$' . number_format($row['PRD_PRECO'], 2, ',', '.') ?></div>
                                    </div>
                                    <div class="col-xs-7 btncarrinho">
                                        <?php if (intval($row['PRD_QTDE_ESTOQUE']) > 0) { ?>
                                            <a href="#" data-action="<?= SITE_URL . '/Home/Adicionar'; ?>" data-id="<?= $row['PRD_ID'] ?>" class="btn btn-xs btn-md btn-sm btn-success btn_adicionar" title="Adicionar">
                                                <span>Cotar</span>
                                            </a>
                                        <?php } else { ?>
                                            <a href="#" data-action="<?= SITE_URL . '/Home/Lembrar'; ?>" data-id="<?= $row['PRD_ID'] ?>" class="btn btn-xs btn-md btn-sm btn-warning btn_lembrar" title="Lembrar">
                                                <span>Lembre-me</span>
                                            </a>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    </section>
<?php } ?>
