<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="<?= SITE_URL . '/Home' ?>">Home</a></li>
            <li><a href="<?= SITE_URL . '/Usuarios/MinhaConta/' . $cliente['dados']['CLI_ID'] ?>">Minha Conta</a></li>
            <li class="active">Pedidos Devolvidos</li>
        </ul>
        <div class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid margin-bottom-40">
            <div class="page-container">
                <div class="page-content-wrapper">
                    <h1 class="page-title"> Pedidos Devolvidos</h1>
                    <hr>
                    <div class="content">
                        <ul class="lista-pedidos">
                            <?php if (count($listapedidos) > 0) { ?>
                                <?php $ct = 0; ?>
                                <?php foreach ($listapedidos as $pedido) { ?>
                                    <li class="row">
                                        <h4><strong><a href="#" class="item_pedido" data-detalhe="#detalhe_ped_<?= $ct; ?>"><i class="fa fa-chevron-right rotate"></i> Pedido <?= $pedido['TOKEN'] . ' - ' . $pedido['DATA_CADASTRO'] . ' - ' . $pedido['STATUS_PED'] ?></a></strong></h4>
                                        <div class="col-md-12 ped_detalhe" id="detalhe_ped_<?= $ct; ?>" style="display: none">
                                            <div class="col-md-6">
                                                <h5>Dados da Compra</h5>
                                                <div class="col-sm-12">
                                                    <h3>Identificaçao do pedido: <strong><?= $pedido['TOKEN'] ?></strong></h3>
                                                </div>
                                                <div class="col-sm-12">
                                                    <h4><strong>Forma de Pagamento</strong></h4>
                                                    <div>
                                                        <img class="img-pag" src="<?= FOTOPAGAMENTO_URL . '/' . $pedido['MEIO_IMG'] ?>" title="<?= $pedido['MEIO_PAG'] ?>" />
                                                    </div>
                                                    <?php if (!empty($pedido['BANDEIRA'])) { ?>
                                                        <div>
                                                            <?php if ($pedido['BANDEIRA'] == 'VISA') { ?>
                                                                <label>
                                                                    <div style="background-image: url('<?= GERAL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:2% 5%; background-size:451%"></div>
                                                                </label>
                                                            <?php } ?>
                                                            <?php if ($pedido['BANDEIRA'] == 'MASTERCARD') { ?>
                                                                <label>
                                                                    <div style="background-image: url('<?= GERAL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:34% 5%; background-size:451%"></div>
                                                                </label>
                                                            <?php } ?>
                                                            <?php if ($pedido['BANDEIRA'] == 'AMERICAN EXPRESS') { ?>
                                                                <label>
                                                                    <div style="background-image: url('<?= GERAL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:66% 5%; background-size:451%"></div>
                                                                </label>
                                                            <?php } ?>
                                                            <?php if ($pedido['BANDEIRA'] == 'JCB') { ?>
                                                                <label>
                                                                    <div style="background-image: url('<?= GERAL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:98.4% 5%; background-size:451%"></div>
                                                                </label>
                                                            <?php } ?>
                                                            <?php if ($pedido['BANDEIRA'] == 'ELO') { ?>
                                                                <label>
                                                                    <div style="background-image: url('<?= GERAL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:1.5% 94%; background-size:451%"></div>
                                                                </label>
                                                            <?php } ?>
                                                            <?php if ($pedido['BANDEIRA'] == 'DINERS CLUB') { ?>
                                                                <label>
                                                                    <div style="background-image: url('<?= GERAL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:33.8% 94%; background-size:451%"></div>
                                                                </label>
                                                            <?php } ?>
                                                            <?php if ($pedido['BANDEIRA'] == 'DISCOVER') { ?>
                                                                <label>
                                                                    <div style="background-image: url('<?= GERAL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:66% 95%; background-size:451%"></div>
                                                                </label>
                                                            <?php } ?>
                                                            <?php if ($pedido['BANDEIRA'] == 'AURA') { ?>
                                                                <label>
                                                                    <div style="background-image: url('<?= GERAL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:98.6% 95%; background-size:451%"></div>
                                                                </label>
                                                            <?php } ?>
                                                        </div>
                                                    <?php } ?>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="col-sm-12">
                                                    <h3><span>Total do Pedido: </span><strong><span id="total_pedido"><?= 'R$' . number_format(($totaischeckout[0]['FRETE_TOTAL'] + $totaischeckout[0]['PRECO_TOTAL']), 2, ',', '.') ?></span></strong></h3>
                                                </div>
                                                <div class="col-sm-12">
                                                    <?php if (intval($pedido['COD_MP_PAG']) != 719680) { ?>
                                                        <h4><strong>Local de Entrega</strong></h4>
                                                        <div>
                                                            <div class="form-group">
                                                                <div><span><?= $pedido['END_ENDERECO'] . ', ' . $pedido['END_NUM'] ?></span></div>
                                                                <div><span><?= 'CEP: ' . $pedido['END_CEP'] . ', ' . $pedido['END_BAIRRO'] . ', ' . $pedido['END_CIDADE'] . '-' . $pedido['END_UF'] ?></span></div>
                                                                <?php if (!empty($pedido['END_COMPLEMENTO'])) { ?>
                                                                    <div><span><?= 'Complemento: ' . $pedido['END_COMPLEMENTO'] ?></span></div>
                                                                <?php } ?>
                                                            </div>
                                                        </div>
                                                    <?php } else { ?>
                                                        <h4><strong>Local de Retirada</strong></h4>
                                                        <div>
                                                            <div class="form-group">
                                                                <div><span>Loja Santos Dumont Componentes Eletrônicos</span></div>
                                                                <div><span><?= $contatosite['ENDERECO'] . ', ' . $contatosite['NUMERO'] ?></span></div>
                                                                <div><span><?= 'CEP: ' . $contatosite['CEP'] . ', ' . $contatosite['BAIRRO'] . ', ' . $contatosite['CIDADE'] . '-' . $contatosite['UF'] ?></span></div>
                                                            </div>
                                                        </div>
                                                    <?php } ?>
                                                    <h4><strong>Método de Entrega</strong></h4>
                                                    <div>
                                                        <div class="form-group">
                                                            <div><span><?= $pedido['MEIO_ENT'] ?></span></div>
                                                            <img class="img-pag" src="<?= FOTOENTREGAS_URL . '/' . $pedido['MEIO_IMG_ENT'] ?>" title="<?= $pedido['MEIO_ENT'] ?>" />
                                                        </div>
                                                    </div>
                                                    <h4><strong>Observação</strong></h4>
                                                    <div>
                                                        <div class="form-group">
                                                            <div><span><?= $pedido['COMENTARIO'] ?></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <?php $ct++; ?>
                                <?php } ?>
                            <?php } else { ?>
                                <h2>Não há pedidos registrados!</h2>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
