<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="<?= SITE_URL . '/Home' ?>">Home</a></li>
            <li><a href="">Loja</a></li>
            <li class="active">Pedido Finalizado</li>
        </ul>

        <div class="row">
            <div class="col-md-12 col-sm-12 margin-top-20 detalhe_pedido">
                <?php
                switch (intval($inforesumopedido['STATUS'])) {
                    case 1:

                ?>
                        <h1>Pedido Finalizado</h1>
                        <h3>
                            Parabéns,<br />
                            Você acaba de realizar uma compra em nossa loja.
                        </h3>
                    <?php
                        break;
                    case 2:

                    ?>
                        <h1>Pedido Em Análise</h1>
                        <h3>
                            O pedido foi finalizado porém não obtivemos retorno da fonte pagadora.
                        </h3>
                    <?php
                        break;
                    case 3:

                    ?>
                        <h1>Pedido Finalizado</h1>
                        <h3>
                            Parabéns,<br />
                            Você acaba de realizar uma compra em nossa loja.
                        </h3>
                    <?php
                        break;
                    case 4:

                    ?>
                        <h1>Pedido </h1>
                        <h3>
                            O pedido foi finalizado porém não obtivemos retorno da instituição financeira.
                        </h3>
                    <?php
                        break;
                    case 5:

                    ?>
                        <h1>Pedido Em disputa</h1>
                        <h3>
                            O Comprador entrou em disputa dentro do prazo de liberação de pagamento.
                        </h3>
                    <?php
                        break;
                    case 6:

                    ?>
                        <h1>Pedido Cancelado</h1>
                        <h3>
                            Infelizmente não foi possível finalizar o seu pedido,<br />
                            O valor foi devolvido para o Comprador.
                        </h3>
                    <?php
                        break;
                    case 7:

                    ?>
                        <h1>Pedido Cancelado</h1>
                        <h3>
                            Infelizmente não foi possível finalizar o seu pedido.
                        </h3>
                <?php
                        break;
                }

                ?>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 detalhe_pedido">
                <h3><strong>Dados da Compra</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="table-wrapper-responsive col-sm-12">
                <table class="tb-finalizapedido">
                    <tbody>
                        <?php foreach ($listacheckout as $produto) { ?>
                            <tr>
                                <td class="text-left uppercase">
                                    <h5><?= $produto['PRD_NOME'] ?></h5>
                                </td>
                                <td class="checkout-quantity uppercase" style="width: 100px">
                                    <h5><?= $produto['QTDE'] . ' Itens' ?></h5>
                                </td>
                                <td class="text-right uppercase" style="width: 100px">
                                    <h5><strong><span>R$</span><?= number_format($produto['PRECO_TOTAL'], 2, ',', '.') ?></strong></h5>
                                </td>
                            </tr>
                        <?php } ?>
                        <tr>
                            <td class="text-left uppercase"></td>
                            <td class="checkout-quantity uppercase" style="width: 100px">
                                <h5>Frete: </h5>
                            </td>
                            <td class="text-right" style="width: 100px">
                                <h5><strong><span>R$</span><?= number_format($inforesumopedido['VALOR_FRETE'], 2, ',', '.') ?></strong></h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3><strong>Pedido: <?= $tokenpedido ?></strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4><strong>Forma de Pagamento</strong></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <img class="img-pag" src="<?= FOTOPAGAMENTO_URL . '/' . $inforesumopedido['MEIO_IMG'] ?>" title="<?= $inforesumopedido['MEIO_PAG'] ?>" />
            </div>
            <?php
            switch ($inforesumopedido['PAY_METHOD_TYPE_STR']) {
                case 'CREDIT_CARD':

            ?>
                    <div class="col-sm-2">
                        <label><strong>Cartão de Crédito</strong></label>
                        <div>
                            <img src="<?= $inforesumopedido['BANDEIRA'] ?>" class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label><strong>Data da Transação</strong></label>
                        <div><?= gmdate("j/m/Y H:i:s", strtotime($inforesumopedido['DATE'])) ?></div>
                    </div>
                    <div class="col-sm-7">
                        <label><strong>Status</strong></label>
                        <div class="red info-pag"><strong><?= $inforesumopedido['MENSAGEM'] . ' - ' . $inforesumopedido['DESCRICAO'] ?></strong></div>
                    </div>
                <?php
                    break;
                case 'BOLETO':

                ?>
                    <div class="col-sm-2">
                        <label><strong>Boleto Bancário</strong></label>
                        <div>
                            <a class="btn btn-info btn-sm" href="<?= $inforesumopedido['PAYMENT_LINK'] ?>" target="_blank"><strong>Imprimir Boleto</strong></a>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label><strong>Data da Transação</strong></label>
                        <div><?= gmdate("j/m/Y H:i:s", strtotime($inforesumopedido['DATE'])) ?></div>
                    </div>
                    <div class="col-sm-7">
                        <label><strong>Status</strong></label>
                        <div class="red info-pag"><strong><?= $inforesumopedido['MENSAGEM'] . ' - ' . $inforesumopedido['DESCRICAO'] ?></strong></div>
                    </div>
                <?php
                    break;
                case 'BALANCE':
                    break;
                case 'ONLINE_DEBIT':

                ?>
                    <div class="col-sm-2">
                        <label><strong>Débito On-line</strong></label>
                        <div>
                            <label>Banco <strong>Itaú</strong></label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label><strong>Data da Transação</strong></label>
                        <div><?= gmdate("j/m/Y H:i:s", strtotime($inforesumopedido['DATE'])) ?></div>
                    </div>
                    <div class="col-sm-7">
                        <label><strong>Status</strong></label>
                        <div class="red info-pag"><strong><?= $inforesumopedido['MENSAGEM'] . ' - ' . $inforesumopedido['DESCRICAO'] ?></strong></div>
                    </div>
            <?php
                    break;
                case 'DEPOSIT':
                    break;
            }

            ?>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3><strong>Total do Pedido: <?= 'R$' . number_format($totaischeckout[0]['PRECO_TOTAL'], 2, ',', '.') ?></strong></h3>
            </div>
        </div>
        <div class="row margin-top-20">
            <?php if (intval($inforesumopedido['COD_MP_PAG']) != 719680) { ?>
                <div class="col-md-6 col-sm-12">
                    <label><strong>Local de Entrega</strong></label>
                    <div>
                        <div class="form-group">
                            <div><span><?= $inforesumopedido['END_ENDERECO'] . ', ' . $inforesumopedido['END_NUM'] ?></span></div>
                            <div><span><?= 'CEP: ' . $inforesumopedido['END_CEP'] . ', ' . $inforesumopedido['END_BAIRRO'] . ', ' . $inforesumopedido['END_CIDADE'] . '-' . $inforesumopedido['END_UF'] ?></span></div>
                            <?php if (!empty($inforesumopedido['END_COMPLEMENTO'])) { ?>
                                <div><span><?= 'Complemento: ' . $inforesumopedido['END_COMPLEMENTO'] ?></span></div>
                            <?php } ?>
                        </div>
                    </div>
                </div>
            <?php } else { ?>
                <div class="col-md-6 col-sm-12">
                    <label><strong>Local de Retirada</strong></label>
                    <div>
                        <div class="form-group">
                            <div><span>Loja Santos Dumont Componentes Eletrônicos</span></div>
                            <div><span><?= $contatosite['ENDERECO'] . ', ' . $contatosite['NUMERO'] ?></span></div>
                            <div><span><?= 'CEP: ' . $contatosite['CEP'] . ', ' . $contatosite['BAIRRO'] . ', ' . $contatosite['CIDADE'] . '-' . $contatosite['UF'] ?></span></div>
                        </div>
                    </div>
                </div>
            <?php } ?>
            <div class="col-md-2 col-sm-12">
                <label><strong>Método de Entrega</strong></label>
                <div>
                    <img class="img-pag" src="<?= IMGS_URL . '/' . $inforesumopedido['MEIO_IMG_ENT'] ?>" title="<?= $inforesumopedido['MEIO_ENT'] ?>" />
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <label><strong>Observação</strong></label>
                <div>
                    <div><span><?= $inforesumopedido['COMENTARIO'] ?></span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin-top-20">
                <h3>
                    Fique atento à sua caixa de e-mail pois logo mais você estará recebendo todos os detalhes da sua compra.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin-top-20 margin-bottom-20">
                <a href="<?= SITE_URL . '/Home' ?>" class="btn btn-success">Continuar Comprando</a>
            </div>
        </div>
    </div>
</div>
